<div
    class="user-preview"
    (click)="navigateToUser()"
    tabindex="0"
    (keypress)="onKeyPress($event)"
>
    <p-avatar
        class="avatar"
        [icon]="
            !user.profilePictureUrl || showProfilePicturePlaceholder
                ? 'pi pi-user'
                : undefined
        "
        shape="circle"
        [style]="{
            'background-color': 'var(--accent-color-2)',
            border: '2px solid var(--outline-color)',
            color: 'var(--text-accent-color-2)',
            'border-width': '2px'
        }"
        [image]="
            user.profilePictureUrl && !showProfilePicturePlaceholder
                ? user.profilePictureUrl
                : undefined
        "
        (onImageError)="onProfilePictureError()"
    ></p-avatar>
    <span class="username wk-nowrap" translate="no">{{ user.username }}</span>
    <span class="location"
        >{{ city ?? user.city }}, {{ country ?? user.country }}</span
    >
</div>
