@use "layouts";

.notification-wrapper {
    @include layouts.grid(
        "header delete" auto " message delete" 1fr / 1fr auto,
        $justify-content: center,
        $justify-items: start,
        $align-items: center,
        $align-content: center,
        $gap: 0
    );
    padding: 0.4rem 0.4rem;
    column-gap: 1ch;
    cursor: pointer;

    &.unread {
        background-color: var(--accent-color-1-transparent);
    }
}

.notification-header,
.notification-message {
    font-size: var(--font-size-medium);
    color: var(--text-color-1);
    word-break: break-word;
    max-width: 100%;
    line-height: normal;
}

.notification-header {
    font-weight: var(--font-weight-bold);
    grid-area: header;
}

.notification-message {
    grid-area: message;
}

.notification-delete-btn {
    grid-area: delete;
    color: var(--basic-affordances-color);
    cursor: pointer;

    .unread & {
        color: var(--accent-color-1);
    }
}
