@use "layouts";

.reload-prompt {
    @include layouts.flex(column, start, center, 1rem);
    align-self: center;
    color: var(--text-color-3);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    .reload-prompt-button {
        @include layouts.center;
        color: var(--text-color-3);
        --size: calc(2 * var(--font-size-large));
        --padding: 1rem;
        padding: 0;
        i {
            line-height: normal;
            width: 100%;
            height: 100%;
            font-size: var(--size);
            height: calc(var(--size) + var(--padding));
            width: calc(var(--size) + var(--padding));
            &.spin {
                animation: spin 0.15s linear;
            }
            color: var(--text-color-3);
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
