@use "layouts";
@use "viewports";

.cards-placeholder {
    width: 100%;
    @include layouts.flex(column, center, stretch, var(--page-items-gap));
}

@include viewports.mobile {
    .cards-placeholder {
        gap: calc(var(--page-items-gap) * 0.5);
    }

    :host ::ng-deep {
        .p-skeleton {
            border-radius: 0 !important;
        }
    }
}
