@use "layouts";
@use "viewports";

.checkout-page {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    color: var(--text-color-1);
    padding: 2rem;
    padding-top: 4rem;

    @include viewports.mobile {
        height: 100%;
    }
}

.checkout-page-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bolder);
    line-height: var(--line-height-large);
}

.checkout-recap {
    font-weight: var(--font-weight-bolder);
}

.checkout-form-label {
    margin-bottom: calc(var(--page-items-gap) * -0.8);
}

.payment-method-form {
    @include layouts.flex(column, start, stretch);
    margin: 0 -2rem;
    border-top: var(--border);
    flex-grow: 1;
}

.checkout-submit-btn {
    align-self: start;
    margin-left: 2rem;
    margin-top: var(--page-items-gap);

    @include viewports.mobile {
        margin: 0 2rem;
        margin-top: var(--page-items-gap);
        align-self: stretch;
        justify-self: end;
    }
}

.spacer {
    flex-grow: 1;
}

.error {
    margin-left: 2rem;
    margin-top: 1rem;
}
