<main class="checkout-page">
    @if ((windowService.isMobile$ | async) === false) {
        <h1 class="checkout-page-title">Checkout</h1>
    }
    @if (auction) {
        <p class="checkout-recap">
            You are
            {{ operation === OPERATIONS.bid ? "making" : "accepting" }} a
            {{ auction.kind | auctionKind: "bid" }} bid for
            {{ bidAmount | currency: auction.currency }}
        </p>
    }

    <p class="checkout-form-label">
        Select your payment{{
            requiredCategory === PAYMENT_METHOD_CATEGORIES.paying
                ? ""
                : " receiving"
        }}
        method:
    </p>
    <form
        class="payment-method-form"
        [formGroup]="chosenPaymentMethodForm"
        (ngSubmit)="onSubmit()"
    >
        @for (savedMethod of savedPaymentMethodOptions; track savedMethod.id) {
            <dd24-payment-method-option
                class="payment-method-option"
                [form]="chosenPaymentMethodForm"
                controlName="chosenPaymentMethod"
                [value]="savedMethod"
                [optionStyle]="{
                    paddingLeft: '2rem',
                    paddingRight: '2rem',
                    borderBottom: 'var(--border)'
                }"
            ></dd24-payment-method-option>
        }
        @for (newMethod of newPaymentMethodOptions; track $index) {
            <dd24-payment-method-option
                [value]="newMethod"
                class="payment-method-option"
                [form]="chosenPaymentMethodForm"
                controlName="chosenPaymentMethod"
                [optionStyle]="{
                    paddingLeft: '2rem',
                    paddingRight: '2rem',
                    borderBottom:
                        newPaymentMethodFormVisible !== newMethod
                            ? 'var(--border)'
                            : ''
                }"
            ></dd24-payment-method-option>
            @if (newPaymentMethodFormVisible === newMethod) {
                <dd24-payment-method-form
                    [type]="newMethod"
                    [form]="newPaymentMethodFormGroup"
                    [formStyle]="{
                        paddingLeft: '2rem',
                        borderBottom: 'var(--border)',
                        paddingTop: '0'
                    }"
                ></dd24-payment-method-form>
            }
        }
        <p-button
            class="checkout-submit-btn"
            type="submit"
            label="Confirm and bid"
            [style]="{ padding: '1rem 2rem' }"
        ></p-button>
    </form>
</main>
