<main class="checkout-page">
    @if ((windowService.isMobile$ | async) === false) {
        <h1 class="checkout-page-title">Checkout</h1>
    }
    <p class="checkout-recap">
        You are {{ operation === OPERATIONS.bid ? "making" : "accepting" }} a
        {{ auction?.newBidCategory() }} bid for
        {{ bidAmount | currency: auction?.currency }}
    </p>

    <p>
        Select your payment{{
            operation === OPERATIONS.bid ? "" : " receiving"
        }}
        method:
    </p>
    <form class="payment-method-form" [formGroup]="paymentMethodForm">
        @for (temp of paymentMethodOptions; track temp.id) {
            <dd24-payment-method-option
                class="payment-method-option"
                [form]="paymentMethodForm"
                controlName="chosenPaymentMethod"
                [value]="temp"
                [optionStyle]="{
                    paddingLeft: '2rem',
                    paddingRight: '2rem',
                    borderBottom: 'var(--border)'
                }"
            ></dd24-payment-method-option>
        }
    </form>
</main>
