@use "layouts";

.profile-pic-wrapper {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 3px solid var(--outline-color);
    aspect-ratio: 1/1;

    &:focus {
        border: 3px solid var(--accent-color-1);
        outline: 3px solid var(--accent-color-1);
        outline-offset: -1px;
        box-shadow: none;
    }
}

.change-profile-pic-btn {
    @include layouts.center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 100%;

    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.2rem;
}

:host ::ng-deep {
    .profile-pic-avatar {
        .p-avatar-icon {
            font-size: 3rem;
        }
    }
}
