<div
    class="profile-pic-wrapper"
    pRipple
    (click)="profilePicInput.click()"
    tabindex="0"
    (keyup.enter)="profilePicInput.click()"
>
    <p-avatar
        class="profile-pic-avatar"
        [icon]="picture ? '' : 'pi pi-user'"
        shape="circle"
        [image]="picture ?? undefined"
        [style]="{
            width: '6rem',
            height: '6rem'
        }"
    />
    <div class="change-profile-pic-btn">
        <i class="pi pi-pen-to-square"></i>
    </div>
    <input
        type="file"
        #profilePicInput
        (change)="onPictureSelection($event)"
        style="display: none"
        accept="image/*"
    />
</div>
