<ng-template #searchButton>
    <p-button
        type="submit"
        class="search-button"
        icon="pi pi-search"
        label="Search"
    >
    </p-button>
</ng-template>

<form
    class="search-section"
    [formGroup]="searchForm"
    (ngSubmit)="handleSubmit()"
>
    <div class="search-inputs-container">
        <div class="search-bar-wrapper">
            <p-iconField
                iconPosition="left"
                class="search-bar"
                [style]="{
                    display: 'flex',
                    width: '100%',
                    alignItems: 'center'
                }"
            >
                <p-inputIcon styleClass="pi pi-search" />
                <input
                    #keywordsInput
                    class="search-bar-input"
                    pInputText
                    placeholder="What are you looking for?"
                    formControlName="keywords"
                />
            </p-iconField>
            @if (windowService.isMobile$ | async) {
                <!-- <ng-container *ngTemplateOutlet="searchButton"></ng-container> -->
                <button
                    type="button"
                    class="extra-controls-btn"
                    (click)="toggleExtraControls()"
                >
                    <i class="pi pi-ellipsis-v"></i>
                </button>
            }
        </div>
        @if (renderExtraControls) {
            <p-dropdown
                class="auction-type-selection"
                [class.extra-control-shown]="showExtraControls"
                [class.hidden]="displayNoneExtraControls"
                formControlName="type"
                [options]="auctionTypeOptions"
                optionLabel="name"
                optionValue="value"
                (onChange)="submitIfMobile()"
            >
            </p-dropdown>
            <dd24-category-selection
                class="category-selection"
                [class.extra-control-shown]="showExtraControls"
                [class.hidden]="displayNoneExtraControls"
                [form]="searchForm"
                controlName="category"
                (valueChange)="submitIfMobile()"
            ></dd24-category-selection>
            @if (windowService.isMobile$ | async) {
                <div
                    class="policy-selection"
                    [class.extra-control-shown]="showExtraControls"
                    [class.hidden]="displayNoneExtraControls"
                >
                    <p-inputSwitch
                        class="policy-switch"
                        inputId="search-section-policy-switch"
                        formControlName="policy"
                        name="policy"
                        [falseValue]="policyOptions.trending"
                        [trueValue]="policyOptions.expiration"
                        (onChange)="submitIfMobile()"
                    />
                    <label for="search-section-policy-switch"
                        >Sort by time left</label
                    >
                </div>
            }
        }
    </div>
    @if ((windowService.isMobile$ | async) === false) {
        <ng-container *ngTemplateOutlet="searchButton"></ng-container>
    }
</form>
