@use "layouts";
@use "viewports";

.search-section {
    @include layouts.flex(row, stretch, stretch, 1ch, wrap);
    width: 100%;
    font-size: var(--font-size-large);
    row-gap: 0.5rem;

    @include viewports.mobile {
        justify-content: stretch;
    }

    .search-inputs-container {
        @include layouts.flex(row, start, stretch);
        font-size: var(--font-size-medium);
        flex-grow: 1000;

        @include viewports.notMobile {
            border: 2px solid var(--outline-color);

            > :not(:last-child) {
                border-right: 2px solid var(--outline-color);
            }
        }

        @include viewports.mobile {
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 1rem;
            gap: 1ch;
        }
    }
}

.search-bar-wrapper {
    @include layouts.flex(row, space-between, stretch, 1ch);
    flex-grow: 1;

    @include viewports.mobile {
        height: 2.65rem;
        width: 100%;
    }
}

@include viewports.notMobile {
    .search-bar {
        min-width: 20ch;
    }
}

.search-bar-input {
    flex-grow: 1;
    width: 100%;
}

.auction-type-selection,
.category-selection {
    @include viewports.mobile {
        width: calc(50% - 0.6ch);
        z-index: 100;
    }
}

.policy-selection {
    @include layouts.flex(row, start, center, 1ch);
    font-size: var(--font-size-medium);
    color: var(--text-color-2);

    .policy-switch {
        @include layouts.center;
    }

    label {
        cursor: pointer;
    }

    z-index: 10;
}

.extra-controls-btn {
    border: none;
    background: none;
    cursor: pointer;
    @include layouts.center;

    i {
        color: var(--text-color-3);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bolder);

        &:active {
            color: var(--text-color-2);
        }
    }
}

.hidden {
    display: none;
}

@include viewports.mobile {
    .auction-type-selection,
    .category-selection,
    .policy-selection {
        &:not(.extra-control-shown) {
            animation: fadeOutToTop 0.15s linear forwards;
        }

        &.extra-control-shown {
            animation: fadeInFromTop 0.15s linear forwards;
        }
    }
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20px) scaleY(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
}

@keyframes fadeOutToTop {
    0% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px) scaleY(0);
    }
}

:host ::ng-deep {
    .search-bar {
        @include viewports.notMobile {
            input {
                border: none;
                outline: none;
                box-shadow: none;
            }
        }
        .p-icon-field {
            width: 100%;
        }
    }

    .auction-type-selection {
        @include viewports.notMobile {
            .p-dropdown,
            .p-dropdown-panel {
                min-width: 21ch;
            }
        }
    }

    .auction-type-selection,
    .category-selection {
        @include viewports.notMobile {
            .p-dropdown {
                border: none;
                outline: none;
                box-shadow: none;
                .p-dropdown-label {
                    color: var(--text-color-1);
                }
                .p-dropdown-panel {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    border: none;
                    outline: 2px solid var(--outline-color);
                    border-radius: 0;
                    .p-dropdown-items {
                        padding: 0;
                        .p-dropdown-item {
                            border-radius: 0;
                            margin-bottom: 0;
                        }
                    }
                }
                svg {
                    color: var(--outline-color);
                }
            }
        }
        @include viewports.mobile {
            .p-dropdown {
                width: 100%;
            }
        }
    }

    .category-selection {
        @include viewports.notMobile {
            .p-dropdown {
                min-width: 30ch;
            }
        }

        .p-dropdown-panel {
            min-width: 30ch;
            @include viewports.mobile {
                margin-right: 0.9ch;
            }
        }
    }

    .search-button {
        @include viewports.notMobile {
            flex-grow: 1;
            .p-button {
                border-radius: 0;
                justify-content: center;
            }

            .p-button-label {
                flex: 0;
            }
        }
    }

    .p-inputgroup-addon > div {
        @include layouts.center;
    }
}
