<ng-template #searchButton>
    <p-button
        type="submit"
        class="search-button"
        icon="pi pi-search"
        label="Search"
    >
    </p-button>
</ng-template>

<form
    class="search-section"
    [formGroup]="searchForm"
    (ngSubmit)="handleSubmit()"
>
    <div class="search-inputs-container">
        <div class="search-bar-wrapper">
            <p-inputGroup class="search-bar">
                <p-inputGroupAddon>
                    <i class="pi pi-search"></i>
                </p-inputGroupAddon>
                <input
                    pInputText
                    placeholder="What are you looking for?"
                    formControlName="keywords"
                />
            </p-inputGroup>
            @if (windowService.isMobile$ | async) {
                <ng-container *ngTemplateOutlet="searchButton"></ng-container>
            }
        </div>
        <p-dropdown
            class="auction-type-selection"
            formControlName="type"
            [options]="auctionTypeOptions"
            optionLabel="name"
            optionValue="value"
            (onChange)="submitIfMobile()"
        >
        </p-dropdown>
        <dd24-category-selection
            class="category-selection"
            [form]="searchForm"
            controlName="category"
            (valueChange)="submitIfMobile()"
        ></dd24-category-selection>
    </div>
    @if ((windowService.isMobile$ | async) === false) {
        <ng-container *ngTemplateOutlet="searchButton"></ng-container>
    }
</form>
