$textColor: #0c1929;
$textSecondaryColor: #707080;
$errorColor: #e22d4e;

$inputTextColor: #495057;

$primaryColor: #2d7074;
$primaryDarkColor: #276368;
$primaryDarkerColor: #265e62;
$primaryTextColor: #ffffff;
$secondaryColor: #37587e;
$secondaryTextColor: #ffffff;

$borderRadius: 8px;

$shade000: #ffffff;
$shade50: #f8fafc;
$shade100: #f1f5f9;
$shade200: #e2e8f0;
$shade300: #cbd5e1;
$shade400: #94a3b8;
$shade500: #64748b;
$shade600: #475569;
$shade700: #334155;
$shade800: #1e293b;
$shade900: #0f172a;
$shade950: #0c1929;

$highlightBg: #f0fdfa;
$highlightTextColor: $primaryDarkerColor;
$highlightFocusBg: rgba($primaryColor, 0.24);

$secondaryButtonBg: #ffffff;
$secondaryButtonTextColor: $textColor;
$secondaryButtonBorder: 1px solid #aeb4ba;
$secondaryButtonHoverBg: #eff0f1;
$secondaryButtonTextHoverColor: $textColor;
$secondaryButtonHoverBorderColor: #aeb4ba;
$secondaryButtonActiveBg: #dfe3e3;
$secondaryButtonTextActiveColor: $textColor;
$secondaryButtonActiveBorderColor: #aeb4ba;
$secondaryButtonFocusShadow: none;

$toggleButtonBg: none;
$toggleButtonBorder: 2px solid $primaryColor;
$toggleButtonTextColor: $primaryColor;
$toggleButtonIconColor: $primaryColor;
$toggleButtonHoverBg: rgba($primaryColor, 0.1);
$toggleButtonHoverBorderColor: $primaryDarkerColor;
$toggleButtonTextHoverColor: $primaryColor;
$toggleButtonIconHoverColor: $primaryTextColor;
$toggleButtonActiveBg: $primaryColor;
$toggleButtonActiveBorderColor: $primaryColor;
$toggleButtonTextActiveColor: $primaryTextColor;
$toggleButtonIconActiveColor: $primaryTextColor;
$toggleButtonActiveHoverBg: $primaryDarkerColor;
$toggleButtonActiveHoverBorderColor: $primaryDarkerColor;
$toggleButtonTextActiveHoverColor: $primaryTextColor;
$toggleButtonIconActiveHoverColor: $primaryTextColor;

.p-togglebutton.p-highlight .p-button-label {
    background: none;
}

@import "./_variables";
@import "../fonts/fonts";
@import "../theme-base/_components";
@import "./extensions/_extensions";
