@use "layouts";
@use "viewports";
@use "box";

.conclusion-page {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    color: var(--text-color-1);
    padding: 2rem;
    padding-top: 4rem;
    background-color: var(--background-color);

    @include viewports.mobile {
        height: 100%;
    }
}

.conclusion-page-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bolder);
    line-height: var(--line-height-large);
}

.conclusion-page-auction-card {
    margin: 0 -2rem;
}

.conclusion-page-buttons-wrapper {
    border-top: var(--border);
    border-bottom: var(--border);
    margin: 0 -2rem;
    padding: 1rem 2rem;
    background-color: var(--component-color);
    @include layouts.grid($align-items: center, $gap: 1rem);

    @include viewports.mobile {
        border: none;
        flex-grow: 1;
        padding: 0 2rem;
        background: none;
        grid-template-rows: 1fr auto auto;
    }
}

.conclusion-page-timer {
    color: var(--danger-color);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);

    > * {
        width: max-content;
    }

    i {
        font-size: var(--font-size-large);
        line-height: var(--line-height-large);
    }

    @include viewports.mobile {
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
        text-align: center;

        i {
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
        }
    }
}

.conclusion-page-bid {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bolder);
    line-height: var(--line-height-large);
    width: 100%;

    @include viewports.mobile {
        grid-row: 1;
        text-align: center;
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 1rem;
        background-color: var(--component-color);
    }
}

@include viewports.mobile {
    .conclusion-page-bid-amount {
        color: var(--accent-color-1);
    }
}

.conclusion-page-btns {
    @include layouts.flex(row, start, center, 1ch);
    font-size: var(--font-size-large);

    @include viewports.mobile {
        flex-direction: column-reverse;
        align-items: stretch;
    }
}
