<main class="conclusion-page">
    @if ((windowService.isMobile$ | async) === false) {
        <h1 class="conclusion-page-title">This auction has ended</h1>
    }
    @if (auction) {
        <dd24-auction-card
            class="conclusion-page-auction-card"
            [auction]="auction"
            [cardStyle]="{
                borderRadius: 0,
                borderLeft: 'none',
                borderRight: 'none'
            }"
            [skipLocationChange]="true"
            [showInfoBtn]="(windowService.isMobile$ | async) === false"
        ></dd24-auction-card>
    }

    <div class="conclusion-page-buttons-wrapper">
        <span class="conclusion-page-timer">
            <i class="pi pi-clock"></i>&nbsp;
            <dd24-timer [endDate]="endTime" />
            left to choose
        </span>
        <span class="conclusion-page-bid"
            ><span>
                Winning bid:
                <span class="conclusion-page-bid-amount">{{
                    auction.winningBid | currency: auction.currency
                }}</span>
                by&nbsp;
            </span>
            <dd24-user-preview
                [user]="auction.winner!"
                style="display: inline-block"
            />
        </span>
        <div class="conclusion-page-btns">
            <p-button
                label="Accept"
                [style]="{ padding: '1rem 2rem' }"
                [routerLink]="['checkout']"
            />
            <p-button
                label="Reject"
                outlined="true"
                [style]="{ padding: '1rem 2rem' }"
                (onClick)="showRejectDialog()"
            />
        </div>
    </div>
</main>
