@use "layouts";

.create-auction-form-wrapper {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    padding: var(--page-items-gap);
    border-radius: var(--border-radius-large) 2rem;
    border: var(--border);
    flex: 1;
}

.create-auction-form {
    @include layouts.flex(column, start, stretch);
    padding: 0 3rem;
    flex: 1;
}

.spacer {
    flex: 1;
}

.create-auction-submit-btn {
    align-self: center;
    margin-top: 1rem;
    min-width: 30ch;
    max-width: 100%;
}

.create-auction-step-header {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-large);
    margin-bottom: 1rem;
}
