<main class="create-auction-page dd24-main-page">
    <div class="create-auction-form-wrapper">
        <dd24-stepper
            [steps]="steps"
            [(activeStep)]="activeStep"
        ></dd24-stepper>
        <form
            class="create-auction-form"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
        >
            @if (activeStep === 0) {
                <h2 class="create-auction-step-header">
                    What type of auction do you want to create?
                </h2>
                <dd24-auction-creation-ruleset-selection
                    controlName="ruleset"
                    [rulesets]="rulesets"
                />
            } @else if (activeStep === 1) {
                <h2 class="create-auction-step-header">
                    Choose a category for your auction
                </h2>
                <dd24-auction-creation-category-selection
                    controlName="category"
                    (selected)="nextIfFirstTime(1)"
                />
            } @else if (activeStep === 2) {
                <div class="details-inputs" formGroupName="details">
                    <div class="details-input-wrapper">
                        <label class="details-input-label" for="title"
                            >Title*</label
                        >
                        <span class="details-input-chars"
                            >{{
                                form.controls.details.controls.title.value
                                    ?.length ?? 0
                            }}/{{ environment.auctionTitleMaxLength }}</span
                        >
                        <dd24-input
                            class="details-input"
                            controlName="title"
                            [errorMessages]="[
                                {
                                    validation: 'required',
                                    message: 'a title is required'
                                }
                            ]"
                        >
                            <input
                                class="p-fluid details-input-input"
                                type="text"
                                pInputText
                                formControlName="title"
                                name="title"
                                placeholder="Choose a title for your auction"
                                id="title"
                                [maxlength]="environment.auctionTitleMaxLength"
                            />
                        </dd24-input>
                    </div>
                    @if (isProduct) {
                        <div class="details-input-wrapper">
                            <label class="details-input-label" for="conditions"
                                >Conditions*</label
                            >

                            <dd24-input
                                class="details-input"
                                controlName="conditions"
                                [errorMessages]="[
                                    {
                                        validation: 'required',
                                        message:
                                            'product conditions are required'
                                    }
                                ]"
                            >
                                <p-dropdown
                                    class="p-fluid"
                                    formControlName="conditions"
                                    name="conditions"
                                    placeholder="What conditions is the product in?"
                                    inputId="conditions"
                                    [options]="conditionsOptions"
                                />
                            </dd24-input>
                        </div>
                    }
                    <div class="details-input-wrapper">
                        <label class="details-input-label" for="description"
                            >Description</label
                        >
                        <span class="details-input-chars"
                            >{{
                                form.controls.details.controls.description.value
                                    ?.length ?? 0
                            }}/{{
                                environment.auctionDescriptionMaxLength
                            }}</span
                        >
                        <dd24-input
                            class="details-input"
                            controlName="description"
                        >
                            <textarea
                                pInputTextarea
                                class="p-fluid details-input-input"
                                type="text"
                                pInputText
                                formControlName="description"
                                name="description"
                                placeholder="Write a captivating description and list all relevant details"
                                id="description"
                                [maxlength]="
                                    environment.auctionDescriptionMaxLength
                                "
                                autoResize="true"
                            ></textarea>
                        </dd24-input>
                    </div>
                    <div class="details-input-wrapper">
                        <label class="details-input-label" for="country"
                            >Country*</label
                        >
                        <dd24-input
                            class="details-input"
                            controlName="country"
                            [errorMessages]="[
                                {
                                    validation: 'required',
                                    message: 'a country is required'
                                }
                            ]"
                        >
                            <p-autoComplete
                                class="p-fluid details-input-input"
                                formControlName="country"
                                name="country"
                                emptyMessage="No countries found"
                                [suggestions]="filteredCountries"
                                optionLabel="name"
                                optionValue="code"
                                [forceSelection]="true"
                                [minLength]="2"
                                (completeMethod)="completeCountries($event)"
                                inputId="country"
                            >
                            </p-autoComplete>
                        </dd24-input>
                    </div>
                    <div class="details-input-wrapper">
                        <label
                            class="details-input-label"
                            for="city"
                            [class.p-disabled]="
                                form.controls.details.controls.city.disabled
                            "
                            >City*</label
                        >
                        <dd24-input
                            class="details-input"
                            controlName="city"
                            [errorMessages]="[
                                {
                                    validation: 'required',
                                    message: 'a city is required'
                                }
                            ]"
                        >
                            <p-autoComplete
                                class="p-fluid details-input-input"
                                formControlName="city"
                                name="city"
                                emptyMessage="No cities found"
                                [suggestions]="filteredCities"
                                [forceSelection]="true"
                                (completeMethod)="completeCities($event)"
                                inputId="city"
                            ></p-autoComplete>
                        </dd24-input>
                    </div>
                    <div class="details-input-wrapper">
                        <label class="details-input-label" for="startingBid"
                            >{{
                                form.controls.ruleset.value ?? ""
                                    | auctionRulesetInformation: "startingBid"
                            }}*</label
                        >
                        <dd24-input
                            class="details-input"
                            controlName="startingBid"
                            [errorMessages]="[
                                {
                                    validation: 'required',
                                    message: 'a starting bid amount is required'
                                }
                            ]"
                        >
                            <p-inputGroup>
                                <p-dropdown
                                    class="currency-dropdown"
                                    name="currency"
                                    id="currency"
                                    formControlName="currency"
                                    [options]="currencyCodes"
                                    [style]="{
                                        width: 'fit-content',
                                        borderTopRightRadius: 0,
                                        borderBottomRightRadius: 0
                                    }"
                                >
                                    <ng-template
                                        pTemplate="selectedItem"
                                        let-item
                                    >
                                        {{ item | currencySymbol }}
                                    </ng-template>
                                </p-dropdown>
                                <p-inputNumber
                                    formControlName="startingBid"
                                    class="p-fluid details-input-input"
                                    name="startingBid"
                                    id="startingBid"
                                    min="0"
                                    maxlength="9"
                                    showButtons="false"
                                    [locale]="locale"
                                    [maxFractionDigits]="
                                        form.controls.details.controls.currency
                                            .value ?? '' | currencyDecimalDigits
                                    "
                                    [inputStyle]="{
                                        borderTopLeftRadius: 0,
                                        borderBottomLeftRadius: 0
                                    }"
                                ></p-inputNumber>
                            </p-inputGroup>
                        </dd24-input>
                    </div>
                    <div class="details-input">
                        <label class="details-input-label" for="endTime"
                            >End date*</label
                        >
                        <dd24-input
                            class="details-input"
                            controlName="endTime"
                            [errorMessages]="[
                                {
                                    validation: 'required',
                                    message: 'a end date is required'
                                },
                                {
                                    validation: 'max',
                                    message:
                                        'this date is too far in the future'
                                },
                                {
                                    validation: 'min',
                                    message:
                                        'the end date cannot be in the past'
                                },
                                {
                                    validation: 'pattern',
                                    message: 'this is not a valid date'
                                }
                            ]"
                        >
                            <p-calendar
                                class="p-fluid details-input-input"
                                formControlName="endTime"
                                name="endTime"
                                [showIcon]="true"
                                iconDisplay="input"
                                placeholder="dd/mm/yyyy hh:mm"
                                dateFormat="dd/mm/yy"
                                inputId="endTime"
                                [minDate]="minEndTime"
                                [maxDate]="maxEndTime"
                                [defaultDate]="defaultEndTime"
                                [showTime]="true"
                                hourFormat="24"
                            />
                        </dd24-input>
                    </div>
                </div>
            } @else if (activeStep === 3) {
                <dd24-uploader
                    controlName="pictures"
                    accept="image/*"
                    [maxFiles]="environment.auctionMaxPictures"
                    [maxSize]="environment.auctionMaxPictureSize"
                    dragAndDropMessage="Drag and drop your pictures here"
                />
            } @else if (activeStep === 4) {
                <div class="auction-review">
                    <div class="auction-review-details">
                        <div
                            class="auction-review-details-pictures"
                            [class.empty]="!previewPictureUrls.length"
                        >
                            @for (
                                previewUrl of previewPictureUrls;
                                track previewUrl
                            ) {
                                <img
                                    class="auction-review-picture"
                                    [src]="previewUrl"
                                    alt="Auction review picture"
                                />
                            } @empty {
                                <i
                                    class="auction-preview-no-pictures-icon pi pi-image"
                                ></i>
                            }
                        </div>
                        <div class="auction-review-details-info">
                            <span class="auction-preview-category">
                                {{
                                    isMacroCategory
                                        ? "Other (" +
                                          form.controls.category.value +
                                          ")"
                                        : form.controls.category.value
                                }}
                            </span>
                            <span class="auction-preview-title">{{
                                form.controls.details.controls.title.value
                            }}</span>
                            <span
                                class="auction-preview-details-info-secondary"
                            >
                                @if (isProduct) {
                                    <span
                                        >{{
                                            form.controls.details.controls
                                                .conditions.value
                                        }}
                                        |
                                    </span>
                                }
                                <span
                                    >from
                                    {{
                                        form.controls.details.controls.city
                                            .value +
                                            ", " +
                                            countryInternationalName
                                    }}
                                </span>
                            </span>
                            <span
                                class="auction-preview-description wk-nowrap wk-lc-2"
                            >
                                <div
                                    class="auction-preview-description-mask"
                                ></div>
                                {{
                                    form.controls.details.controls.description
                                        .value
                                }}</span
                            >
                            <p-button
                                label="View final result"
                                outlined="true"
                                (onClick)="showPreview()"
                            >
                            </p-button>
                        </div>
                    </div>
                    <p-divider />
                    <div class="auction-preview-logistics">
                        <dd24-auction-ruleset-link
                            [ruleSet]="form.controls.ruleset.value!"
                        ></dd24-auction-ruleset-link>
                        <span class="auction-preview-startingBid">
                            {{
                                form.controls.ruleset.value ?? ""
                                    | auctionRulesetInformation: "startingBid"
                            }}:
                            {{
                                form.controls.details.controls.startingBid
                                    .value ?? 0
                                    | currency
                                        : form.controls.details.controls
                                              .currency.value ?? ""
                            }}
                        </span>
                        <span class="auction-preview-endTime">
                            Ends
                            {{
                                form.controls.details.controls.endTime.value?.getTime() ??
                                    0 | localDate
                            }}
                            (lasts
                            <dd24-timer
                                [endDate]="
                                    form.controls.details.controls.endTime
                                        .value!
                                "
                                style="font-weight: var(--font-weight-bolder)"
                            ></dd24-timer
                            >)
                        </span>
                    </div>
                </div>
            }
            <div class="spacer"></div>
            <p class="error">{{ error }}</p>
            <p-button
                class="create-auction-submit-btn"
                type="submit"
                [label]="
                    activeStep < steps.length - 1
                        ? 'Next'
                        : 'Create your auction'
                "
            ></p-button>
        </form>
    </div>
</main>
