<main class="create-auction-page dd24-main-page">
    <div class="create-auction-form-wrapper">
        <dd24-stepper
            [steps]="steps"
            [(activeStep)]="activeStep"
        ></dd24-stepper>
        <form
            class="create-auction-form"
            [formGroup]="form"
            (ngSubmit)="next()"
        >
            @if (activeStep === 0) {
                <h2 class="create-auction-step-header">
                    What type of auction do you want to create?
                </h2>
                <dd24-auction-creation-ruleset-selection
                    controlName="ruleset"
                    [rulesets]="rulesets"
                />
            } @else if (activeStep === 1) {
                <h2 class="create-auction-step-header">
                    Choose a category for your auction
                </h2>
                <dd24-auction-creation-category-selection
                    controlName="category"
                    (selected)="nextIfFirstTime(1)"
                />
            } @else if (activeStep === 2) {
                <div class="details-inputs" formGroupName="details">
                    <div class="details-input-wrapper">
                        <label class="details-input-label" for="title"
                            >Title*</label
                        >
                        <span class="details-input-chars"
                            >{{
                                form.controls.details.controls.title.value
                                    ?.length ?? 0
                            }}/{{ environment.auctionTitleMaxLength }}</span
                        >
                        <dd24-input
                            class="details-input"
                            controlName="title"
                            [errorMessages]="[
                                {
                                    validation: 'required',
                                    message: 'a title is required'
                                }
                            ]"
                        >
                            <input
                                class="p-fluid details-input-input"
                                type="text"
                                pInputText
                                formControlName="title"
                                name="title"
                                placeholder="Choose a title for your auction"
                                id="title"
                                [maxlength]="environment.auctionTitleMaxLength"
                            />
                        </dd24-input>
                    </div>
                    @if (isProduct) {
                        <div class="details-input-wrapper">
                            <label class="details-input-label" for="conditions"
                                >Conditions*</label
                            >

                            <dd24-input
                                class="details-input"
                                controlName="conditions"
                                [errorMessages]="[
                                    {
                                        validation: 'required',
                                        message:
                                            'product conditions are required'
                                    }
                                ]"
                            >
                                <p-dropdown
                                    class="p-fluid"
                                    formControlName="conditions"
                                    name="conditions"
                                    placeholder="What conditions is the product in?"
                                    inputId="conditions"
                                    [options]="conditionsOptions"
                                />
                            </dd24-input>
                        </div>
                    }
                    <div class="details-input-wrapper">
                        <label class="details-input-label" for="description"
                            >Description</label
                        >
                        <span class="details-input-chars"
                            >{{
                                form.controls.details.controls.description.value
                                    ?.length ?? 0
                            }}/{{
                                environment.auctionDescriptionMaxLength
                            }}</span
                        >
                        <dd24-input
                            class="details-input"
                            controlName="description"
                        >
                            <textarea
                                pInputTextarea
                                class="p-fluid details-input-input"
                                type="text"
                                pInputText
                                formControlName="description"
                                name="description"
                                placeholder="Write a captivating description and list all relevant details"
                                id="description"
                                [maxlength]="
                                    environment.auctionDescriptionMaxLength
                                "
                                autoResize="true"
                            ></textarea>
                        </dd24-input>
                    </div>
                </div>
            }
            <div class="spacer"></div>
            <p class="error">{{ error }}</p>
            <p-button
                class="create-auction-submit-btn"
                type="submit"
                [label]="activeStep < steps.length - 1 ? 'Next' : 'Create'"
            ></p-button>
        </form>
    </div>
</main>
