@use "layouts";
@use "viewports";

.create-auction-page {
    @include viewports.mobile {
        padding: 0;
    }
}

.create-auction-form-wrapper {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    padding: var(--page-items-gap);
    border-radius: var(--border-radius-large) 2rem;
    border: var(--border);
    flex: 1;

    @include viewports.mobile {
        padding: 0 2% 2rem 2%;
        border-radius: 0;
        border: none;
    }
}

.create-auction-form {
    @include layouts.flex(column, start, stretch);
    padding: 0 3rem;
    flex: 1;

    @include viewports.mobile {
        padding: 0;
    }
}

.spacer {
    flex: 1;
}

.error {
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.create-auction-submit-btn {
    align-self: center;
    min-width: 30ch;
    max-width: 100%;
}

.create-auction-step-header {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-large);
    margin-bottom: 1rem;

    @include viewports.mobile {
        padding: 0 3rem;
        text-align: center;
    }
}

.details-inputs {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
}

.details-input-wrapper {
    @include layouts.grid("label chars" auto "input input" 1fr);
}

.details-input-label {
    grid-area: label;
    justify-self: start;
}

.details-input-chars {
    grid-area: chars;
    justify-self: end;
}

.details-input {
    grid-area: input;
}

.currency-dropdown {
    width: fit-content;
    flex: 0;
}

:host ::ng-deep {
    .currency-dropdown {
        .p-dropdown-trigger {
            padding: 0.75rem;
            width: fit-content;
        }
    }
}

// .details-input-input,
// .details-input-label,
// .details-input-chars {
//     font-size: var(--font-size-large);
// }
