<main class="create-auction-page dd24-main-page">
    <div class="create-auction-form-wrapper">
        <dd24-stepper
            [steps]="steps"
            [(activeStep)]="activeStep"
        ></dd24-stepper>
        <form class="create-auction-form">
            @if (activeStep === 0) {
                <dd24-auction-ruleset-selection
                    [form]="form"
                    controlName="ruleset"
                    [rulesets]="rulesets"
                ></dd24-auction-ruleset-selection>
            }
        </form>
    </div>
</main>
