@import "flex";
@import "grid";

.input-container {
    @include flex(column, flex-start, stretch);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    width: 100%;

    label {
        color: var(--text-color-1);
        margin-bottom: 0.1em;
    }
}
