<ng-template #userCounter let-value="value" let-description="description">
    <span class="user-counter">
        <span class="user-counter-value">
            {{ value }}
        </span>
        {{ description + (value !== 1 ? "s" : "") }}
    </span>
</ng-template>

<div class="user-information-card">
    <span class="user-username-wrapper">
        <p-avatar
            class="user-avatar"
            [icon]="
                user.profilePictureUrl && !showImagePlaceholder
                    ? ''
                    : 'pi pi-user'
            "
            [image]="user.profilePictureUrl ?? ''"
            (onImageError)="onImageError()"
            shape="circle"
            [style]="{
                border: '2px solid var(--outline-color)',
                width: '2rem',
                height: '2rem'
            }"
        />
        <h3 class="user-username">
            {{ user.username }}
        </h3>
        <span class="user-location"
            >from {{ user.city }}, {{ user.country }}</span
        >
    </span>
    <span class="user-counters">
        <ng-container
            *ngTemplateOutlet="
                userCounter;
                context: {
                    value: user.onlineAuctionsCounter,
                    description: 'online auction'
                }
            "
        />

        @if (privateView) {
            <ng-container
                *ngTemplateOutlet="
                    userCounter;
                    context: {
                        value: authenticatedUser.activeBidsCounter,
                        description: 'active bid'
                    }
                "
            />

            <p-divider
                [style]="{
                    borderColor: 'var(--borderColor)',
                    margin: '0.3rem 0'
                }"
            />

            <ng-container
                *ngTemplateOutlet="
                    userCounter;
                    context: {
                        value: authenticatedUser.pastAuctionsCounter,
                        description: 'past auction'
                    }
                "
            />

            <ng-container
                *ngTemplateOutlet="
                    userCounter;
                    context: {
                        value: authenticatedUser.pastBidsCounter,
                        description: 'past bid'
                    }
                "
            />
        } @else {
            <ng-container
                *ngTemplateOutlet="
                    userCounter;
                    context: {
                        value: user.pastDealsCounter,
                        description: 'past deal'
                    }
                "
            />
        }
    </span>

    @if (user.bio) {
        <span class="user-bio">{{ user.bio }}</span>
    }

    @if (user.links.length) {
        <span class="user-links">
            @for (link of user.links; track $index) {
                <a class="user-link" [href]="link.url" target="_blank">
                    <i class="pi pi-link"></i
                    ><span class="user-link-text wk-nowrap wk-lc-2"
                        >&nbsp;{{ link.name }}</span
                    >
                </a>
            }
        </span>
    }

    <div class="custom-content">
        <ng-content></ng-content>
    </div>
</div>
