@use "layouts";
@use "viewports";

.user-information-card {
    @include layouts.flex(column, start, stretch);
    border: var(--border);
    border-radius: var(--border-radius-large);
    background-color: var(--component-color);
    padding: 1rem 4rem;

    overflow: hidden;

    @include viewports.mobile {
        padding: 1rem;
        max-width: 96vw;
    }
}

.user-username-wrapper {
    @include layouts.grid(
        "avatar username" auto "avatar location" auto / auto 1fr,
        $gap: 1ch
    );
    row-gap: 0;
    margin-left: calc(-2rem - 1ch);

    @include viewports.mobile {
        margin: 0;
    }
}

.user-avatar {
    grid-area: avatar;
}

.user-username {
    grid-area: username;
    min-width: 0;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bolder);
    line-height: var(--line-height-large);
}

.user-location {
    grid-area: location;
    color: var(--text-color-3);
}

.user-counters {
    @include layouts.flex(column, start, stretch);
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 0.3rem 0;
    margin: 0.5rem 0;
}

.user-counter-value {
    font-weight: var(--font-weight-bolder);
}

.user-links {
    @include layouts.flex(column, start, start);

    @include viewports.mobile {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1ch;
    }
}

.user-link {
    @include layouts.flex(row, start, center);
    text-decoration: none;
    word-wrap: break-word;
    color: var(--link-color);
}

.user-link-text {
    word-wrap: break-word;
}

.user-username,
.user-bio {
    word-wrap: break-word;
    max-width: 100%;
}

.custom-content {
    margin-top: 0.5rem;
}

:host ::ng-deep {
    @include viewports.mobile {
        .p-avatar {
            height: 4rem !important;
            width: 4rem !important;
        }

        .p-avatar-icon {
            font-size: 2rem;
        }
    }
}
