$primaryColor: #aa0d22;
$primaryDarkColor: #9e0d21;
$primaryDarkerColor: #910d1f;
$primaryTextColor: #efefef;
$secondaryColor: #aa0d22;
$secondaryTextColor: #efefef;
$dangerColor: #910d1f;
$dangerButtonHoverBg: #9e0d21;
$dangerButtonActiveBg: #aa0d22;

@import "../theme";
