@use "layouts";
@use "viewports";

.auction-list {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    width: 100%;

    @include viewports.mobile {
        gap: calc(var(--page-items-gap) * 0.5);
    }

    .card-placeholder {
        background-color: var(--component-color);
        border: var(--border);
        border-radius: var(--border-radius-large);
        height: var(--card-height);

        @include viewports.mobile {
            border-radius: 0;
            border-right-width: 0;
            border-left-width: 0;
        }
    }

    .empty-message {
        @include layouts.flex(column, center, center, 1rem);
        font-weight: var(--font-weight-bolder);
        color: var(--text-color-3);
        text-align: center;
    }

    .no-results,
    .empty-message {
        margin: 2rem 0;
    }
}
