@use "layouts";

.auction-list {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    width: 100%;

    .card-placeholder {
        border-radius: var(--border-radius-large);
        background: linear-gradient(
            to right,
            var(--border-color) 0%,
            transparent 160%
        );
        height: var(--card-height);
    }

    .empty-message {
        @include layouts.flex(column, center, center, 1rem);
        font-weight: var(--font-weight-bolder);
        color: var(--text-color-3);
    }

    .no-results,
    .empty-message {
        margin: 2rem 0;
    }
}
