<div class="auction-list">
    @if (error) {
        <dd24-reload-button
            class="no-results"
            message="Couldn't find any auctions"
            (reload)="reloadAfterError()"
        ></dd24-reload-button>
    } @else {
        @for (auction of auctions; track auction.id) {
            @defer (on viewport) {
                <dd24-auction-card
                    [auction]="auction"
                    (loaded)="scrolled($index)"
                ></dd24-auction-card>
            } @placeholder {
                <div class="card-placeholder"></div>
            }
        } @empty {
            @if (showEmpty) {
                <div class="empty-message">
                    No auctions corresponding to the search criteria
                </div>
            }
        }
    }

    @if (loadingIndicator.isLoading$ | async) {
        <dd24-loading-placeholder
            [style]="{ padding: '1rem 0' }"
        ></dd24-loading-placeholder>
    }
</div>
