<div class="auction-list">
    @for (auction of auctions; track $index) {
        @defer (on viewport) {
            <dd24-auction-card
                [auction]="auction"
                (loaded)="scrolled($index)"
            ></dd24-auction-card>
        } @placeholder {
            <div class="card-placeholder"></div>
        }
    }
    @if (error) {
        <dd24-reload-button
            class="no-results"
            message="Couldn't find any auctions"
            (reload)="reloadAfterError()"
        ></dd24-reload-button>
    }
</div>
