<div class="auction-list">
    @for (auction of auctions; track auction.id) {
        @defer (on viewport) {
            <dd24-auction-card
                [auction]="auction"
                (loaded)="scrolled($index)"
            ></dd24-auction-card>
        } @placeholder {
            <div class="card-placeholder"></div>
        }
    } @empty {
        @if (showEmpty && !error) {
            <div class="empty-message">
                No auctions corresponding to the search criteria
            </div>
        }
    }

    @if (loadingIndicator.isLoading$ | async) {
        <dd24-cards-placeholder
            [style]="{ padding: '1rem 0' }"
        ></dd24-cards-placeholder>
    } @else if (error) {
        <dd24-reload-button
            class="no-results"
            [message]="
                auctions.length
                    ? 'Couldn\'t find any more auctions'
                    : 'Couldn\'t find any auction'
            "
            (reload)="reloadAfterError()"
        ></dd24-reload-button>
    }
</div>
