<div class="auction-card">
  <div class="auction-card-image-container">
    @if (auction.images.length > 0){
    <img
      class="auction-card-image"
      [src]="auction.images[0]"
      alt="Auction image"
    />
    } @else {
    <i class="auction-card-missing-image bi bi-image"></i>
    }
  </div>
  <div class="auction-card-details-container">
    <span class="auction-card-title">{{ auction.title }}</span>
    <span class="auction-card-secondary-line">
      from {{ auction.location.nation }}, {{ auction.location.city }} |
      {{ auction.conditions }}
    </span>
    <dd24-auction-type-link
      class="auction-card-auction-type"
      [type]="auction.auctionType"
      >{{ auction.auctionType }}</dd24-auction-type-link
    >
    <span class="auction-card-sum"
      >{{ auction.sumDescription | oneCharUpper }}:
      {{ auction.sum | currency : currencyCode : "symbol" : "1.2-2" }}</span
    >
    <span class="auction-card-time-left">
      Time left:
      <span
        class="auction-card-time-left-amount"
        [class.danger]="auction.timeLeft < 86400"
        >{{ auction.timeLeft | interval }}</span
      >
      (Until {{ auction.endDate | localDate }})</span
    >
  </div>
</div>
