@use "layouts";
@use "viewports";

.auction-card {
    @include layouts.grid(
        $template: "image divider title" auto "image divider type" auto
            "image divider details" auto "image divider btns" minmax(0, 1fr) /
            auto auto 1fr
    );
    min-height: var(--card-height);
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius-large);
    overflow: hidden;
    cursor: pointer;
    background-color: var(--component-color);

    @include viewports.mobile {
        @include layouts.grid(
            $template: "type type" auto "image title" auto "image details" auto
                "btns btns" auto/ auto 1fr
        );
        align-items: center;
        border-radius: 0;
        border-right-width: 0;
        border-left-width: 0;
    }

    #{&}-image-container {
        @include layouts.flex(row, center, center);
        grid-area: image;
        height: 100%;
        align-self: center;
        width: var(--card-height);
        overflow: hidden;

        @include viewports.mobile {
            height: calc(var(--card-height) / 2);
            width: calc(var(--card-height) / 2);
            border-radius: var(--border-radius-medium);
            border: var(--border);
            margin-left: 1rem;
        }
    }

    .auction-card-image {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }

    .auction-card-missing-image {
        @include layouts.flex(row, center, center);
        height: 100%;
        width: 100%;
        font-size: 8rem;
        color: var(--border-color);

        @include viewports.mobile {
            font-size: 3rem;
        }
    }

    .auction-card-divider {
        grid-area: divider;
        background-color: var(--border-color);
        height: 100%;
        width: 1px;
    }

    #{&}-title-container {
        @include layouts.flex(column, start, start, 0);
        color: var(--text-color-1);
        padding: 1rem;
        grid-area: title;
        overflow: hidden;

        @include viewports.mobile {
            padding: 0 1rem;
            justify-content: center;
        }
    }

    .auction-card-title {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bolder);
        line-height: var(--line-height-large);

        @include viewports.mobile {
            line-height: normal;
        }
    }

    .auction-card-secondary-line {
        font-size: var(--font-size-medium);
        color: var(--text-color-3);
    }

    #{&}-auction-type {
        grid-area: type;
        padding: 0.2rem 1rem;
        @include viewports.mobile {
            padding: 1rem;
            padding-bottom: 0.2rem;
        }
    }

    #{&}-details-container {
        @include layouts.flex(column, start, start, 0.1em);
        grid-area: details;
        color: var(--text-color-1);
        padding: 0 1rem;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-regular);
    }

    .auction-card-sum {
        font-weight: var(--font-weight-bolder);
        font-size: var(--font-size-large);
        line-height: var(--line-height-large);
        @include viewports.mobile {
            font-size: var(--font-size-medium);
            line-height: var(--line-height-medium);
        }
    }
    .auction-card-time-left {
        font-size: var(--font-size-medium);
        color: var(--text-color-3);
    }

    .auction-card-time-left,
    .auction-card-secondary-line,
    .auction-card-title {
        -webkit-line-clamp: 2;
    }

    .auction-card-btns {
        grid-area: btns;
        @include layouts.flex(row, start, center, 1ch);
        min-height: 1rem;
        padding: 0.2rem 1rem;
        padding-bottom: 0.4rem;
    }

    @include viewports.mobile {
        .auction-card-time-left,
        .auction-card-secondary-line {
            -webkit-line-clamp: 1;
        }
    }
}

:host ::ng-deep {
    .auction-card-btn {
        .p-button {
            padding: 0.5rem 1rem;
        }
    }

    @include viewports.mobile {
        .auction-card-active .auction-bid-amount {
            color: var(--accent-color-2);
            font-weight: var(--font-weight-bolder);
        }
    }
}
