<div
    class="auction-card"
    [style]="cardStyle"
    (click)="onClick()"
    tabindex="0"
    (keypress)="onKeyPress($event)"
>
    <div class="auction-card-image-container">
        @if (auction.pictureUrl && !showImagePlaceholder) {
            <img
                class="auction-card-image"
                [src]="auction.pictureUrl"
                alt="Auction image"
                (error)="onImageError()"
            />
        } @else {
            <i class="auction-card-missing-image pi pi-image"></i>
        }
    </div>
    <div class="auction-card-title-container">
        <span class="auction-card-title">{{ auction.title }}</span>
        <span class="auction-card-secondary-line">
            from {{ auction.location.country }}, {{ auction.location.city }}
            @if (auction.conditions) {
                | {{ auction.conditions }}
            }
        </span>
    </div>
    <dd24-auction-ruleset-link
        class="auction-card-auction-type"
        [ruleSet]="auction.ruleSet"
        >{{ auction.ruleSet }}</dd24-auction-ruleset-link
    >
    <div class="auction-card-details-container">
        <span class="auction-card-sum">
            @if (auction.status === statuses.active) {
                {{ auction.lastBidDescription | oneCharUpper }}:
                <span class="auction-card-sum-amount">{{
                    auction.lastBid | currency: auction.currency
                }}</span>
            }
        </span>

        <span class="auction-card-time-left">
            @if ((windowService.isMobile$ | async) === false) {
                Time left:
            }
            <dd24-timer
                [timeLeft]="timeLeft"
                style="font-weight: var(--font-weight-bolder)"
            ></dd24-timer>
            @if ((windowService.isMobile$ | async) === false) {
                (Until {{ auction.endTime | localDate }})
            }
        </span>
    </div>
</div>
