<div
    class="auction-card"
    [class.auction-card-active]="auction.isOver === false"
    [class.auction-card-pending]="auction.status === statuses.pending"
    [style]="cardStyle"
    (click)="onClick()"
    tabindex="0"
    (keyup.enter)="onClick()"
>
    <div class="auction-card-image-container">
        @if (auction.pictureUrl && !showImagePlaceholder) {
            <img
                class="auction-card-image"
                [src]="auction.pictureUrl"
                alt="Auction image"
                (error)="onImageError()"
            />
        } @else {
            <i class="auction-card-missing-image pi pi-image"></i>
        }
    </div>
    @if ((windowService.isMobile$ | async) === false) {
        <div class="auction-card-divider"></div>
    }
    <div class="auction-card-title-container">
        <span class="auction-card-title wk-nowrap">{{ auction.title }}</span>
        <span class="auction-card-secondary-line wk-nowrap">
            @if (auction.conditions) {
                {{ auction.conditions }} |
            }
            from {{ auction.city }}, {{ auction.country }}
        </span>
    </div>
    <dd24-auction-ruleset-link
        class="auction-card-auction-type"
        [ruleset]="auction.ruleset"
        >{{ auction.ruleset }}</dd24-auction-ruleset-link
    >
    <div class="auction-card-details-container">
        <span
            class="auction-card-sum"
            [innerHTML]="
                (auction | auctionStatusDescription | async) ?? ''
                    | oneCharUpper
            "
        >
        </span>

        <span class="auction-card-time-left wk-nowrap">
            @if (!auction.isOver) {
                @if ((windowService.isMobile$ | async) === false) {
                    Time left:
                }
                <dd24-timer
                    [endDate]="auction.endTime"
                    style="font-weight: var(--font-weight-bolder)"
                ></dd24-timer>
                @if ((windowService.isMobile$ | async) === false) {
                    (Until {{ auction.endTime | localDate }})
                }
            } @else if (pendingEndTime) {
                <span class="pending-timer">
                    <i class="pi pi-clock"></i>&nbsp; The auction is pending,
                    you have
                    <dd24-timer [endDate]="pendingEndTime" />
                    left to choose
                </span>
            } @else {
                <span>Ended on {{ auction.endTime | localDate }}</span>
            }
        </span>
    </div>
    <div class="auction-card-btns">
        @if (
            auction.isOver === false &&
            auction.userId &&
            auction.userId === authentication.loggedUser?.id
        ) {
            <p-button
                class="auction-card-btn"
                label="Delete"
                icon="pi pi-trash"
                severity="danger"
                outlined="true"
                (onClick)="onDelete($event)"
            />
        }
        @if (showInfoBtn) {
            <p-button
                class="auction-card-btn"
                label="View details"
                icon="pi pi-info-circle"
                outlined="true"
            />
        }
    </div>
</div>
