<footer class="page-footer">
    <section class="footer-links">
        <div class="links-1-2">
            <a class="footer-link custom-link" [routerLink]="links[0].url">{{
                links[0].name
            }}</a>
            <a class="footer-link custom-link" [routerLink]="links[1].url">{{
                links[1].name
            }}</a>
        </div>
        <a class="footer-link custom-link" [routerLink]="links[2].url">{{
            links[2].name
        }}</a>
        <div class="links-4-5">
            <a class="footer-link custom-link" [routerLink]="links[3].url">{{
                links[3].name
            }}</a>
            <a class="footer-link custom-link" [routerLink]="links[4].url">{{
                links[4].name
            }}</a>
        </div>
    </section>
    <section class="footer-info">
        <p>
            <strong class="footer-info-platform-name">DietiDeals24</strong>
            2023-2024, INGSW2324_12
        </p>
    </section>
</footer>
