.button-primary {
    background-color: var(--accent-color-1);
    border-radius: var(--border-radius-small);
    border: none;
    font-size: var(--font-size-medium);
    color: var(--text-accent-color);
    transition: background-color 0.2s ease-in-out;
    padding: calc(var(--font-size-medium) / 2) 3ch;

    &:hover {
        background-color: var(--accent-color-1-hover);
    }
}
