.button-primary {
    background-color: var(--accent-color-1);
    border-radius: var(--border-radius-medium);
    border: none;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--text-accent-color);
    transition: background-color 0.2s ease-in-out;
    padding: calc(var(--font-size-medium) / 2) 3ch;

    &:hover {
        background-color: var(--accent-color-1-hover);
    }
}

.button-secondary {
    background-color: transparent;
    border: 1px solid var(--accent-color-1);
    color: var(--accent-color-1);
    border-radius: var(--border-radius-medium);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
    padding: calc(var(--font-size-medium) / 2) 3ch;

    &:hover {
        background-color: var(--accent-color-1);
        color: var(--text-accent-color);
    }
}

.button-tertiary {
    background: transparent;
    border: var(--border);
    border-radius: var(--border-radius-large);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-1);
    transition: background-color 0.2s ease-in-out;
    padding: calc(var(--font-size-medium) / 2) 3ch;
    &:hover {
        background-color: var(--darkened-color);
    }
}
