.text-medium {
    font-size: var(--font-size-medium);
    line-height: var(--font-size-medium);
}

.text-large {
    font-size: var(--font-size-large);
    line-height: var(--font-size-large);
}

.text-regular {
    font-weight: var(--font-weight-regular);
}

.text-bold {
    font-weight: var(--font-weight-bold);
}
