<div class="form-card dd24-auth-form">
    <h1>Reset your password</h1>
    @if (!submittedSuccessfully) {
        <p>
            We'll send you an email to reset your password and get you back to
            making deals
        </p>
        <form
            class="forgot-password-form"
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="onSubmit()"
        >
            <section class="inputs">
                <div class="input">
                    <label for="email-username"
                        >Enter your email address or username</label
                    >
                    <dd24-input
                        controlName="emailOrUsername"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'an email or username is required'
                            }
                        ]"
                    >
                        <input
                            class="p-fluid"
                            type="text"
                            pInputText
                            formControlName="emailOrUsername"
                            name="email-username"
                            id="email-username"
                        />
                    </dd24-input>
                </div>
            </section>

            <p-button
                label="Send"
                type="submit"
                class="forgot-submit"
                [loading]="submissionLoading"
            />
        </form>
    } @else {
        <p>
            We have sent an email to the email address associated to the
            account. Once you have reset your password, log in and get back to
            what you were doing by clicking the button below
        </p>
        <p-button label="Login" routerLink="../login" class="login-btn" />
    }
</div>
