@use "layouts";
@use "box";
@use "viewports";

.form-card {
    gap: 1rem;
    p {
        text-align: center;
    }
}

.forgot-password-form {
    @include layouts.flex(column, flex-start, stretch, 2rem);
    @include box.padding-horizontal(3rem);
    font-size: var(--font-size-medium);
    width: 100%;

    .inputs {
        @include layouts.flex(column, flex-start, stretch, 1em);

        .input {
            width: 100%;
            @include layouts.flex(column, flex-start, stretch);
        }
    }
}

.login-btn {
    align-self: stretch;
}
