@use "templates";
@use "viewports";
@use "layouts";
@use "box";

.notifications-page {
    @include templates.main;
    @include viewports.mobile {
        @include box.padding-horizontal(0);
    }

    gap: 0;

    &.empty {
        justify-content: center;
        align-items: center;
    }
}

.notifications-page-top {
    @include layouts.flex(row, space-between, center, 1rem, wrap-reverse);

    @include viewports.mobile {
        @include box.padding-horizontal(0.4rem);
    }
}

.notifications-page-header {
    font-size: var(--font-size-large);
}

.notifications-page-buttons {
    @include layouts.flex(row, end, center, 1rem);
    flex-grow: 1;
}
