<p-stepper class="stepper" [(activeStep)]="activeIndex">
    @for (step of steps; track $index) {
        <p-stepperPanel [header]="step.title">
            <ng-template pTemplate="header" let-index="index">
                @if (index === 0) {
                    <div class="arrow-btn-container">
                        @if (activeIndex > 0) {
                            <button
                                class="arrow-btn prev-arrow-btn"
                                (click)="prevStep()"
                            >
                                <i class="pi pi-arrow-left"></i>
                            </button>
                        }
                    </div>
                }
                <div
                    [class]="
                        'step-header ' +
                        (index < activeIndex
                            ? 'step-past'
                            : index === activeIndex
                              ? 'step-current'
                              : 'step-next')
                    "
                >
                    <p-button
                        class="step-btn"
                        (onClick)="
                            activeIndex =
                                index < activeIndex ? index : activeIndex
                        "
                    >
                        @if (index < activeIndex) {
                            <i class="pi pi-check"></i>
                        } @else if (index === activeIndex) {
                            <i class="pi pi-circle-fill"></i>
                        }
                    </p-button>
                    <span class="step-title">{{ step.title }}</span>
                </div>
                @if (index === steps.length - 1) {
                    <div class="arrow-btn-container">
                        @if (activeIndex < steps.length - 1) {
                            <button
                                class="arrow-btn next-arrow-btn"
                                (click)="nextStep()"
                            >
                                <i class="pi pi-arrow-right"></i>
                            </button>
                        }
                    </div>
                }
            </ng-template>
        </p-stepperPanel>
    }
</p-stepper>
