<main class="home-page dd24-main-page">
    @if (windowService.isMobile$ | async) {
        <p-carousel
            class="home-page-carousel"
            [value]="[
                {
                    imageUrl: 'assets/create-auction-banner.webp',
                    alt: 'Create auction banner',
                    message: 'Are you buying or selling? Take your first step.',
                    buttonLabel: 'Create an auction',
                    link: '/create-auction'
                },
                {
                    imageUrl: 'assets/your-page-banner.webp',
                    alt: 'Your page banner',
                    message: 'See how your auctions are currently doing.',
                    buttonLabel: 'View your page',
                    link: '/your-page'
                }
            ]"
            [numVisible]="1"
            [style]="{ width: '100%' }"
            [autoplayInterval]="10000"
            [showNavigators]="false"
        >
            <ng-template let-item pTemplate="item">
                <div class="carousel-item-wrapper">
                    <img
                        class="carousel-image"
                        [src]="item.imageUrl"
                        [alt]="item.alt"
                    />
                    <p-button
                        class="carousel-item-button"
                        type="button"
                        [routerLink]="item.link"
                        [label]="item.buttonLabel"
                        icon="pi pi-arrow-circle-right"
                        iconPos="bottom"
                        [style]="{
                            alignItems: 'center',
                            justifyContent: 'center',
                            borderRadius: 0
                        }"
                    >
                    </p-button>
                    <p class="carousel-text">
                        {{ item.message }}
                    </p>
                </div>
            </ng-template>
        </p-carousel>
    }

    <section class="trending-categories">
        <h2 class="home-page-section-header">Trending Categories</h2>
        <div class="trending-categories-buttons">
            @if (
                (categoryButtonsLoadingIndicator.isLoading$ | async) === false
            ) {
                @for (
                    category of categoriesService.trendingCategories$ | async;
                    track $index
                ) {
                    <p-button
                        outlined="true"
                        class="trending-category-button"
                        [routerLink]="['/auctions', { category: category }]"
                    >
                        {{ category }}
                    </p-button>
                }
            } @else {
                @for (index of [1, 2, 3, 4, 5, 6]; track $index) {
                    <p-button
                        outlined="true"
                        class="trending-category-button trending-category-loading-button"
                    ></p-button>
                }
            }
        </div>
    </section>

    @if ((windowService.isMobile$ | async) === false) {
        <section class="create-auction-banner">
            <div
                class="banner-img-container create-auction-banner-img-container"
            >
                <img
                    class="banner-img create-auction-image"
                    src="assets/create-auction-banner.webp"
                    alt="create-auction-banner"
                />
                <p class="create-auction-banner-text text-regular text-large">
                    Are you buying or selling? Take your first step.
                </p>
            </div>
            <p-button
                class="create-auction-button"
                type="button"
                routerLink="/create-auction"
                label="Create an auction"
                icon="pi pi-arrow-circle-right"
                iconPos="right"
            >
            </p-button>
        </section>
        <section class="your-page-banner">
            <div class="banner-img-container your-page-banner-img-container">
                <img
                    class="banner-img your-page-image"
                    src="assets/your-page-banner.webp"
                    alt="your-page-banner"
                />
                <p class="your-page-banner-text text-regular text-large">
                    See how your auctions are currently doing.
                </p>
            </div>
            <p-button
                class="your-page-button"
                type="button"
                routerLink="/your-page"
                label="View your page"
                icon="pi pi-arrow-circle-right"
                iconPos="right"
            >
            </p-button>
        </section>
    }
    <section class="trending-auctions">
        <h2 class="home-page-section-header">Trending Auctions</h2>
        <dd24-auction-list requestKey="/home"></dd24-auction-list>
    </section>
</main>
