<main class="home-page">
    <section class="trending-categories">
        <h2>Trending Categories</h2>
        <div class="trending-categories-buttons">
            @defer {
                @for (
                    category of accessoryInformation.trendingCategories | async;
                    track $index
                ) {
                    <button
                        class="trending-category-button button-secondary"
                        type="button"
                        [routerLink]="['/search', { category: category }]"
                    >
                        {{ category }}
                    </button>
                }
            } @loading (after 50ms; minimum 100ms) {
                @for (index of [1, 2, 3, 4, 5, 6]; track $index) {
                    <button
                        class="trending-category-button trending-category-loading-button button-secondary"
                    >
                        <i class="bi bi-justify"></i>
                    </button>
                }
            }
        </div>
    </section>
    <section class="create-auction-banner">
        <div class="create-auction-banner-img-container">
            <img
                src="assets/create-auction-banner.webp"
                alt="create an auction"
            />
        </div>
        <button
            class="create-auction-button button-primary"
            type="button"
            routerLink="/create-auction"
        >
            <span class="button-text">Create an auction</span>
            <i class="bi bi-arrow-right-circle"></i>
        </button>
    </section>
    <section class="your-page-banner">
        <div class="your-page-banner-img-container">
            <img src="assets/your-page-banner.webp" alt="Your page" />
        </div>
        <button
            class="your-page-button button-primary"
            type="button"
            routerLink="/your-page"
        >
            <span class="button-text">View your page</span>
            <i class="bi bi-arrow-right-circle"></i>
        </button>
    </section>
    <section class="trending-auctions">
        @for (auction of trendingAuctions; track $index) {
            <dd24-auction-card [auction]="auction"></dd24-auction-card>
        }
    </section>
</main>
