@use "layouts";
@use "viewports";

.home-page {
    .home-page-section-header {
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-medium);
        align-self: start;

        @include viewports.mobile {
            font-weight: var(--font-weight-bolder);
            font-size: var(--font-size-large);
            line-height: var(--line-height-large);
            margin-bottom: 0.2rem;
        }
    }

    .trending-categories {
        @include layouts.flex(column, start, stretch, 0.5em);

        .trending-categories-buttons {
            @include layouts.grid(
                $template: 1fr / repeat(auto-fit, minmax(15ch, 1fr)),
                $gap: 0.5em,
                $justify-items: stretch,
                $align-items: stretch,
                $justify-content: center,
                $align-content: start
            );
            row-gap: 0;
            line-height: normal;
            overflow: hidden;
            grid-auto-rows: 0;
            .trending-category-button {
                @include viewports.mobile {
                    width: 100%;
                }
            }
            @include viewports.mobile {
                grid-auto-rows: 1fr;
                row-gap: 0.5em;
                @include layouts.grid($template: 1fr / 1fr 1fr, $gap: 0.5em);
            }
            .trending-category-loading-button {
                height: 3.5em;
            }
        }
    }

    .desktop-banners {
        @include layouts.grid($gap: var(--page-items-gap));

        @include viewports.ultraWide {
            grid-template-columns: 1fr 1fr;
        }
    }

    .create-auction-banner {
        @include layouts.flex(row, stretch, stretch);
        overflow: hidden;
        border-radius: var(--border-radius-large);
        border: var(--border);
        height: var(--card-height);

        .create-auction-banner-img-container {
            border-right: none;

            .create-auction-banner-text {
                justify-self: end;
                @include layouts.center;
                width: 12ch;
                padding: 1ch;
                color: white;
                background: linear-gradient(
                    to right,
                    transparent 0%,
                    rgba(0, 0, 0, 0.5) 20%,
                    black 110%
                );
                text-align: end;
                user-select: none;
                line-height: var(--line-height-large);
                white-space: normal;
            }
        }
        .create-auction-button {
            @include layouts.flex(row, center, center, 0.5ch);
            border-radius: 0;
            white-space: nowrap;
        }
    }

    .your-page-banner {
        @include layouts.flex(column, stretch, stretch);
        overflow: hidden;
        border-radius: var(--border-radius-large);
        border: var(--border);

        height: calc(var(--card-height) * 0.75);

        @include viewports.ultraWide {
            height: var(--card-height);
        }

        .your-page-banner-img-container {
            border-bottom: none;
            .your-page-banner-text {
                align-self: end;
                justify-self: end;
                @include layouts.center;
                padding: 0.5ch;
                color: white;
                background: radial-gradient(black 0%, transparent 70%);
                text-align: end;
                user-select: none;
            }
        }
        .your-page-button {
            @include layouts.flex(row, center, center, 0.5ch);
            border-radius: 0;
            white-space: nowrap;
            height: 3.5em;
        }
    }

    .trending-auctions {
        @include layouts.flex(column, start, stretch, 0.5em);
    }
}

.banner-img-container {
    @include layouts.grid("." 1fr / 1fr);
    flex-grow: 1;

    > * {
        grid-area: 1/1;
    }
}

.banner-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@include viewports.mobile {
    .home-page-carousel {
        cursor: pointer;
        margin-top: -1em;
        margin-bottom: calc(var(--page-items-gap) * -0.5);
        margin-right: -2%;
        margin-left: -2%;
    }

    .carousel-item-wrapper {
        @include layouts.grid(
            $template: 1fr / 1fr minmax(0, 30svw),
            $justify-content: center,
            $justify-items: center,
            $align-content: stretch,
            $align-items: end
        );
        height: 10rem;
    }

    .carousel-image {
        grid-column: 1;
        grid-row: 1 / -1;
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;

        &.full-width {
            grid-column: 1/3;
        }
    }

    .carousel-text {
        grid-area: 1/1;
        @include layouts.center;
        font-size: var(--font-size-medium);
        color: white;
        width: 11.5ch;
        justify-self: end;
        align-self: stretch;
        text-align: end;
        padding-right: 1ch;
        line-height: var(--line-height-medium);
        background: linear-gradient(
            to right,
            transparent 0%,
            rgba(0, 0, 0, 0.5) 20%,
            black 110%
        );
    }

    .carousel-item-button {
        max-height: 100%;
        width: 30svw;
        overflow: hidden;
        grid-area: 1/2;
        align-self: stretch;
        justify-self: end;
    }

    .trending-auctions-list {
        margin-left: -2%;
        margin-right: -2%;
    }
}

:host ::ng-deep {
    .create-auction-button .p-button {
        height: 100%;
        width: 100%;
        border-radius: 0;
        .pi {
            font-size: var(--font-size-medium);
        }
    }

    .trending-category-button button {
        @include layouts.flex(row, center, center);
        word-wrap: break-word;
    }

    .p-button {
        padding: 1ch;
    }

    .trending-category-loading-button .p-disabled,
    .trending-category-button.p-disabled {
        opacity: 1;
    }

    .trending-category-loading-button .p-button {
        padding: 0;
    }

    .your-page-button button {
        border-radius: 0;
        justify-content: center;
        span {
            flex-grow: 0;
        }
    }

    .p-carousel-indicators {
        padding: 0.5rem 2%;
        border-bottom: var(--border);
        gap: 0.5rem;
    }

    .p-carousel-indicator {
        margin: 0;
        flex-grow: 1;

        button {
            width: 100%;
        }
    }

    .carousel-item-button .p-button-label {
        height: fit-content;
        flex-grow: 0;
    }
}
