@use "layouts";
@use "viewports";

.home-page {
    .trending-categories {
        @include layouts.flex(column, start, stretch, 0.5em);
        > :first-child {
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-regular);
            align-self: start;
        }
        .trending-categories-buttons {
            @include layouts.grid(
                $template: 1fr / repeat(auto-fit, minmax(15ch, 1fr)),
                $gap: 0.5em,
                $justify-items: stretch,
                $align-items: stretch,
                $justify-content: center,
                $align-content: center
            );
            min-height: 3.5em;
            .trending-category-button {
                @include viewports.mobile {
                    width: 100%;
                }
            }
            @include viewports.mobile {
                @include layouts.grid($template: 1fr / 1fr 1fr, $gap: 0.5em);
            }
            .trending-category-loading-button {
                height: 3.5em;
            }
        }
    }

    .create-auction-banner {
        @include layouts.flex(row, stretch, stretch);
        overflow: hidden;
        border-radius: var(--border-radius-large);
        border: var(--border);
        height: var(--card-height);
        .create-auction-banner-img-container {
            @include layouts.flex(row, end, stretch);
            flex-grow: 1;
            border-right: none;
            background: url("/assets/create-auction-banner.webp") center / cover;
            .create-auction-banner-text {
                @include layouts.center;
                width: 12ch;
                padding: 1ch;
                color: white;
                background: linear-gradient(
                    to right,
                    transparent 0%,
                    rgba(0, 0, 0, 0.5) 20%,
                    black 110%
                );
                text-align: end;
                user-select: none;
                line-height: var(--line-height-large);
                white-space: normal;
            }
        }
        .create-auction-button {
            @include layouts.flex(row, center, center, 0.5ch);
            border-radius: 0;
            white-space: nowrap;
        }
    }

    .your-page-banner {
        @include layouts.flex(column, stretch, stretch);
        overflow: hidden;
        border-radius: var(--border-radius-large);
        border: var(--border);

        height: calc(var(--card-height) * 0.75);
        .your-page-banner-img-container {
            @include layouts.flex(row, end, end);
            flex-grow: 1;
            border-bottom: none;
            background: url("/assets/your-page-banner.webp") center / cover;
            .your-page-banner-text {
                @include layouts.center;
                padding: 0.5ch;
                color: white;
                background: radial-gradient(black 0%, transparent 70%);
                text-align: end;
                user-select: none;
            }
        }
        .your-page-button {
            @include layouts.flex(row, center, center, 0.5ch);
            border-radius: 0;
            white-space: nowrap;
            height: 3.5em;
        }
    }

    .trending-auctions {
        @include layouts.flex(column, start, stretch, 0.5em);
    }
}

:host ::ng-deep {
    .create-auction-button .p-button {
        height: 100%;
        width: 100%;
        border-radius: 0;
        .pi {
            font-size: var(--font-size-medium);
        }
    }

    .trending-category-button button {
        @include layouts.flex(row, center, center);
        word-wrap: break-word;
        padding: 0.3em;
    }

    .trending-category-loading-button button:hover {
        cursor: progress;
    }

    .your-page-button button {
        border-radius: 0;
        justify-content: center;
        span {
            flex-grow: 0;
        }
    }
}
