@import "flex";
@import "grid";
@import "center";
@import "mobile";

.home-page {
    @include flex(column, start, stretch, 1em);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: 100%;
    width: 100%;
    padding: 1em 15%;

    @include mobile {
        padding: 1em 2%;
    }

    .trending-categories {
        @include flex(column, start, stretch, 0.5em);
        > :first-child {
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-regular);
            align-self: start;
        }
        .trending-categories-buttons {
            @include flex(row, space-between, stretch, 0.2ch);
            flex-wrap: nowrap;
            min-height: 3.5em;
            .trending-category-button {
                flex: 0 1 15ch;
                ::ng-deep button {
                    @include flex(row, center, center);
                    word-wrap: break-word;
                    padding: 0.3em;
                }
            }
            .trending-category-loading-button {
                height: 3.5em;
                width: 15ch;
                ::ng-deep button:hover {
                    cursor: progress;
                }
            }
        }
    }

    .create-auction-banner {
        @include flex(row, stretch, stretch);
        overflow: hidden;
        border-radius: var(--border-radius-large);
        border: var(--border);
        height: var(--card-height);
        .create-auction-banner-img-container {
            @include flex(row, end, stretch);
            flex-grow: 1;
            border-right: none;
            background: url("/assets/create-auction-banner.webp") center / cover;
            .create-auction-banner-text {
                @include center;
                width: 12ch;
                padding: 1ch;
                color: white;
                background: linear-gradient(
                    to right,
                    transparent 0%,
                    rgba(0, 0, 0, 0.5) 20%,
                    black 110%
                );
                text-align: end;
                user-select: none;
                line-height: var(--line-height-large);
                white-space: normal;
            }
        }
        .create-auction-button {
            @include flex(row, center, center, 0.5ch);
            border-radius: 0;
            white-space: nowrap;
            ::ng-deep button {
                border-radius: 0;
            }
        }
    }

    .your-page-banner {
        @include flex(column, stretch, stretch);
        overflow: hidden;
        border-radius: var(--border-radius-large);
        border: var(--border);

        height: calc(var(--card-height) * 0.75);
        .your-page-banner-img-container {
            @include flex(row, end, end);
            flex-grow: 1;
            border-bottom: none;
            background: url("/assets/your-page-banner.webp") center / cover;
            .your-page-banner-text {
                @include center;
                padding: 0.5ch;
                color: white;
                background: radial-gradient(black 0%, transparent 70%);
                text-align: end;
                user-select: none;
            }
        }
        .your-page-button {
            @include flex(row, center, center, 0.5ch);
            border-radius: 0;
            white-space: nowrap;
            height: 3.5em;
            ::ng-deep button {
                border-radius: 0;
                justify-content: center;
                span {
                    flex-grow: 0;
                }
            }
        }
    }

    .trending-auctions {
        @include flex(column, start, stretch, 0.5em);
    }
}
