@use "layouts";

.editable-field,
.editable-field-enabled .editable-field-btns {
    @include layouts.flex(row, start, stretch, 1rem);
}

.editable-field-btns,
.editable-field-enabled.editable-field {
    @include layouts.flex(column, start, stretch, 1rem);
}

.editable-field-enabled .editable-field-btns > * {
    flex-grow: 1;
}

:host ::ng-deep {
    .group-btn-right .p-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .group-btn-left .p-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .editable-field-enabled .editable-field-btns .p-button {
        width: 100%;
    }
}
