@use "layouts";
@use "viewports";

.editable-field {
    @include layouts.flex(row, start, stretch, 1rem);
}

.editable-field-btns {
    @include layouts.flex(column, start, stretch, 1rem);
}

.editable-field-input {
    flex-grow: 1;
}

@include viewports.mobile {
    .editable-field {
        flex-direction: column-reverse;
    }

    .editable-field-btns {
        flex-direction: row;

        > * {
            flex-grow: 1;
        }
    }
}

:host ::ng-deep {
    .group-btn-right .p-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .group-btn-left .p-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .p-button {
        width: 2.5rem;
    }

    .editable-field-btns .p-button {
        aspect-ratio: 1/1;

        @include viewports.mobile {
            width: 100%;
            aspect-ratio: auto;
        }
    }
}
