@use "layouts";

.loading-placeholder {
    width: 100%;
    @include layouts.flex(column, center, stretch, 2rem);
    .spinner {
        align-self: center;
    }
}

:host ::ng-deep {
    .spinner .p-progress-spinner-circle {
        width: 3rem;
        height: 3rem;
    }
}
