@use "layouts";

:host ::ng-deep {
    .p-tabmenuitem {
        border-top: var(--border);
        border-bottom: var(--border);
        flex: 1;
        display: flex;

        &:not(:last-child) {
            border-right: var(--border);
        }

        .p-menuitem-link {
            border-radius: 0;
            flex: 1;
            display: flex;
            justify-content: center;
        }
    }
    .p-dropdown-item-group {
        padding: 0;
        background: transparent;
    }
    .p-dropdown-items {
        padding: 0;
    }
    .p-dropdown-filter-container {
        margin-bottom: 10px;
    }
    .p-dropdown-item:not(:has(.item-label)) {
        padding: 0;
    }
    .p-dropdown-items:not(:has(.item-label))::after {
        content: "No results found";
        display: block;
        padding: 10px;
        color: var(--text-color-3);
    }
    .macro-category-btn-container {
        @include layouts.flex(column, start, stretch, 0.75rem);
        padding: 0.75rem;
    }
    .p-dropdown-empty-message {
        padding: 0;
    }
}
