<form [formGroup]="form" class="category-selector">
    <p-dropdown
        #dropdown
        [options]="(currentOptions$ | async) ?? [defaultGroup]"
        [formControlName]="controlName"
        optionLabel="name"
        optionValue="value"
        [filter]="true"
        [group]="true"
        optionGroupLabel="groupName"
        optionGroupChildren="items"
        scrollHeight="20em"
        (onFilter)="onFilter($event)"
    >
        <ng-template let-group pTemplate="group">
            @if (showUI && group.macroCategory === -1) {
                <p-tabMenu
                    [model]="tabs"
                    [(activeItem)]="currentTab"
                ></p-tabMenu>
            } @else if (
                showUI && group.macroCategory === selectedMacroCategory
            ) {
                <div class="macro-category-btn-container">
                    <p-button
                        label="All categories"
                        (onClick)="setValue(null)"
                        [icon]="value === null ? 'pi pi-check' : ''"
                    ></p-button>
                    <p-button
                        [label]="'All ' + group.groupName"
                        (onClick)="setValue(group.groupName)"
                        [icon]="value === group.groupName ? 'pi pi-check' : ''"
                        class="p-fluid"
                    ></p-button>
                </div>
            }
        </ng-template>
        <ng-template let-item pTemplate="item">
            @if (
                item.macroCategory === selectedMacroCategory ||
                item.macroCategory === 0
            ) {
                <span class="item-label">{{ item.name }}</span>
            }
        </ng-template>
        <ng-template pTemplate="empty"></ng-template>
    </p-dropdown>
</form>
