<div [formGroup]="form" class="category-selector">
    <p-dropdown
        #dropdown
        [options]="(currentOptions$ | async) ?? [defaultGroup]"
        [formControlName]="controlName"
        optionLabel="name"
        optionValue="value"
        [filter]="true"
        [group]="true"
        optionGroupLabel="groupName"
        optionGroupChildren="items"
        scrollHeight="20em"
        (onFilter)="onFilter($event)"
        (onChange)="emitChange()"
    >
        <ng-template let-group pTemplate="group">
            @if (showUI && group.macroCategory === -1) {
                <div class="macro-category-btns-container">
                    @for (
                        macroCategory of macroCategoryOptions$ | async;
                        track $index
                    ) {
                        <p-button
                            class="macro-category-btn p-fluid"
                            [label]="macroCategory.name"
                            (onClick)="setValue(macroCategory.value)"
                            [icon]="
                                value === macroCategory.value
                                    ? 'pi pi-check'
                                    : ''
                            "
                            [style]="{
                                paddingLeft: 0,
                                paddingRight: 0,
                                whiteSpace: 'nowrap'
                            }"
                        ></p-button>
                    }
                </div>
                <p-tabMenu
                    [model]="tabs"
                    [(activeItem)]="currentTab"
                ></p-tabMenu>
            }
        </ng-template>
        <ng-template let-item pTemplate="item">
            @if (
                !showUI ||
                item.macroCategory === selectedMacroCategory ||
                item.macroCategory === 0
            ) {
                <span class="item-label">{{ item.name }}</span>
            }
        </ng-template>
        <ng-template pTemplate="empty"></ng-template>
    </p-dropdown>
</div>
