.category-selector {
    ::ng-deep {
        .p-menuitem-text {
            color: var(--text-color-1);
        }
        .p-tabmenuitem {
            border-top: var(--border);
            border-bottom: var(--border);

            border-right: var(--border);

            .p-menuitem-link {
                border-radius: 0;
            }
        }
        .p-dropdown-item-group {
            padding: 0;
        }
        .p-dropdown-items {
            padding: 0;
        }
        .p-dropdown-filter-container {
            margin-bottom: 10px;
        }
        .p-dropdown-item:not(:has(.item-label)) {
            padding: 0;
        }
        .p-dropdown-items:not(:has(.item-label))::after {
            content: "No results found";
            display: block;
            padding: 10px;
            color: var(--text-color-2);
        }
    }
}
