<header class="header">
    <nav class="navbar">
        <section class="navbar-user-section">
            <button
                class="hamburger-btn btn"
                (click)="windowService.isSidebarVisible = true"
            >
                <i class="pi pi-bars"></i>
            </button>
            <dd24-logo class="logo"></dd24-logo>
            <div class="spacer"></div>
            @if ((authenticationService.isLogged$ | async) === false) {
                <p-button
                    class="nav-auth-btn"
                    severity="secondary"
                    (onClick)="
                        redirectionService.navigateRedirectingBack(
                            '/auth/login'
                        )
                    "
                >
                    Login
                </p-button>
                <p-button
                    class="nav-auth-btn"
                    severity="secondary"
                    (onClick)="
                        redirectionService.navigateRedirectingBack(
                            '/auth/register'
                        )
                    "
                >
                    Register
                </p-button>
            } @else {
                <dd24-user-menu class="user-menu"></dd24-user-menu>
                <dd24-notifications-menu
                    class="notifications-menu"
                ></dd24-notifications-menu>
            }
        </section>
        <section class="navbar-search-section">
            <dd24-search-section></dd24-search-section>
        </section>
        <section class="navbar-tabs-section">
            <section class="navbar-tabs">
                @for (tab of tabs; track $index) {
                    <a class="navbar-tab custom-link" [routerLink]="tab.url">{{
                        tab.name
                    }}</a>
                }
            </section>
            <section class="navbar-path">
                <dd24-breadcrumb></dd24-breadcrumb>
            </section>
        </section>
    </nav>
</header>
