@import "flex";
@import "grid";
@import "padding-vertical";
@import "padding-horizontal";
@import "mobile";
.header {
    color: var(--text-color-1);
    background-color: var(--component-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    .navbar {
        @include grid($template: 1fr 1fr auto / 1fr, $justify-content: stretch);
        width: 100%;
        height: calc(var(--font-size-medium) * 10);
        $section-padding: 0.5rem;

        > * {
            overflow: hidden;
            border-bottom: var(--border);
            padding: 0 1rem;
        }

        .navbar-user-section {
            font-size: var(--font-size-medium);
            @include flex($align: center, $gap: 0.5em);
            @include padding-vertical($section-padding);

            .hamburger-btn {
                color: var(--outline-color);
                padding: 0;
                aspect-ratio: 1/1;
                background-color: transparent;
                border: none;
                i {
                    font-size: calc(var(--font-size-large) * 1.2);
                }
            }

            .logo {
                margin-left: 1em;
                height: 100%;
                width: fit-content;
                ::ng-deep .logo {
                    width: auto;
                }
            }

            .spacer {
                flex-grow: 1;
            }

            .nav-auth-btn {
                ::ng-deep button {
                    padding: 0.5em 1.5em;
                    height: fit-content;
                    font-weight: var(--font-weight-bold);
                }
            }
        }

        .navbar-search-section {
            @include flex(column, center, stretch);
            overflow: visible;
        }

        .navbar-tabs-section {
            @include flex($justify: space-between);

            .navbar-tabs {
                @include flex($align: stretch);
                .navbar-tab {
                    padding: 0.2em 0.4em;
                    font-weight: var(--font-weight-bold);
                    border-right: var(--border);
                    &:first-child {
                        border-left: var(--border);
                    }
                }
            }
            .navbar-path {
                @include flex($align: center);
                ::ng-deep {
                    .p-breadcrumb {
                        border: none;
                        background: transparent;
                        padding: 0;

                        .p-menuitem-text {
                            color: var(--text-color-1);
                            line-height: normal;
                            &:hover {
                                text-decoration: underline;
                            }
                            // &:last-child:hover {
                            //     text-decoration: none;
                            //     cursor: default;
                            // }
                        }
                        .p-icon,
                        .p-menuitem-icon {
                            color: var(--text-color-1);
                        }
                        .p-menuitem-icon {
                            margin-right: 1ch;
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
    }
}
