@use "layouts";
@use "viewports";
@use "box";
.header {
    color: var(--text-color-1);
    background-color: var(--component-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    .navbar {
        @include layouts.grid(
            $template: auto auto auto / 1fr,
            $justify-content: stretch
        );
        width: 100%;
        $section-padding: 0.5rem;

        > * {
            border-bottom: var(--border);
            padding: 0 1rem;
        }

        .navbar-user-section {
            font-size: var(--font-size-medium);
            @include layouts.flex($align: center, $gap: 0.5em);
            @include box.padding-vertical($section-padding);

            .hamburger-btn {
                color: var(--outline-color);
                padding: 0;
                aspect-ratio: 1/1;
                background-color: transparent;
                border: none;
                i {
                    font-size: calc(var(--font-size-large) * 1.2);
                }
            }

            .logo {
                margin-left: 1em;
                height: 3rem;
                width: fit-content;
            }

            .spacer {
                flex-grow: 1;
            }
        }

        .navbar-search-section {
            @include layouts.flex(column, center, stretch);
            @include box.padding-vertical($section-padding);
            overflow: visible;
        }

        .navbar-tabs-section {
            @include layouts.flex($justify: space-between);

            .navbar-tabs {
                @include layouts.flex($align: stretch);
                .navbar-tab {
                    padding: 0.2em 0.4em;
                    font-weight: var(--font-weight-bold);
                    border-right: var(--border);
                    &:first-child {
                        border-left: var(--border);
                    }
                }
            }
            .navbar-path {
                @include layouts.flex($align: center);
            }
        }
    }
}

:host ::ng-deep {
    .logo .logo {
        width: auto;
    }

    .nav-auth-btn button {
        padding: 0.5em 1.5em;
        height: fit-content;
        font-weight: var(--font-weight-bold);
    }

    .p-breadcrumb {
        border: none;
        background: transparent;
        padding: 0;

        .p-menuitem-text {
            color: var(--text-color-1);
            line-height: normal;
            &:hover {
                text-decoration: underline;
            }
            // &:last-child:hover {
            //     text-decoration: none;
            //     cursor: default;
            // }
        }
        .p-icon,
        .p-menuitem-icon {
            color: var(--text-color-1);
        }
        .p-menuitem-icon {
            margin-right: 1ch;
            margin-bottom: 2px;
        }
    }
}
