@mixin padding-horizontal($padding: 0) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin padding-vertical($padding: 0) {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin margin-horizontal($margin: 0) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin margin-vertical($margin: 0) {
    margin-top: $margin;
    margin-bottom: $margin;
}
