@mixin grid(
  $template: ".",
  $gap: 0,
  $justify-items: stretch,
  $align-items: stretch,
  $justify-content: stretch,
  $align-content: stretch
) {
  display: grid;
  grid-template: $template;
  grid-gap: $gap;
  justify-items: $justify-items;
  align-items: $align-items;
  justify-content: $justify-content;
  align-content: $align-content;
}
