@use "layouts";
@use "viewports";
@use "box";

@mixin main {
    @include layouts.flex(column, start, stretch, 1em);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: 100%;
    width: 100%;
    padding: 1em 15%;

    @include viewports.mobile {
        padding: 1em 2%;
    }
}

@mixin auth-form {
    border: var(--border);
    border-radius: var(--border-radius-large);
    @include layouts.flex(column, flex-start, center, 0.2rem);
    padding: 1.2rem 0;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    width: 25ch;
    background-color: var(--component-color);

    @include viewports.mobile {
        border: none;
        border-radius: 0;
        width: 100%;
    }

    h1 {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
        margin: 0;
    }

    a {
        font-size: var(--font-size-small);
    }

    > :not(.divider) {
        @include box.padding-horizontal(2rem);
    }
}
