@use "layouts";

@mixin main {
    @include layouts.flex(column, start, stretch, 1em);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: 100%;
    width: 100%;
    padding: 1em 15%;
}
