@use "layouts";
@use "viewports";

.ruleset-item {
    @include layouts.flex(row, start, center, 0.5rem);
    cursor: pointer;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bolder);
    user-select: none;
    margin-left: calc(var(--font-size-large) * -1);
}

.ruleset-item-radio {
    display: inline;
    align-self: stretch;
}

.ruleset-description {
    margin-left: calc(var(--font-size-large) * -2);
    margin-top: 0.3rem;
    display: block;
}

:host ::ng-deep {
    #sell-menu_header,
    #buy-menu_header {
        .p-menuitem-text {
            font-size: var(--font-size-medium);
            color: var(--text-color-3);
        }
        .p-submenu-icon {
            height: var(--font-size-medium);
            width: var(--font-size-medium);
        }
    }

    .p-menuitem[aria-expanded="true"] {
        .ruleset-item-chevron {
            transform: rotate(90deg);
        }
    }

    .p-panelmenu-header,
    .p-panelmenu-header-content,
    .p-menuitem-content {
        width: fit-content;
    }

    .p-panelmenu-panel {
        padding: 0 !important;
    }

    .p-panelmenu-header-content {
        @include layouts.flex(row, start, center);
        padding: 0.5rem 0;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bolder);
        color: var(--text-color-3);
    }

    .p-panelmenu-content {
        padding: 0;
    }

    .p-panelmenu-header-action {
        padding: 0;
    }

    .p-panelmenu-header {
        padding: 0;
    }

    .p-icon-wrapper {
        display: none;
    }

    .p-menuitem-link {
        padding: 0;
    }

    .p-menuitem-text {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bolder);
        cursor: default;
    }

    .p-submenu-icon {
        height: var(--font-size-large);
        width: var(--font-size-large);
    }

    .p-menuitem {
        margin-left: calc(16px + 0.5rem);
    }

    .p-panelmenu-header-content .p-menuitem-text {
        font-size: var(--font-size-large);
    }

    .p-submenu-icon {
        height: var(--font-size-large);
        width: var(--font-size-large);
    }

    .divider .p-divider {
        margin-top: 1.75rem;

        @include viewports.mobile {
            margin-bottom: 1.25rem;
        }
    }
}
