<main class="help-page dd24-main-page">
    <p-button
        class="help-back-btn"
        label="Go back"
        icon="pi pi-chevron-left"
        (onClick)="location.back()"
    ></p-button>
    <p-iconField iconPosition="left" class="faq-filter">
        <p-inputIcon styleClass="pi pi-search" />
        <input
            class="faq-filter-input"
            pInputText
            placeholder="What do you want to know?"
            [formControl]="filterControl"
        />
    </p-iconField>
    <p-panelMenu
        class="dd24-panelmenu"
        [model]="filteredFaqMenuItems"
    ></p-panelMenu>
</main>
