@use "viewports";

.help-back-btn {
    align-self: start;
}

.faq-filter {
    align-self: start;
    max-width: 50ch;

    @include viewports.mobile {
        max-width: none;
        align-self: stretch;
    }
}
