@use "viewports";

.help-back-btn {
    align-self: start;
}

.faq-filter {
    align-self: start;
    max-width: min(50ch);

    @include viewports.mobile {
        max-width: 100%;
        align-self: stretch;
    }
}

// :host ::ng-deep {
//     p-panelmenu {
//         width: 96%;
//         overflow: hidden;
//     }
// }
