<div class="form-card dd24-auth-form">
    <h1>Reset your password</h1>
    @if (!resettedSuccessfully) {
        <form
            class="reset-password-form"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="onSubmit()"
        >
            <section class="inputs">
                <div class="input">
                    <label for="new-password">New password*</label>
                    <dd24-input
                        controlName="newPassword"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'a password is required'
                            },
                            {
                                validation: [
                                    'pattern',
                                    'minlength',
                                    'maxlength'
                                ],
                                message:
                                    'a password must be at least 8 characters long, and contain at least one lowercase letter, one uppercase letter, and one special character.'
                            }
                        ]"
                    >
                        <p-password
                            class="p-fluid"
                            type="password"
                            formControlName="newPassword"
                            name="new-password"
                            [feedback]="true"
                            toggleMask="true"
                            placeholder="A strong password"
                            [strongRegex]="environment.passwordStrongPattern"
                            [mediumRegex]="environment.passwordMediumPattern"
                            inputId="new-password"
                            autocomplete="new-password"
                        />
                    </dd24-input>
                </div>

                <div class="input">
                    <label for="confirm-new-password">
                        Confirm new password*
                    </label>
                    <dd24-input
                        controlName="confirmNewPassword"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'you need to confirm your password'
                            },
                            {
                                customValidation: 'passwordsDoNotMatch',
                                message: 'passwords do not match'
                            }
                        ]"
                    >
                        <p-password
                            class="p-fluid"
                            type="password"
                            formControlName="confirmNewPassword"
                            name="confirm-new-password"
                            [feedback]="false"
                            toggleMask="true"
                            placeholder="The same as above"
                            inputId="confirm-new-password"
                            autocomplete="new-password"
                        />
                    </dd24-input>
                </div>
            </section>

            <p-button
                label="Reset"
                type="submit"
                class="reset-submit"
                [loading]="submissionLoading"
            />
        </form>
    } @else {
        <p>You can log in to your account</p>
        <p-button label="Login" routerLink="../login" class="login-btn" />
    }
</div>
