<div class="input-container">
    <label>{{ label }}</label>
    <input
        [type]="type"
        [placeholder]="placeholder"
        [value]="value"
        [disabled]="disabled"
        (input)="onChange($event)"
        (blur)="onTouched()"
        [class.error]="ngControl.touched && ngControl.invalid"
    />
    @if(ngControl.touched){
    <span class="error error-message">
        @if(ngControl.hasError('required')){ {{ requiredError }} } 
        @else if(ngControl.errors){ {{ error }} }
    </span>
    }
</div>
