@import "flex";
@import "grid";

.input-container {
    @include flex(column, flex-start, stretch);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
    width: 100%;

    label {
        color: var(--text-color-1);
        margin-bottom: 0.1em;
    }

    .input-element-container {
        @include grid(
            $justify-items: stretch,
            $align-items: stretch,
            $justify-content: stretch,
            $align-content: stretch
        );

        > * {
            grid-row: 1;
            grid-column: 1;
        }

        input {
            color: var(--text-color-3);
            border-radius: var(--border-radius-medium);
            border: var(--border);
            padding: 0.2em;

            &.password {
                padding-right: 2em;
            }

            &:focus {
                outline: 2px solid var(--border-color);
                border: var(--border);
            }
        }

        .password-visibility-button {
            color: var(--basic-affordances-color);
            justify-self: end;
            width: 2em;
            background-color: transparent;
            border: none;
        }

        &.error {
            input {
                color: var(--error-color);
                border: 2px solid var(--error-color);
                &:focus {
                    outline-color: var(--error-color-transparent);
                }
            }
            .password-visibility-button {
                color: var(--error-color);
            }
        }
    }
    .error-message {
        font-size: var(--font-size-small);
    }
}
