<div class="input-container">
    <label [for]="name">{{ label }}</label>
    <div class="input-element-container" [class.error]="shouldDisplayError">
        <input
            #inputElement
            [type]="type"
            [name]="name"
            [placeholder]="placeholder"
            [value]="value"
            [disabled]="disabled"
            (input)="onChangeWrapper($event.target)"
            (blur)="onTouched()"
            (focus)="handleFocus($event)"
            [class.password]="isPassword"
        />
        @if (isPassword) {
            <button
                class="password-visibility-button"
                type="button"
                (click)="togglePasswordVisibility(); inputElement.focus()"
            >
                <i
                    [class]="'bi bi-eye' + (!isPasswordVisible ? '' : '-slash')"
                ></i>
            </button>
        }
    </div>
    @if (shouldDisplayError) {
        <span class="error error-message">
            {{ errorMessage }}
        </span>
    }
</div>
