@layer reset {
    @import "normalize-scss/sass/normalize";
    @include normalize();
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    button {
        background: none;
        border: none;
    }
}

:root {
    --background-color: var(--surface-ground);
    --component-color: var(--surface-0);
    --text-color-1: var(--text-color);
    --text-color-2: var(--text-color-secondary);
    --text-color-3: var(--text-color-tertiary);
    --text-suggestion-color: var(--text-color-suggestion);
    --text-accent-color: var(--primary-color-text);
    --basic-affordances-color: var(--gray-400);
    --outline-color: var(--text-color-1);
    --border-color: var(--surface-border);
    --accent-color-1: var(--primary-color);
    --accent-color-2: var(--secondary-color);
    --side-color: var(--accent-color-2);

    --border: 1px solid var(--border-color);

    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.5rem;
    --border-radius-large: 1rem;

    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.6rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --line-height-medium: 1.5rem;
    --line-height-large: 2rem;

    --card-height: 15rem;

    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}

body {
    background-color: var(--background-color);
    line-height: var(--line-height-medium);
    color: var(--text-color-1);
}

@import "./global-styles/danger";
@import "./global-styles/error";
@import "./global-styles/links";
@import "./global-styles/icons";
@import "./global-styles/text";
@import "./global-styles/placeholder";
