:root {
    --background-color: #ffffff;
    --component-color: #ffffff;
    --text-color-1: #0c1929;
    --text-color-2: #707080;
    --text-color-3: #495057;
    --text-suggestion-color: #a0a0a0;
    --text-accent-color: #efefef;
    --basic-affordances-color: #939393;
    --outline-color: var(--text-color-1);
    --border-color: #aeb4ba;
    --border-color-transparent: rgba(174, 180, 186, 0.4);
    --accent-color-1: #2d7074;
    --accent-color-1-transparent: rgba(45, 112, 116, 0.4);
    --accent-color-1-hover: #1f4d51;
    --accent-color-2: #37587e;
    --accent-color-3: #ff9921;
    --danger-color: #ff0000;
    --error-color: #e22d4e;
    --error-color-transparent: rgba(226, 45, 78, 0.4);
    --side-color: var(--accent-color-2);
    --darkened-color: rgba(0, 0, 0, 0.1);

    --border: 1px solid var(--border-color);

    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.5rem;
    --border-radius-large: 1rem;

    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.6rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --line-height-medium: 1.5rem;
    --line-height-large: 2.4rem;

    --card-height: 15rem;

    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;

    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    line-height: var(--line-height-medium);
}

@import "./global-styles/danger";
@import "./global-styles/error";
@import "./global-styles/links";
@import "./global-styles/icons";
@import "./global-styles/buttons";
@import "./global-styles/text";
@import "./global-styles/placeholder";
