@use "layouts";

.mobile-navbar {
    @include layouts.flex(row, space-between, center);
    padding: 10px 4%;
    width: 100%;
    border-top: var(--border);
    background-color: var(--component-color);

    .nav-entry {
        border-radius: 5000px;
        aspect-ratio: 1/1;
        @include layouts.center;
        text-decoration: none;

        .nav-link-icon {
            color: var(--basic-affordances-color);
            cursor: pointer;

            &.create {
                color: var(--accent-color-1);
            }
        }

        &.nav-entry-active {
            background: radial-gradient(
                var(--border-color-transparent) 0%,
                transparent 100%
            );

            .nav-link-icon:not(.create) {
                text-shadow: var(--active-icon-shadow);
            }
        }
    }
}

:host ::ng-deep {
    .p-avatar {
        background: transparent;
        .p-avatar-icon {
            color: var(--basic-affordances-color);
            font-size: var(--mobile-icon-size);
            border-radius: 0;
            overflow: visible;
        }
    }
    .nav-entry-active {
        background-color: var(--border-color-transparent);
        .p-avatar-icon {
            text-shadow: var(--active-icon-shadow);
        }
    }

    .p-badge {
        text-shadow: none;
    }
}
