<nav class="mobile-navbar">
    <a routerLink="/home"><i class="nav-link pi pi-home"></i></a>
    <a routerLink="/auctions"><i class="nav-link pi pi-search"></i></a>
    <a routerLink="/create-auction"
        ><i class="nav-link create pi pi-plus-circle"></i
    ></a>
    <p-avatar
        class="avatar"
        [icon]="(profilePicture$ | async) !== null ? '' : 'pi pi-user'"
        [shape]="(profilePicture$ | async) !== null ? 'circle' : 'square'"
        [image]="(profilePicture$ | async) ?? ''"
        routerLink="/your-page"
    />
    <a><i class="nav-link pi pi-bell"></i></a>
</nav>
