@use "layouts";

.mobile-navbar {
    @include layouts.flex(row, space-between, center);
    padding: 0.5rem 1.5rem;
    width: 100%;
    border-top: var(--border);
    background-color: var(--component-color);

    .nav-entry {
        border-radius: 5000px;
        aspect-ratio: 1/1;
        @include layouts.center;
        text-decoration: none;
        padding: 0.4rem;

        .nav-link-icon {
            @include layouts.center;
            font-size: 2rem;
            width: 2ch;
            color: var(--basic-affordances-color);
            cursor: pointer;

            &.create {
                color: var(--accent-color-1);
            }
        }

        &.nav-entry-active {
            background: radial-gradient(
                var(--border-color-transparent) 0%,
                transparent 100%
            );

            .nav-link-icon {
                font-weight: 900;
            }
        }
    }
}

:host ::ng-deep {
    .p-avatar {
        background: transparent;
        .p-avatar-icon {
            color: var(--basic-affordances-color);
            font-size: 2rem;
            border-radius: 0;
            overflow: visible;
        }
    }
    .nav-entry-active {
        background-color: var(--border-color-transparent);
        .p-avatar-icon {
            font-weight: 900;
        }
    }
}
