<nav class="mobile-navbar">
    <button
        class="nav-entry"
        pRipple
        routerLink="/home"
        routerLinkActive="nav-entry-active"
        #homeLink="routerLinkActive"
    >
        <i
            class="nav-link-icon medium-icon pi pi-home"
            [class.dd24icon-home-fill]="homeLink.isActive"
        ></i>
    </button>
    <button
        class="nav-entry"
        pRipple
        routerLink="/auctions"
        routerLinkActive="nav-entry-active"
    >
        <i class="nav-link-icon medium-icon pi pi-search"></i>
    </button>
    <button
        class="nav-entry"
        pRipple
        routerLink="/create-auction"
        routerLinkActive="nav-entry-active"
    >
        <i class="nav-link-icon medium-icon create pi pi-plus-circle"></i>
    </button>

    @if (authenticationService.isLogged$ | async) {
        <button
            class="nav-entry"
            pRipple
            routerLink="/notifications"
            routerLinkActive="nav-entry-active"
            #notificationsLinkWithBadge="routerLinkActive"
        >
            <i
                class="nav-link-icon medium-icon pi pi-inbox"
                [class.dd24icon-inbox-fill]="
                    notificationsLinkWithBadge.isActive
                "
                pBadge
                [value]="
                    (notificationsService.unreadNotificationsCount$ | async) ??
                    0
                "
                [badgeDisabled]="
                    (notificationsService.unreadNotificationsCount$ | async) ===
                    0
                "
            ></i>
        </button>
    } @else {
        <button
            class="nav-entry"
            pRipple
            routerLink="/notifications"
            routerLinkActive="nav-entry-active"
            #notificationsLink="routerLinkActive"
        >
            <i
                class="nav-link-icon medium-icon pi pi-inbox"
                [class.dd24icon-inbox-fill]="notificationsLink.isActive"
            ></i>
        </button>
    }
    <p-avatar
        class="avatar nav-entry"
        pRipple
        [icon]="
            !showImagePlaceholder
                ? ''
                : yourPageLink.isActive
                  ? 'dd24icon-user-fill'
                  : 'pi pi-user'
        "
        [shape]="showImagePlaceholder ? 'square' : 'circle'"
        [image]="
            showImagePlaceholder
                ? undefined
                : (profilePicture$ | async) ?? undefined
        "
        (onImageError)="onImageError()"
        routerLink="/your-page"
        [styleClass]="showImagePlaceholder ? '' : 'using-picture'"
        routerLinkActive="nav-entry-active"
        #yourPageLink="routerLinkActive"
    />
</nav>
