<nav class="mobile-navbar">
    <a
        class="nav-entry"
        routerLink="/home"
        routerLinkActive="nav-entry-active"
        #homeLink="routerLinkActive"
        ><i
            class="nav-link-icon medium-icon pi pi-home"
            [class.dd24icon-home-fill]="homeLink.isActive"
        ></i
    ></a>
    <a
        class="nav-entry"
        routerLink="/auctions"
        routerLinkActive="nav-entry-active"
        ><i class="nav-link-icon medium-icon pi pi-search"></i
    ></a>
    <a
        class="nav-entry"
        routerLink="/create-auction"
        routerLinkActive="nav-entry-active"
        ><i class="nav-link-icon medium-icon create pi pi-plus-circle"></i
    ></a>

    @if (authenticationService.isLogged$ | async) {
        <a
            class="nav-entry"
            routerLink="/notifications"
            routerLinkActive="nav-entry-active"
            #notificationsLinkWithBadge="routerLinkActive"
            ><i
                class="nav-link-icon medium-icon pi pi-inbox"
                [class.dd24icon-inbox-fill]="
                    notificationsLinkWithBadge.isActive
                "
                pBadge
                [value]="
                    (notificationsService.unreadNotificationsCount$ | async) ??
                    0
                "
                [badgeDisabled]="
                    (notificationsService.unreadNotificationsCount$ | async) ===
                    0
                "
            ></i
        ></a>
    } @else {
        <a
            class="nav-entry"
            routerLink="/notifications"
            routerLinkActive="nav-entry-active"
            #notificationsLink="routerLinkActive"
            ><i
                class="nav-link-icon medium-icon pi pi-inbox"
                [class.dd24icon-inbox-fill]="notificationsLink.isActive"
            ></i
        ></a>
    }
    <p-avatar
        class="avatar nav-entry"
        [icon]="
            !showImagePlaceholder
                ? ''
                : yourPageLink.isActive
                  ? 'dd24icon-user-fill'
                  : 'pi pi-user'
        "
        [shape]="showImagePlaceholder ? 'square' : 'circle'"
        [image]="
            showImagePlaceholder
                ? undefined
                : (profilePicture$ | async) ?? undefined
        "
        (onImageError)="onImageError()"
        routerLink="/your-page"
        [styleClass]="showImagePlaceholder ? '' : 'using-picture'"
        routerLinkActive="nav-entry-active"
        #yourPageLink="routerLinkActive"
    />
</nav>
