$primaryColor: #1eb377;
$primaryLightColor: #24bf81;
$primaryLighterColor: #29cc8b;
$primaryLightestColor: #2bd993;
$primaryTextColor: #030712;

$highlightBg: rgba(34, 211, 238, 0.16);
$highlightTextColor: rgba(255, 255, 255, 0.87);
$highlightFocusBg: rgba($primaryColor, 0.24);

$secondaryColor: #1eb377;
$secondaryTextColor: #030712;

$sideColor: #18181b;
$sideBorderColor: #27272a;

$shade000: #ffffff;
$shade50: #fafafa;
$shade100: #f4f4f5;
$shade200: #e4e4e7;
$shade300: #d4d4d8;
$shade400: #a1a1aa;
$shade500: #71717a;
$shade600: #52525b;
$shade700: #3f3f46;
$shade800: #27272a;
$shade900: #18181b;
$shade950: #111111;

$focusOutlineColor: $primaryLightestColor;
$focusShadow: 0 0 0 0.1rem $focusOutlineColor;

$secondaryButtonBg: $shade900;
$secondaryButtonTextColor: $shade000;
$secondaryButtonBorder: 1px solid $shade100;
$secondaryButtonHoverBg: #27272a;
$secondaryButtonTextHoverColor: $shade000;
$secondaryButtonHoverBorderColor: $shade100;
$secondaryButtonActiveBg: #3f3f46;
$secondaryButtonTextActiveColor: $shade50;
$secondaryButtonActiveBorderColor: $shade100;
$secondaryButtonFocusShadow: none;

$borderRadius: 8px;

@import "./variables";
@import "../fonts/fonts";
@import "../theme-base/components";
@import "./extensions";
