<div class="form-card dd24-auth-form">
    <h1 class="form-header">Complete your registration</h1>

    <dd24-stepper [steps]="steps" [(activeStep)]="activeStep" class="stepper" />

    <form
        class="registration-form"
        [formGroup]="socialRegistrationForm"
        (ngSubmit)="onSubmit()"
    >
        @if (activeStep === 0) {
            <div class="inner-form" formGroupName="userData">
                <div class="input">
                    <label for="username">Username*</label>
                    <dd24-input
                        controlName="username"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'an username is required'
                            }
                        ]"
                    >
                        <input
                            class="p-fluid"
                            type="text"
                            pInputText
                            formControlName="username"
                            name="username"
                            placeholder="An unique username"
                            id="username"
                            pKeyFilter="alphanum"
                            [maxlength]="environment.usernameMaxLength"
                            autocomplete="off"
                        />
                    </dd24-input>
                </div>

                <div class="input">
                    <label for="name">Name*</label>
                    <dd24-input
                        controlName="name"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'a name is required'
                            }
                        ]"
                    >
                        <input
                            class="p-fluid"
                            type="text"
                            pInputText
                            [pKeyFilter]="environment.alphaAndWhiteSpacePattern"
                            formControlName="name"
                            name="name"
                            placeholder="Your name"
                            id="name"
                        />
                    </dd24-input>
                </div>

                <div class="input">
                    <label for="surname">Surname*</label>
                    <dd24-input
                        controlName="surname"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'a surname is required'
                            }
                        ]"
                    >
                        <input
                            class="p-fluid"
                            type="text"
                            pInputText
                            [pKeyFilter]="environment.alphaAndWhiteSpacePattern"
                            formControlName="surname"
                            name="surname"
                            placeholder="Your surname"
                            id="surname"
                        />
                    </dd24-input>
                </div>
                <div class="input">
                    <label for="birthday">Birthday*</label>
                    <dd24-input
                        controlName="birthday"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'a birthday is required'
                            }
                        ]"
                    >
                        <p-calendar
                            class="p-fluid"
                            formControlName="birthday"
                            name="birthday"
                            [showIcon]="true"
                            iconDisplay="input"
                            placeholder="dd/mm/yyyy"
                            dateFormat="dd/mm/yy"
                            inputId="birthday"
                            [minDate]="minBirthdayDate"
                            [maxDate]="maxBirthdayDate"
                            [defaultDate]="defaultBirthdayDate"
                        />
                    </dd24-input>
                </div>
                <div class="input">
                    <label for="country">Country*</label>
                    <dd24-input
                        controlName="country"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'a country is required'
                            }
                        ]"
                    >
                        <p-autoComplete
                            class="p-fluid"
                            formControlName="country"
                            name="country"
                            placeholder="The country you live in"
                            emptyMessage="No countries found"
                            [suggestions]="filteredCountries"
                            optionLabel="name"
                            optionValue="code"
                            forceSelection="true"
                            minLength="2"
                            (completeMethod)="completeCountries($event)"
                            inputId="country"
                            [pKeyFilter]="environment.alphaAndWhiteSpacePattern"
                        />
                    </dd24-input>
                </div>
                <div class="input">
                    <label
                        for="city"
                        [class.p-disabled]="
                            socialRegistrationForm.controls.userData.controls
                                .city.disabled
                        "
                        >City*</label
                    >
                    <dd24-input
                        controlName="city"
                        [errorMessages]="[
                            {
                                customValidation: 'noCountrySelected',
                                message:
                                    'You must select a country before selecting a city'
                            },
                            {
                                validation: 'required',
                                message: 'a city is required'
                            }
                        ]"
                    >
                        <p-autoComplete
                            class="p-fluid"
                            formControlName="city"
                            name="city"
                            placeholder="The city you live in"
                            emptyMessage="No cities found"
                            [suggestions]="filteredCities"
                            forceSelection="true"
                            (completeMethod)="completeCities($event)"
                            inputId="city"
                            [pKeyFilter]="environment.alphaAndWhiteSpacePattern"
                            minLength="2"
                        />
                    </dd24-input>
                </div>
            </div>
        } @else {
            <div class="inner-form" formGroupName="privacyPolicy">
                <div
                    class="privacy-policy-preview"
                    (click)="privacyPolicyDialogVisible = true"
                    (keyup.enter)="privacyPolicyDialogVisible = true"
                    tabindex="0"
                >
                    <div class="privacy-policy-preview-mask"></div>
                    <div class="privacy-policy-preview-top">
                        <span>Terms of Service</span>
                        <i class="pi pi-arrow-right"></i>
                    </div>
                    <span>{{ tos }}</span>
                </div>
                <div class="privacy-policy-checkbox-container">
                    <p-checkbox
                        formControlName="accept"
                        inputId="accept"
                        binary="true"
                        class="privacy-policy-checkbox"
                    />
                    <label for="accept"
                        >I have read and accept the terms of the above terms of
                        service</label
                    >
                </div>
            </div>
        }

        @if (error) {
            <span class="error">{{ error }}</span>
        }
        <p-button
            class="next-btn"
            [label]="activeStep !== steps.length - 1 ? 'Next' : 'Register'"
            type="submit"
            [loading]="submissionLoading"
        />
    </form>
    <p-dialog
        class="privacy-policy-dialog custom-dialog"
        header="Terms of Service"
        resizable="false"
        draggable="false"
        modal="true"
        [(visible)]="privacyPolicyDialogVisible"
        dismissableMask="true"
    >
        <span>{{ tos }}</span>
    </p-dialog>
</div>
