<p-fileUpload
    #fileUpload
    [accept]="accept"
    [maxFileSize]="maxSize"
    [fileLimit]="maxFiles"
    multiple="true"
    auto="true"
    chooseLabel="Add"
    customUpload="true"
    (uploadHandler)="onUpload($event)"
    (onRemove)="onRemove($event)"
    (onClear)="onClear()"
>
    <ng-template pTemplate="empty">
        <div class="drag-and-drop-message">
            <i class="drag-and-drop-icon pi pi-cloud-upload"></i>
            <p class="drag-and-drop-text">{{ dragAndDropMessage }}</p>
        </div>
    </ng-template>
</p-fileUpload>
