<div class="notifications-menu-wrapper">
    <i
        class="pi pi-inbox"
        pBadge
        [value]="
            (authentication.loggedUser$ | async)?.unreadNotificationsCounter ??
            0
        "
        (click)="toggle($event)"
        (keypress)="onKeyPress($event)"
        tabindex="0"
    ></i>
    <p-overlayPanel
        #panel
        class="notification-panel"
        [style]="{ color: 'var(--text-color-1)' }"
        styleClass="p-overlaypanel-no-padding"
    >
        <div class="notifications-header-wrapper">
            <h3 class="notifications-header">Notifications</h3>
        </div>
        <div
            class="notification-list"
            [class.empty]="!notificationsService.notifications.length"
        >
            @for (
                notification of notificationsService.notifications;
                track notification.id
            ) {
                <dd24-notification
                    class="notification-list-entry"
                    [notification]="notification"
                ></dd24-notification>
            } @empty {
                <p class="notification-empty-message">No notifications</p>
            }
        </div>
    </p-overlayPanel>
</div>
