@use "layouts";

.notifications-menu-wrapper {
    @include layouts.flex(column, center, center);
}

.notifications-list {
    display: block;
    min-width: 15rem;
    max-width: 20rem;
    min-height: 5rem;
    max-height: 20rem;
    overflow-y: auto;
}

.pi {
    font-size: calc(var(--font-size-large) * 1.2);
    color: var(--outline-color);
}

.notifications-header {
    font-size: var(--font-size-medium);
}

.notifications-header-wrapper {
    @include layouts.flex(row, space-between, center);
    background-color: var(--accent-color-2);
    color: var(--text-accent-color-2);
    padding: 0.2rem 0.4rem;
}

.notifications-dots-btn {
    cursor: pointer;

    i {
        color: var(--text-accent-color-2);
        font-size: var(--font-size-small);
    }
}

.notifications-menu-nav {
    @include layouts.flex(row, space-between, center);
    flex-wrap: wrap;
    padding: 0.4rem;
}

.notifications-navigation {
    @include layouts.flex(row, center, center);
    padding: 0.2rem;
    background-color: var(--accent-color-2);
}

.notifications-menu-bottom {
    // @include layouts.center;
}
