<div class="user-activity">
    @if (userData) {
        <dd24-user-information-card class="user-info" [user]="userData">
            <div class="buttons-wrapper">
                <p-button
                    label="Your data"
                    [routerLink]="['..', 'your-data']"
                />
                <p-button
                    label="Security & Privacy"
                    [routerLink]="['..', 'security-privacy']"
                />
            </div>
        </dd24-user-information-card>
    }
    @if (windowService.isMobile$ | async) {
        <div class="activity-tabs-wrapper">
            <h3 class="activity-header">Your Activity</h3>
            <p-tabMenu class="activity-tabs" [model]="tabs"></p-tabMenu>
        </div>
    }
    <div class="auctions-list">
        <router-outlet class="activity-outlet"></router-outlet>
        @if (childUrlSegment === "current") {
            <p-button
                class="activity-btn"
                [label]="
                    (windowService.isMobile$ | async) === false
                        ? 'View past activity'
                        : 'View history'
                "
                routerLink="past"
            />
        }
    </div>
</div>
