@use "layouts";

.side-search-form {
    @include layouts.flex(column, center, stretch, 1rem, nowrap);
    font-size: var(--font-size-small);
    padding: 0 1rem;
    color: var(--text-color-2);
    font-weight: var(--font-weight-regular);
    line-height: normal;
}

.side-search-policy-section {
    @include layouts.flex(row, start, center, 1ch, nowrap);
}

.side-search-switch {
    height: 1.25rem;
}

.side-search-header {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bolder);
}

.side-search-type-section,
.side-search-category-section {
    @include layouts.flex(column, start, start, 0.5rem, nowrap);
}

.side-search-checkbox-wrapper {
    @include layouts.flex(row, start, center, 1ch, nowrap);
}

label {
    cursor: pointer;
}

.side-search-category-item {
    font-size: var(--font-size-small);
    line-height: normal;
    display: inline-block;
    padding: 0.2rem;
    color: var(--links-color);

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

:host ::ng-deep {
    .p-inputswitch {
        height: 1.25rem;
        width: 2rem;
    }

    .p-inputswitch-slider::before {
        width: 0.65rem;
        height: 0.65rem;
        margin-top: -0.325rem;
    }

    .p-inputswitch-checked .p-inputswitch-slider::before {
        transform: translateX(0.8rem);
    }

    .p-menuitem-text {
        font-size: var(--font-size-small);
    }

    .p-panelmenu-panel {
        border: none;
        margin: 0;
        padding: 0.4rem 0;
    }

    .p-panelmenu-header-action,
    .p-menuitem-link {
        background: none;
        padding: 0;
    }

    .p-panelmenu-header-content,
    .p-panelmenu-content,
    .p-menuitem-content {
        border: none;
        background: none;
    }
}
