@use "layouts";
@use "viewports";

.payment-method-option {
    @include layouts.flex(row, start, center, 1rem);
    padding: 1rem 0;
    position: relative;
    cursor: pointer;
    background-color: var(--component-color);

    @include viewports.mobile {
        flex-wrap: wrap;
    }
}

.payment-method-label {
    margin-right: 1rem;
}

.payment-method-number {
    color: var(--text-color-3);
}

.payment-method-number {
    font-family: var(--monospace-font);
}

.spacer {
    flex: 1;
}
