<div
    class="payment-method-option"
    [formGroup]="form"
    [style]="optionStyle"
    (click)="onSelect()"
    tabindex="0"
    (keypress)="onKeyPress($event)"
>
    <p-radioButton
        #radioButton
        class="payment-method-radio"
        [value]="optionValue"
        [formControlName]="controlName"
        tabindex="-1"
    ></p-radioButton>
    @if (isSavedPaymentMethod()) {
        <span class="payment-method-label"
            >Use saved
            {{ savedPaymentMethodValue.type | paymentMethodLabel }}</span
        >
        @if (windowService.isMobile$ | async) {
            <div class="spacer"></div>
        }
        <span class="payment-method-number">{{
            savedPaymentMethodValue.identifyingNumber
                | masked: savedPaymentMethodValue.type
        }}</span>
    } @else {
        <span class="payment-method-label"
            >Add a new {{ paymentMethodTypeValue | paymentMethodLabel }}</span
        >
    }
</div>
