<div
    class="payment-method-option"
    [formGroup]="form"
    [style]="optionStyle"
    (click)="onSelect()"
    tabindex="0"
    (keypress)="onKeyPress($event)"
>
    <p-radioButton
        #radioButton
        class="payment-method-radio"
        [value]="optionValue"
        [formControlName]="controlName"
    ></p-radioButton>
    @if (isSavedPaymentMethod()) {
        <span class="payment-method-label"
            >Use saved
            {{ savedPaymentMethodValue.type | paymentMethodLabel }}</span
        >
        <span class="payment-method-number">{{
            showNumber
                ? savedPaymentMethodValue.identifyingNumber
                : (savedPaymentMethodValue.identifyingNumber
                  | masked: "payment")
        }}</span>
        <button
            class="payment-option-mask-btn"
            (click)="toggleNumberVisibility($event)"
        >
            <i
                class="mask-button-icon pi"
                [class.pi-eye]="!showNumber"
                [class.pi-eye-slash]="showNumber"
            ></i>
        </button>
    } @else {
        <span class="payment-method-label"
            >Add a new {{ paymentMethodTypeValue | paymentMethodLabel }}</span
        >
    }
</div>
