@use "layouts";
@use "viewports";

.your-page {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    padding-left: 1rem;
    padding-right: 1rem;

    @include viewports.mobile {
        padding-left: 2%;
        padding-right: 2%;
    }
}

.your-page-outlet {
    display: none;
}

.your-page-header {
    font-size: calc(var(--font-size-large) * 1.5);
    font-weight: var(--font-weight-bolder);
    line-height: normal;
}
