@use "layouts";
@use "viewports";

.app {
    @include layouts.grid("header" auto "main" 1fr "footer" auto / 1fr);
    width: 100%;
    min-height: 100dvh;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: var(--background-color);
    position: relative;

    .header {
        grid-area: header;
        width: 100%;
        top: 0;
        z-index: 500;
    }

    .content {
        grid-area: main;
        @include layouts.flex(column, stretch, stretch);
    }

    .primary-route-content {
        flex-grow: 1;
    }

    .footer {
        grid-area: footer;
        z-index: 500;
    }

    @include viewports.mobile {
        .header,
        .footer {
            position: sticky;
        }

        .header {
            top: 0;
        }

        .footer {
            bottom: 0;
        }
    }

    .create-auction-button {
        position: fixed;
        z-index: 501;
        bottom: 1rem;
        right: 1rem;
    }

    .sidebar,
    .toast,
    .overlay-outlet,
    .overlay-outlet + *,
    .dialog {
        grid-area: header;
    }

    .placeholder {
        width: 100%;
        height: 100%;
        @include layouts.center;
        padding: var(--page-items-gap) 15%;

        @include viewports.mobile {
            padding: 1em 2%;
        }
    }
}

.app-mobile {
    min-height: calc(100dvh + 1px);
}

.hidden {
    display: none;
}

:host ::ng-deep {
    .create-auction-button .p-button {
        padding: 1.8rem;
        .p-button-icon {
            font-size: 2rem;
        }
    }
}
