@use "layouts";
@use "viewports";

.app {
    @include layouts.grid("header" auto "main" 1fr "footer" auto / 1fr);
    width: 100%;
    min-height: 100svh;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: var(--background-color);

    .header {
        grid-area: header;
        width: 100%;
        top: 0;
        z-index: 500;

        @include viewports.mobile {
            position: sticky;
            top: 0;
        }
    }

    .content {
        grid-area: main;
    }

    .footer {
        grid-area: footer;
        z-index: 500;

        @include viewports.mobile {
            position: sticky;
            bottom: 0;
        }
    }

    .create-auction-button {
        position: fixed;
        z-index: 501;
        bottom: 1rem;
        right: 1rem;
    }

    .sidebar,
    .toast,
    .overlay-outlet,
    .overlay-outlet + * {
        grid-area: header;
    }
}

:host ::ng-deep {
    .create-auction-button .p-button {
        width: 4rem;
        height: 4rem;
        .p-button-icon {
            font-size: 2rem;
        }
    }
}
