<div class="app">
    <div class="content" dd24StretchOnScroll>
        <router-outlet
            (activate)="onMainRouterOutletActivate()"
            (deactivate)="onMainRouterOutletDeactivate()"
        ></router-outlet>
        @if (isLoadingRouteIndicator.isLoading$ | async) {
            <dd24-loading-placeholder
                [style]="{ padding: '1rem 15%' }"
            ></dd24-loading-placeholder>
        }
    </div>
    @if ((windowService.isMobile$ | async) === false) {
        @if ((windowService.UIhidden$ | async) === false) {
            @defer (when (windowService.isMobile$ | async) === false) {
                <dd24-header
                    class="header"
                    dd24SmartSticky
                    [transitionTime]="0.4"
                    [hideOffset]="100"
                    [showOffset]="70"
                ></dd24-header>
                <dd24-footer class="footer"></dd24-footer>
                <p-button
                    class="create-auction-button"
                    icon="pi pi-plus"
                    [rounded]="true"
                    size="large"
                    routerLink="/create-auction"
                />
            }
        }
    } @else {
        @defer (when windowService.isMobile$ | async) {
            <dd24-mobile-header class="header"></dd24-mobile-header>
            @if ((windowService.UIhidden$ | async) === false) {
                <dd24-mobile-navbar class="footer"></dd24-mobile-navbar>
            }
        }
    }
    <dd24-sidebar class="sidebar"></dd24-sidebar>
    <p-toast class="toast" [baseZIndex]="9999999999"></p-toast>
    <router-outlet class="overlay-outlet" name="overlay"></router-outlet>
</div>
