<div class="app">
    <div class="content">
        <router-outlet
            (activate)="onMainRouterOutletActivate()"
            (deactivate)="onMainRouterOutletDeactivate()"
        ></router-outlet>
        <router-outlet name="overlay"></router-outlet>
        @if (isLoadingRouteIndicator.isLoading$ | async) {
            <dd24-loading-placeholder></dd24-loading-placeholder>
        }
    </div>
    @if ((windowService.isMobile$ | async) === false) {
        @if ((windowService.UIhidden$ | async) === false) {
            @defer (when (windowService.isMobile$ | async) === false) {
                <dd24-header class="header"></dd24-header>
                <dd24-footer class="footer"></dd24-footer>
                <p-button
                    class="create-auction-button"
                    icon="pi pi-plus"
                    [rounded]="true"
                    size="large"
                    routerLink="/create-auction"
                />
            }
        }
    } @else {
        @defer (when windowService.isMobile$ | async) {
            <dd24-mobile-header class="header"></dd24-mobile-header>
            <dd24-mobile-navbar class="footer"></dd24-mobile-navbar>
        }
    }
    <dd24-sidebar></dd24-sidebar>
</div>
