@use "viewports";

:host ::ng-deep {
    .p-dialog {
        width: 60%;
    }

    .p-menuitem-link {
        border-radius: 0;
        outline: none;
    }

    .p-dialog-header-close {
        padding: 0;
    }

    @include viewports.mobile {
        .p-dialog-mask {
            justify-content: stretch;
            align-items: start;
            overflow: hidden;
            height: 100dvh;
            max-height: 100dvh;
        }

        .p-dialog {
            width: 100%;
            border-radius: 0;
            border: none;
            height: 100dvh;
            max-height: 100dvh;
        }

        .p-dialog-header-close {
            padding: 1.5rem;
        }

        .p-dialog-header-close-icon {
            font-size: 2rem;
            color: var(--basic-affordances-color);
        }

        .p-dialog-header {
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: 0 !important;
        }

        .p-dialog-title {
            margin-left: 2rem;
        }

        .p-dialog-content {
            overflow: scroll;
            border-radius: 0 !important;
        }
    }
}
