@use "viewports";

::ng-deep {
    .p-dialog {
        min-width: 60%;
        @include viewports.mobile {
            width: 100vw;
            height: 100vh;
            border-radius: 0;
        }
    }

    .p-menuitem-link {
        border-radius: 0;
        outline: none;
    }
}
