<div class="edit-user-form">
    @if ((windowService.isMobile$ | async) === false) {
        <aside class="edit-user-side">
            <p-menu
                [model]="tabs"
                class="edit-user-menu"
                [style]="{
                    background: 'none',
                    borderRadius: 0,
                    border: 'none',
                    padding: 0
                }"
            />
        </aside>
    } @else {
        <p-button
            class="go-back-btn"
            label="Go back"
            icon="pi pi-chevron-left"
            (onClick)="navigation.back()"
        />
    }
    <div class="edit-user-main">
        <ng-content></ng-content>
    </div>
</div>
