<div class="theme-settings">
    <div class="theme-selection" [formGroup]="themeForm">
        <div class="theme-entry">
            <p-radioButton
                name="theme"
                value="light"
                inputId="theme-light"
                formControlName="theme"
            />
            <label for="theme-light" class="ml-2"> Light </label>
        </div>

        <div class="theme-entry">
            <p-radioButton
                name="theme"
                value="dark"
                inputId="theme-dark"
                formControlName="theme"
            />
            <label for="theme-dark" class="ml-2"> Dark </label>
        </div>

        <div class="theme-entry">
            <p-radioButton
                name="theme"
                value="system"
                inputId="theme-system"
                formControlName="theme"
            />
            <label for="theme-system"> Follow system </label>
        </div>

        @for (option of themeVariationOptions; track $index) {
            @if (currentTheme === option.theme && option.options.length > 1) {
                <div class="theme-variation-buttons-wrapper">
                    <span>{{ option.theme | oneCharUpper }} theme</span>
                    <p-selectButton
                        class="theme-variation-buttons"
                        [formControlName]="option.controlName"
                        [options]="option.options"
                        allowEmpty="false"
                    />
                </div>
            }
        }
    </div>
    @if (themeLoading$ | async) {
        <p-progressSpinner
            strokeWidth="6"
            [style]="{ height: '3rem', width: '3rem' }"
        ></p-progressSpinner>
    }
</div>
