<div class="theme-selection">
    <div class="theme-entry">
        <p-radioButton
            name="theme"
            value="light"
            inputId="theme-light"
            [formControl]="themeControl"
        />
        <label for="theme-light" class="ml-2"> Light </label>
    </div>

    <div class="theme-entry">
        <p-radioButton
            name="theme"
            value="dark"
            inputId="theme-dark"
            [formControl]="themeControl"
        />
        <label for="theme-dark" class="ml-2"> Dark </label>
    </div>

    <div class="theme-entry">
        <p-radioButton
            name="theme"
            value="system"
            inputId="theme-system"
            [formControl]="themeControl"
        />
        <label for="theme-system"> System </label>
    </div>
</div>
