@use "layouts";
@use "viewports";

.auction-creation-category-selection {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
}

.category-btns-container {
    @include layouts.flex(row, start, center, 2ch, wrap);

    @include viewports.mobile {
        flex-direction: column;
        align-items: stretch;
        flex-wrap: nowrap;
    }
}
