<div class="auction-creation-category-selection">
    <input
        #filterInput
        pInputText
        type="text"
        [placeholder]="placeholder | oneCharUpper"
        [formControl]="control"
    />

    @if (interacted) {
        <div class="category-btns-container">
            @for (category of filteredCategories; track category.index) {
                <dd24-radio-toggle-button
                    class="category-btn"
                    [value]="category.value"
                    [label]="category.value | oneCharUpper"
                    [controlName]="controlName"
                    (checked)="emitSelected()"
                ></dd24-radio-toggle-button>
            }
            @for (macroCategory of macroCategories; track $index) {
                <dd24-radio-toggle-button
                    class="category-btn"
                    [value]="macroCategory"
                    [label]="'Other (' + (macroCategory | oneCharUpper) + ')'"
                    [controlName]="controlName"
                    (checked)="emitSelected()"
                ></dd24-radio-toggle-button>
            }
        </div>
    }
</div>
