<div class="payment-method-form" [style]="formStyle">
    @if (type === PaymentMethodType.creditCard) {
        <div
            class="inputs-wrapper credit-card-inputs"
            [formGroup]="newMethodGroup"
        >
            <div class="input ownerName-input-wrapper">
                <label for="ownerName">Owner</label>
                <dd24-input
                    controlName="ownerName"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'the owner\'s name is required'
                        }
                    ]"
                >
                    <input
                        pInputText
                        class="ownerName-input"
                        type="text"
                        formControlName="ownerName"
                        name="ownerName"
                        id="ownerName"
                        placeholder="The owner's full name"
                    />
                </dd24-input>
            </div>
            <div class="input cardNumber-input-wrapper">
                <label for="cardNumber">Card number</label>
                <dd24-input
                    controlName="cardNumber"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'the card number is required'
                        },
                        {
                            validation: ['minlength', 'maxlength'],
                            message:
                                'the credit card number must be 16 digits long'
                        }
                    ]"
                >
                    <p-inputMask
                        class="cardNumber-input"
                        type="text"
                        formControlName="cardNumber"
                        name="cardNumber"
                        inputId="cardNumber"
                        mask="9999-9999-9999-9999"
                        autoClear="false"
                        unmask="true"
                        placeholder="1234-1234-1234-1234"
                        [dd24DescendantsAttributes]="[
                            {
                                selectors: ['input'],
                                attributes: {
                                    inputmode: 'numeric'
                                }
                            }
                        ]"
                    />
                </dd24-input>
            </div>
            <div class="input expirationDate-input-wrapper">
                <label for="expirationDate">Expiration</label>
                <dd24-input
                    controlName="expirationDate"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'the expiration date is required'
                        },
                        {
                            customValidation: 'invalidExpirationDate',
                            message: 'This is not a valid date'
                        },
                        {
                            customValidation: 'expirationDatePassed',
                            message: 'This card has expired'
                        }
                    ]"
                >
                    <p-inputMask
                        class="expirationDate-input"
                        type="text"
                        formControlName="expirationDate"
                        name="expirationDate"
                        inputId="expirationDate"
                        mask="99/99"
                        slotChar="mm/yy"
                        placeholder="mm/yy"
                        [style]="{ width: '10ch' }"
                        [dd24DescendantsAttributes]="[
                            {
                                selectors: ['input'],
                                attributes: { inputmode: 'numeric' }
                            }
                        ]"
                    />
                </dd24-input>
            </div>
            <div class="input cvv-input-wrapper">
                <label for="cvv">CVV</label>
                <dd24-input
                    controlName="cvv"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'the cvv is required'
                        }
                    ]"
                >
                    <p-inputMask
                        class="cvv-input"
                        type="text"
                        formControlName="cvv"
                        name="cvv"
                        inputId="cvv"
                        mask="999?9"
                        unmask="true"
                        slotChar="___ "
                        placeholder="123"
                        [style]="{ width: '8ch' }"
                        [dd24DescendantsAttributes]="[
                            {
                                selectors: ['input'],
                                attributes: { inputmode: 'numeric' }
                            }
                        ]"
                    />
                </dd24-input>
            </div>
        </div>
    } @else if (type === PaymentMethodType.IBAN) {
        <div class="inputs-wrapper iban-inputs" [formGroup]="newMethodGroup">
            <div class="input">
                <label for="iban">IBAN</label>
                <dd24-input
                    controlName="iban"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'an IBAN is required'
                        },
                        {
                            customValidation: 'invalidIBAN',
                            message: 'This IBAN is not valid'
                        }
                    ]"
                >
                    <input
                        class="iban-input"
                        type="text"
                        pInputText
                        formControlName="iban"
                        name="iban"
                        id="iban"
                    />
                </dd24-input>
            </div>
        </div>
    }
    <div class="payment-method-checkbox-wrapper" [formGroup]="form">
        <p-checkbox
            formControlName="save"
            inputId="save-checkbox"
            binary="true"
            (keypress)="toggleSave($event)"
        ></p-checkbox>
        <label for="save-checkbox">Save for future deals</label>
    </div>
</div>
