@use "layouts";
@use "viewports";

.payment-method-form {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    background-color: var(--component-color);
    padding: 1rem;
}

.iban-input {
    width: 40ch;
    @include viewports.mobile {
        width: 100%;
    }
}

.payment-method-checkbox-wrapper {
    @include layouts.flex(row, start, center, 1ch);
}
