$primaryColor: #9b5efe;
$primaryLightColor: #a269fd;
$primaryLighterColor: #ae7cfe;
$primaryLightestColor: #b689fd;
$primaryTextColor: #030712;

$highlightBg: rgba(74, 128, 255, 0.4);
$highlightTextColor: rgba(255, 255, 255, 0.87);
$highlightFocusBg: rgba(74, 128, 255, 0.4);

$secondaryColor: #fbca23;
$secondaryTextColor: #030712;

@import "../theme";
