<ng-template #imageCarousel let-isOverlay="isOverlay">
    <p-carousel
        class="auction-image-carousel dd24-carousel"
        [value]="carouselItems"
        [numVisible]="1"
        [style]="{ height: '100%', width: '100%' }"
        [page]="imageCarouselPage"
        (onPage)="onImageCarouselNavigation($event)"
        showIndicators="false"
        ><ng-template let-picture pTemplate="item">
            <div class="carousel-item-wrapper">
                <div
                    class="carousel-item-mask"
                    (click)="hideCarouselOverlay()"
                    tabindex="0"
                    (keypress)="hideCarouselOverlayKeypress($event)"
                ></div>
                @if (!picture.isEmpty && !isPictureErrored(picture.index)) {
                    <img
                        class="auction-image"
                        [src]="picture.url"
                        alt="Auction image"
                        (error)="onImageError(picture.index)"
                        (click)="showCarouselOverlay()"
                        tabindex="0"
                        (keypress)="showCarouselOverlayKeypress($event)"
                    />
                } @else {
                    <div class="auction-image-placeholder">
                        <i
                            class="auction-image-placeholder-icon pi pi-image"
                        ></i>
                    </div>
                }
            </div>
        </ng-template>
        <ng-template pTemplate="previousicon">
            <i class="pi pi-chevron-left carousel-icon"></i>
        </ng-template>
        <ng-template pTemplate="nexticon">
            <i class="pi pi-chevron-right carousel-icon"></i>
        </ng-template>
    </p-carousel>
    @if (isOverlay) {
        <p-button
            class="overlay-btn close-btn"
            icon="pi pi-times"
            [rounded]="true"
            severity="secondary"
            (click)="hideCarouselOverlay()"
        ></p-button>
    }
</ng-template>

<p-dialog
    modal="true"
    [(visible)]="display"
    draggable="false"
    resizable="false"
    showHeader="false"
    (onHide)="onClose()"
    [closeIcon]="
        (windowService.isMobile$ | async) ? 'pi pi-arrow-left' : 'pi pi-times'
    "
    [dismissableMask]="true"
    maskStyle="overflow: scroll;align-items: start;padding: 1svh; "
    [style]="{ position: 'relative', 'max-height': 'none' }"
    [contentStyle]="{
        'border-radius': 'var(--border-radius-large)',
        width: 'min(45rem, 100svw)',
        padding: 0,
        'max-height': 'none'
    }"
>
    @if (auction) {
        <div #auctionDetailsContainer class="auction-details">
            <div class="auction-details-info">
                <div class="auction-image-container">
                    <ng-container
                        *ngTemplateOutlet="
                            imageCarousel;
                            context: { isOverlay: false }
                        "
                    ></ng-container>
                </div>
                <h3 class="auction-category">{{ auction.category }}</h3>
                @if (user) {
                    <dd24-user-preview
                        class="auction-user"
                        [user]="user"
                        [country]="auction.location.country"
                        [city]="auction.location.city"
                    ></dd24-user-preview>
                }
                <h1 class="auction-title">
                    {{ auction.title }}
                </h1>
                <p class="auction-conditions">{{ auction.conditions ?? "" }}</p>
                <span
                    class="auction-description-wrapper"
                    [class.auction-description-expanded]="
                        expanded || !expandable
                    "
                    ><p class="auction-description">
                        {{ auction.description ?? "" }}
                    </p>
                    @if (expandable && !expanded) {
                        <span class="auction-description-mask"></span>
                        <p-button
                            class="expand-btn"
                            label="SHOW ALL"
                            severity="secondary"
                            (click)="onExpand()"
                            [style]="{
                                'border-radius': '0',
                                color: 'var(--text-color-3)',
                                'font-weight': 'var(--font-weight-bolder)'
                            }"
                        ></p-button>
                    }
                </span>

                @if ((windowService.isMobile$ | async) === false) {
                    <p-button
                        class="overlay-btn close-btn"
                        icon="pi pi-times"
                        [rounded]="true"
                        severity="secondary"
                        (click)="onClose()"
                    ></p-button>
                    <p-button
                        class="overlay-btn share-btn"
                        icon="pi pi-share-alt"
                        [rounded]="true"
                        severity="secondary"
                        (click)="onShare()"
                    ></p-button>
                }
            </div>

            <section class="auction-details-bottom">
                <dd24-auction-type-link
                    class="auction-type"
                    [type]="auction.type"
                ></dd24-auction-type-link>
                <p class="auction-bid">
                    {{ auction.lastBidDescription | oneCharUpper }}:
                    <span class="auction-bid-amount">{{
                        auction.lastBid | currency: auction.currency
                    }}</span>
                    @if (auction.bids) {
                        <span class="auction-bids-count">
                            {{ auction.bids }} bids made</span
                        >
                    }
                </p>
                <p class="auction-time">
                    <span>Time left: </span>
                    <dd24-timer
                        [timeLeft]="timeLeft"
                        style="font-weight: var(--font-weight-bolder)"
                    ></dd24-timer>
                    <span class="auction-end-date"
                        >Until {{ auction.endTime | localDate }}</span
                    >
                </p>

                @if ((windowService.isMobile$ | async) === false) {
                    <p-divider
                        class="divider"
                        [style]="{
                            'margin-top': 'var(--auction-details-padding)',
                            'margin-bottom': 'var(--auction-details-padding)'
                        }"
                    ></p-divider>
                }
                <p-button
                    class="auction-bid-btn"
                    label="Make a bid"
                    [style]="{ padding: '1rem' }"
                    (onClick)="onBid()"
                ></p-button>
            </section>

            @if (windowService.isMobile$ | async) {
                <nav class="auction-details-navbar">
                    <button
                        class="auction-details-navbar-btn"
                        (click)="onClose()"
                    >
                        <i
                            class="auction-details-navbar-icon pi pi-arrow-left"
                        ></i>
                    </button>

                    <button
                        class="auction-details-navbar-btn"
                        (click)="onShare()"
                    >
                        <i
                            class="auction-details-navbar-icon pi pi-share-alt"
                        ></i>
                    </button>
                </nav>
            }
        </div>

        <p-dialog
            contentStyleClass="dd24-carousel-overlay"
            modal="true"
            draggable="false"
            resizable="false"
            showHeader="false"
            appendTo="body"
            [(visible)]="displayCarouselOverlay"
            maskStyle="align-items: center;padding: 0; "
            [style]="{
                position: 'relative',
                'max-height': 'none',
                border: 'none'
            }"
            [contentStyle]="{
                'border-radius': '0',
                border: 'none',
                width: '100sv',
                height: '100svh',
                padding: 0,
                'max-height': 'none'
            }"
        >
            <ng-container
                *ngTemplateOutlet="imageCarousel; context: { isOverlay: true }"
            ></ng-container
        ></p-dialog>
    }
</p-dialog>
