@use "layouts";
@use "box";

.auction-details {
    @include layouts.grid(
        $template: "picture picture" auto "category user" auto "title title"
            auto "conditions conditions" auto "description description" 1fr
            "divider divider" auto "auction-type auction-type" auto "bid bid"
            auto "time time" auto "bid-btn bid-btn" auto / 1fr 1fr,

        $gap: 0,
        $justify-items: center,
        $align-items: center,
        $justify-content: stretch,
        $align-content: stretch
    );
    --auction-details-padding: 1.5rem;
    width: 100%;
    min-height: max(98svh, 45rem);
    color: var(--text-color-1);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    padding: var(--auction-details-padding);
    overflow: visible;
}

.auction-image-container {
    grid-area: picture;
    @include layouts.center;
    height: 20rem;
    width: calc(100% + var(--auction-details-padding) * 2);
    background-color: black;
    border-bottom: var(--border);
    margin: calc(var(--auction-details-padding) * -1);
    margin-bottom: 0;
}

.auction-image {
    display: block;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.auction-category,
.auction-user,
.divider {
    @include box.margin-vertical(1rem);
}

.auction-category {
    grid-area: category;
    font-size: var(--font-size-large);
    color: var(--text-color-3);
    font-weight: var(--font-weight-bolder);
    justify-self: start;
}

.auction-user {
    grid-area: user;
    justify-self: end;
}

.auction-title {
    grid-area: title;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bolder);
}

.auction-conditions {
    grid-area: conditions;
    color: var(--text-color-3);
}

.auction-description {
    grid-area: description;
    align-self: start;
}

.divider,
.auction-bid-btn-wrapper {
    width: calc(100% + var(--auction-details-padding) * 2);
    @include box.margin-horizontal(calc(var(--auction-details-padding) * -1));
}

.divider {
    grid-area: divider;
}

.auction-type,
.auction-bid,
.auction-time {
    justify-self: start;
}

.auction-type {
    grid-area: auction-type;
}

.auction-bid,
.auction-time {
    margin-top: 0.5rem;
}

.auction-bid {
    grid-area: bid;
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-size-large);
}

.auction-time {
    grid-area: time;
    .auction-end-date {
        white-space: nowrap;
    }
}

.auction-bid-btn-wrapper {
    grid-area: bid-btn;
    border-top: var(--border);
    @include layouts.center;
    padding-top: var(--auction-details-padding);
    margin-top: 1rem;
    background-color: var(--component-color);

    .auction-bid-btn {
        width: 60%;
    }
}

.close-btn {
    grid-area: picture;
    justify-self: end;
    align-self: start;
    margin: calc(var(--auction-details-padding) * -0.7);
}

.share-btn {
    grid-area: picture;
    justify-self: end;
    align-self: start;
    margin: calc(var(--auction-details-padding) * -0.7);
    margin-right: 3rem;
}

.next-pic-btn {
    grid-area: picture;
    justify-self: end;
    align-self: center;
    margin-right: calc(var(--auction-details-padding) * -0.7);
}

.prev-pic-btn {
    grid-area: picture;
    justify-self: start;
    align-self: center;
    margin-left: calc(var(--auction-details-padding) * -0.7);
}

:host ::ng-deep {
    .overlay-btn {
        .p-button {
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
        }
        .p-button-icon::before {
            font-size: 1.5rem;
            color: white;
        }
    }
}
