<dd24-edit-user-data-form [tabs]="tabs">
    <section
        id="sp-login-security"
        class="security-privacy-section"
        #securityAndPrivacySection
    >
        <h1 class="security-privacy-header">Login & Security</h1>
        <div class="user-email-input-wrapper">
            <label class="user-email-label" for="user-email"> Email </label>
            <p-iconField
                iconPosition="right"
                [style]="{ width: '100%', display: 'block' }"
            >
                <input
                    class="user-email-input"
                    type="text"
                    pInputText
                    disabled
                    id="user-email"
                    [value]="
                        maskEmail ? (user.email | masked: 'email') : user.email
                    "
                    style="width: 100%"
                />
                <p-inputIcon
                    styleClass="pi pi-eye{{ maskEmail ? '' : '-slash' }}"
                    (click)="toggleEmailMask()"
                />
            </p-iconField>
        </div>
        @if (editPasswordForm.disabled) {
            <p-button
                class="change-password-btn"
                label="Change password"
                icon="pi pi-pen-to-square"
                [disabled]="disableEditPasswordForm"
                (onClick)="showEditPasswordForm()"
            />
        } @else {
            <form
                class="edit-password-form"
                [formGroup]="editPasswordForm"
                (ngSubmit)="editPassword()"
            >
                <p-button
                    class="undo-edit-password-btn"
                    label="Undo"
                    icon="pi pi-arrow-left"
                    (onClick)="hideEditPasswordForm()"
                    outlined="true"
                />
                <div class="input">
                    <label for="old-password">Old password</label>
                    <dd24-input
                        controlName="oldPassword"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'your old password is required'
                            },
                            {
                                validation: [
                                    'pattern',
                                    'minlength',
                                    'maxlength'
                                ],
                                message:
                                    'a password must be at least 8 characters long, and contain at least one lowercase letter, one uppercase letter, and one special character.'
                            }
                        ]"
                    >
                        <p-password
                            class="p-fluid"
                            type="password"
                            formControlName="oldPassword"
                            name="old-password"
                            [feedback]="false"
                            toggleMask="true"
                            placeholder="Your old password"
                            inputId="old-password"
                        />
                    </dd24-input>
                </div>
                <div class="input">
                    <label for="new-password">New password</label>
                    <dd24-input
                        controlName="newPassword"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'a password is required'
                            },
                            {
                                validation: [
                                    'pattern',
                                    'minlength',
                                    'maxlength'
                                ],
                                message:
                                    'a password must be at least 8 characters long, and contain at least one lowercase letter, one uppercase letter, and one special character.'
                            },
                            {
                                customValidation: 'newPasswordSameAsOld',
                                message:
                                    'new password must be different from the old password'
                            }
                        ]"
                    >
                        <p-password
                            class="p-fluid"
                            type="password"
                            formControlName="newPassword"
                            name="new-password"
                            [feedback]="true"
                            toggleMask="true"
                            placeholder="A strong password"
                            [strongRegex]="environment.passwordStrongPattern"
                            [mediumRegex]="environment.passwordMediumPattern"
                            inputId="new-password"
                            autocomplete="new-password"
                        />
                    </dd24-input>
                </div>

                <div class="input">
                    <label for="confirm-new-password"
                        >Confirm new password</label
                    >
                    <dd24-input
                        controlName="confirmNewPassword"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'you need to confirm your password'
                            },
                            {
                                customValidation: 'passwordsDoNotMatch',
                                message: 'passwords do not match'
                            }
                        ]"
                    >
                        <p-password
                            class="p-fluid"
                            type="password"
                            formControlName="confirmNewPassword"
                            name="confirm-new-password"
                            [feedback]="false"
                            toggleMask="true"
                            placeholder="The same as above"
                            inputId="confirm-new-password"
                            autocomplete="new-password"
                        />
                    </dd24-input>
                </div>

                <p-button
                    class="edit-password-submit-btn"
                    label="Confirm change"
                    icon="pi pi pi-check"
                    type="submit"
                    [loading]="submissionLoading"
                />
            </form>
        }
    </section>
    <section id="sp-tos-pp" class="security-privacy-section">
        <h1 class="security-privacy-header">
            Terms of service and Privacy policy
        </h1>
        <p>{{ termsOfServiceText }}</p>
    </section>
</dd24-edit-user-data-form>
