@use "layouts";
@use "viewports";

:host {
    flex-grow: 1;
    @include layouts.flex(column, stretch, stretch);
    padding: 0 calc(15% - 1rem);

    @include viewports.mobile {
        padding: 0;
    }
}

.security-privacy-section {
    @include layouts.flex(column, start, start, 1rem);
    padding: 1.5rem;

    &:not(:last-child) {
        border-bottom: var(--border);
    }
}

.security-privacy-header {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bolder);
    line-height: var(--line-height-large);
}

.user-email-input-wrapper {
    @include layouts.flex(column, start, stretch);
    width: 20ch;

    @include viewports.mobile {
        width: 100%;
    }
}
