@use "layouts";

:host {
    flex-grow: 1;
    @include layouts.flex(column, stretch, stretch);
    padding: 0 calc(15% - 1rem);
}

.security-privacy-section {
    @include layouts.flex(column, start, start, 1rem);
    padding: 1.5rem;

    &:not(:last-child) {
        border-bottom: var(--border);
    }
}

.security-privacy-header {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bolder);
    line-height: var(--line-height-large);
}
