@import "flex";
.search-section {
    @include flex(row, start, stretch, 1ch);
    width: 100%;
    font-size: var(--font-size-large);
    height: 1.5em;

    .search-inputs-container {
        @include flex(row, start, stretch);
        overflow: hidden;
        font-size: var(--font-size-medium);
        border: 2px solid var(--outline-color);
        flex-grow: 1;

        > :not(:last-child) {
            border-right: 2px solid var(--outline-color);
        }

        .search-bar {
            flex-grow: 1;
            @include flex(row, start, center);
        }
    }
    .search-button {
        font-size: var(--font-size-large);
        padding: 0 1ch;
        border-radius: 0;
    }
}
