<form
    class="search-section"
    [formGroup]="searchForm"
    (ngSubmit)="handleSubmit()"
>
    <div class="search-inputs-container">
        <dd24-search-bar
            class="search-bar"
            variant="alternate"
            formControlName="keywords"
            placeholder="What are you looking for?"
        ></dd24-search-bar>
        <div class="type-selection">type</div>
        <div class="category-selection">category</div>
    </div>
    <p-button
        type="submit"
        class="search-button"
        icon="pi pi-search"
        label="Search"
    ></p-button>
</form>
