<div class="transactions-page">
    @if ((windowService.isMobile$ | async) === false) {
        <aside class="transactions-page-side">
            <button
                class="transactions-page-back-button"
                (click)="navigation.back()"
            >
                <i class="pi pi-arrow-left"></i>
            </button>
            <dd24-logo class="logo"></dd24-logo>
        </aside>
    }
    <div class="transactions-page-main">
        <router-outlet class="transactions-page-outlet"></router-outlet>
    </div>
</div>
