@use "layouts";

.notification-list {
    @include layouts.flex(column, start, stretch);

    &.empty {
        justify-content: center;
        align-items: center;
    }
}

.notification-empty-message {
    color: var(--text-color-3);
    padding: 0 0.4rem;
}

.notification-list-entry + .notification-list-entry {
    border-top: var(--border);
    &.unread {
        border-color: var(--accent-color-1);
    }
}

.notification-list-entry.unread + .notification-list-entry {
    border-top: var(--border);
    border-color: var(--accent-color-1);
}

.loading-spinner {
    align-self: center;
}

.notification-placeholder {
    height: 5px;
}
