<div
    class="notification-list"
    #notificationsList
    [class.empty]="!notificationsService.notifications.length"
    [style]="listStyles"
>
    @for (
        notification of notificationsService.notifications;
        track notification.id
    ) {
        @defer (on viewport) {
            <dd24-notification
                class="notification-list-entry"
                [class.unread]="!notification.read"
                [notification]="notification"
                (deleted)="deleteNotification(notification)"
                (read)="onRead(notification)"
                (loaded)="onNotificationLoaded(notification)"
            ></dd24-notification>
        } @placeholder {
            <div class="notification-placeholder"></div>
        }
    } @empty {
        <p class="notification-empty-message">No new notifications</p>
    }
    @if (loadingIndicator.isLoading$ | async) {
        <p-progressSpinner
            class="loading-spinner"
            [style]="{ height: '2rem', width: '2rem' }"
            strokeWidth="4"
        ></p-progressSpinner>
    }
</div>
