<div class="user-menu">
    <p-menu
        class="p-fluid"
        [style]="{ width: 'fit-content', 'max-width': '40vw' }"
        [model]="items"
        [class.closed]="!isOpen"
    >
        <ng-template pTemplate="start">
            <div
                class="user-menu-top"
                (click)="toggle()"
                (keypress)="onKeyPress($event)"
                tabindex="0"
            >
                <i
                    [class]="
                        isOpen ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                    "
                ></i>
                <span class="spacer"></span>
                <span class="user-menu-top-username">
                    {{ (authentication.loggedUser$ | async)?.username }}
                </span>
                <p-avatar
                    class="user-menu-top-avatar"
                    [icon]="
                        (authentication.loggedUser$ | async)
                            ?.profilePictureUrl && !showImagePlaceholder
                            ? ''
                            : 'pi pi-user'
                    "
                    [image]="
                        (authentication.loggedUser$ | async)
                            ?.profilePictureUrl ?? ''
                    "
                    (onImageError)="onImageError()"
                    shape="circle"
                    [style]="{ border: '2px solid var(--outline-color)' }"
                />
            </div>
        </ng-template>
    </p-menu>
</div>
