@use "layouts";

.user-menu {
    height: 2.6rem;
    @include layouts.flex(column, start, center);
    z-index: 600;
    position: relative;
    overflow: visible;
}

.user-menu-top {
    @include layouts.flex(row, end, center, 1ch);
    padding: 0 0.75rem;
    height: 2rem;
    user-select: none;

    .pi {
        color: var(--basic-affordances-color);
    }

    .spacer {
        flex: 1;
    }

    #{&}-username {
        font-weight: var(--font-weight-bold);
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

:host ::ng-deep {
    .closed .p-menu-list {
        display: none;
    }
    .p-menuitem-content:not(:hover) {
        background: transparent;
    }
}
