<main class="bidding-page">
    @if ((windowService.isMobile$ | async) === false) {
        <h1 class="bidding-page-title">Make your bid</h1>
    }
    @if (auction) {
        <dd24-auction-card
            class="bidding-page-auction-card"
            [auction]="auction"
            [cardStyle]="{
                borderRadius: 0,
                borderLeft: 'none',
                borderRight: 'none'
            }"
            [skipLocationChange]="true"
        ></dd24-auction-card>
        <form
            class="bidding-page-form"
            [formGroup]="bidForm"
            (ngSubmit)="onSubmit()"
        >
            <label class="bidding-page-input-label" for="bidAmount"
                >Your {{ auction.newBidCategory() }} bid</label
            >
            <dd24-input
                class="bidding-page-input"
                controlName="amount"
                [errorMessages]="[
                    {
                        validation: 'required',
                        message: 'You need to enter a bid amount'
                    },
                    {
                        validation: 'min',
                        message: 'Bid must not be a negative number'
                    },
                    {
                        customValidation: 'invalidBid',
                        message: this.auction.invalidBidError() | findCurrency
                    }
                ]"
                [floatingError]="true"
            >
                <p-inputGroup>
                    <p-inputGroupAddon
                        [style]="
                            (this.windowService.isMobile$ | async)
                                ? { fontSize: '1.8em' }
                                : {}
                        "
                    >
                        {{ currencySymbol }}
                    </p-inputGroupAddon>
                    <p-inputNumber
                        #amountInput
                        formControlName="amount"
                        class="amount-input"
                        name="amount"
                        id="bidAmount"
                        [placeholder]="
                            auction.newBidDescription()
                                | findCurrency
                                | oneCharUpper
                        "
                        min="0"
                        maxlength="9"
                        showButtons="false"
                        [locale]="locale"
                        [maxFractionDigits]="2"
                        [inputStyle]="{
                            borderTopLeftRadius: 0,
                            borderBottomLeftRadius: 0
                        }"
                        autofocus
                    ></p-inputNumber>
                </p-inputGroup>
            </dd24-input>
            <p-button
                class="bidding-page-submit-btn"
                label="Bid"
                type="submit"
            ></p-button>
        </form>
    }
</main>
