@use "layouts";
@use "viewports";
@use "box";

.bidding-page {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    color: var(--text-color-1);
    padding: 2rem;
    padding-top: 4rem;
    background-color: var(--background-color);

    @include viewports.mobile {
        height: 100%;
    }
}

.bidding-page-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bolder);
    line-height: var(--line-height-large);
}

.bidding-page-auction-card {
    margin: 0 -2rem;
}

.bidding-page-form {
    @include layouts.grid(
        "label ." auto "input btn" auto / auto auto,
        $justify-content: start,
        $justify-items: start
    );
    column-gap: 1ch;

    @include viewports.mobile {
        height: 100%;
        grid-template: "label" auto "input" auto "." 1fr "btn" auto / 1fr;
        justify-content: stretch;
        justify-items: stretch;
    }
}

.bidding-page-input-label {
    grid-area: label;
}

.bidding-page-input {
    grid-area: input;
}

.bidding-page-submit-btn {
    grid-area: btn;

    @include viewports.mobile {
        margin-top: var(--page-items-gap);
    }
}

:host ::ng-deep {
    .bidding-page-submit-btn .p-button {
        @include box.padding-horizontal(2rem);

        @include viewports.mobile {
            padding: 1rem;
        }
    }
}
