<main class="bidding-page">
    <h1 class="bidding-page-title">Make your bid</h1>
    @if (auction) {
        <dd24-auction-card
            class="bidding-page-auction-card"
            [auction]="auction"
            [cardStyle]="{
                borderRadius: 0,
                borderLeft: 'none',
                borderRight: 'none'
            }"
            [skipLocationChange]="true"
        ></dd24-auction-card>
        <form [formGroup]="bidForm" (ngSubmit)="onSubmit()">
            <label for="bidAmount"
                >Your {{ auction.newBidCategory() }} bid</label
            >
            <dd24-input
                controlName="amount"
                [errorMessages]="[
                    {
                        validation: 'required',
                        message: 'You need to enter a bid amount'
                    }
                ]"
            >
                <p-inputGroup>
                    <p-inputGroupAddon>
                        {{ currencySymbol }}
                    </p-inputGroupAddon>
                    <p-inputNumber
                        formControlName="amount"
                        class="amount-input"
                        name="amount"
                        id="bidAmount"
                        [placeholder]="
                            auction.newBidDescription()
                                | findCurrency
                                | oneCharUpper
                        "
                        showButtons="false"
                        [locale]="locale"
                        [maxFractionDigits]="2"
                        [inputStyle]="{
                            borderTopLeftRadius: 0,
                            borderBottomLeftRadius: 0,
                            maxWidth: '25ch'
                        }"
                    ></p-inputNumber>
                </p-inputGroup>
            </dd24-input>
        </form>
    }
</main>
