<dd24-edit-user-data-form [tabs]="tabs">
    <section id="yd-public-profile" class="your-data-section">
        <h1 class="your-data-header">Public profile</h1>

        <dd24-profile-picture-input
            [picture]="user.profilePictureUrl"
            [maxFileSize]="environment.profilePictureMaxSize"
            (pictureSelection)="saveProfilePicture($event)"
        />

        <div
            class="public-profile-inputs-wrapper"
            [formGroup]="editYourDataForm.controls.publicProfileData"
        >
            <div class="pp-input-wrapper">
                <label for="username-input">Username</label>
                <dd24-editable-field
                    controlName="username"
                    [currentValue]="user.username"
                    (submission)="editPublicProfileData()"
                    (enabled)="disableControlsOtherThan(['username'])"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'username cannot be empty'
                        }
                    ]"
                >
                    <input
                        type="text"
                        pInputText
                        formControlName="username"
                        name="username"
                        id="username-input"
                        pKeyFilter="alphanum"
                        [maxlength]="environment.usernameMaxLength"
                    />
                </dd24-editable-field>
            </div>
            <div class="pp-location">
                <span style="margin-left: 3.5rem">Location</span>
                <div class="pp-location-inputs-wrapper">
                    <div class="pp-location-btns">
                        @if (
                            editYourDataForm.controls.publicProfileData.controls
                                .country.disabled
                        ) {
                            <p-button
                                icon="pi pi-pen-to-square"
                                outlined="true"
                                (onClick)="enableLocationControls()"
                            />
                        } @else {
                            <p-button
                                icon="pi pi-times"
                                severity="danger"
                                (onClick)="disableLocationControls()"
                            />
                            <p-button
                                icon="pi pi-check"
                                (onClick)="editPublicProfileData()"
                            />
                        }
                    </div>
                    <div class="pp-location-inputs">
                        <div class="pp-input-wrapper">
                            <label for="country-input">Country</label>
                            <dd24-input
                                controlName="country"
                                [errorMessages]="[
                                    {
                                        validation: 'required',
                                        message: 'country cannot be empty'
                                    }
                                ]"
                            >
                                <p-autoComplete
                                    #countryAutoComplete
                                    formControlName="country"
                                    name="country"
                                    emptyMessage="No countries found"
                                    [suggestions]="filteredCountries"
                                    optionLabel="name"
                                    optionValue="code"
                                    forceSelection="true"
                                    minLength="2"
                                    (completeMethod)="completeCountries($event)"
                                    inputId="country-input"
                                    [pKeyFilter]="
                                        environment.alphaAndWhiteSpacePattern
                                    "
                                />
                            </dd24-input>
                        </div>
                        <div class="pp-input-wrapper">
                            <label for="city-input">City</label>
                            <dd24-input
                                controlName="city"
                                [errorMessages]="[
                                    {
                                        validation: 'required',
                                        message: 'city cannot be empty'
                                    }
                                ]"
                            >
                                <p-autoComplete
                                    formControlName="city"
                                    name="city"
                                    emptyMessage="No cities found"
                                    [suggestions]="filteredCities"
                                    forceSelection="true"
                                    minLength="2"
                                    (completeMethod)="completeCities($event)"
                                    inputId="city-input"
                                    [pKeyFilter]="
                                        environment.alphaAndWhiteSpacePattern
                                    "
                                />
                            </dd24-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pp-input-wrapper">
                <label for="bio-input" style="margin-left: 3.5rem">Bio</label>
                <dd24-editable-field
                    variant="expanded"
                    controlName="bio"
                    [currentValue]="user.bio"
                    (enabled)="disableControlsOtherThan(['bio'])"
                    (submission)="editPublicProfileData()"
                >
                    <textarea
                        pInputTextarea
                        expanded
                        type="text"
                        pInputText
                        formControlName="bio"
                        name="bio"
                        id="bio-input"
                        [maxlength]="environment.bioMaxLength"
                        autoResize="true"
                        [style]="{ minHeight: '7rem', minWidth: '20rem' }"
                    ></textarea>
                </dd24-editable-field>
            </div>
        </div>
    </section>
    <section id="yd-links" class="your-data-section">
        <h1 class="your-data-header">Links</h1>
        <div class="links-form-wrapper">
            @if (
                (windowService.isMobile$ | async) === false ||
                mobileNewLinkFormShown
            ) {
                <form
                    class="new-link-form"
                    [formGroup]="editYourDataForm.controls.newLink"
                    (ngSubmit)="addLink()"
                >
                    @if (windowService.isMobile$ | async) {
                        <p-button
                            class="new-link-form-btn"
                            label="Undo"
                            icon="pi pi-arrow-left"
                            (onClick)="mobileNewLinkFormShown = false"
                            outlined="true"
                        />
                        <p>Add a new link</p>
                    }
                    <div class="link-input-wrapper">
                        <label for="link-name">Name</label>
                        <dd24-input
                            controlName="name"
                            [errorMessages]="[
                                {
                                    validation: 'required',
                                    message: 'you need a name for your link'
                                },
                                {
                                    validation: 'maxlength',
                                    message:
                                        'the link name can\'t be longer than ' +
                                        environment.personalLinkMaxLength +
                                        ' characters'
                                }
                            ]"
                        >
                            <input
                                class="p-fluid"
                                type="text"
                                pInputText
                                formControlName="name"
                                name="name"
                                placeholder="A description for your link"
                                id="link-name"
                                [maxlength]="environment.personalLinkMaxLength"
                            />
                        </dd24-input>
                    </div>

                    <div class="link-input-wrapper">
                        <label for="link-url">Url</label>
                        <dd24-input
                            controlName="url"
                            [errorMessages]="[
                                {
                                    validation: 'required',
                                    message: 'you need to input an url'
                                },
                                {
                                    validation: 'pattern',
                                    message: 'this is not a valid url'
                                },
                                {
                                    customValidation: 'duplicate',
                                    message: 'you can\'t have duplicate urls'
                                }
                            ]"
                        >
                            <input
                                class="p-fluid"
                                type="text"
                                pInputText
                                formControlName="url"
                                name="url"
                                placeholder="the address to redirect to"
                                id="link-url"
                            />
                        </dd24-input>
                    </div>
                    <p-button
                        class="new-link-form-btn"
                        label="Add"
                        icon="pi pi-plus"
                        type="submit"
                    />
                </form>
            }
            @if ((windowService.isMobile$ | async) && !mobileNewLinkFormShown) {
                <p-button
                    class="show-new-link-form-btn"
                    label="Add a new link"
                    icon="pi pi-plus"
                    (onClick)="mobileNewLinkFormShown = true"
                />
            }
            <div class="saved-links">
                @for (link of user.links; track link.id) {
                    <span class="saved-link">
                        <p-button
                            class="saved-link-del"
                            icon="pi pi-trash"
                            [style]="{ width: '2rem', height: '2rem' }"
                            (onClick)="deleteLink(link)"
                        />

                        <a
                            class="saved-link-anchor"
                            [href]="link.url"
                            target="_blank"
                        >
                            <i class="pi pi-link"></i>
                            <span class="user-link-text wk-nowrap wk-lc-2">
                                &nbsp;{{ link.name }}
                            </span>
                        </a>
                    </span>
                }
            </div>
        </div>
    </section>
    <section id="yd-private-area" class="your-data-section">
        <h1 class="your-data-header">Private area</h1>
        <div class="private-area-inputs">
            @for (field of privateAreaFields; track $index) {
                <div class="private-area-input-wrapper">
                    <label
                        class="private-area-label"
                        for="private-area-{{ field.key }}"
                    >
                        {{ field.label }}
                    </label>
                    <input
                        class="private-area-input"
                        [type]="field.type"
                        pInputText
                        disabled
                        id="private-area-{{ field.key }}"
                        [value]="user[field.key]"
                    />
                </div>
            }
        </div>
    </section>
    <section id="yd-payment-methods" class="your-data-section">
        <h1 class="your-data-header">Payment methods</h1>
        <div class="payment-methods-form-wrapper">
            @if (savedPaymentMethods.length) {
                <div class="saved-payment-methods">
                    @for (method of savedPaymentMethods; track method.id) {
                        <div class="saved-method">
                            <p-button
                                class="saved-method-del"
                                icon="pi pi-trash"
                                [style]="{ width: '2rem', height: '2rem' }"
                                (onClick)="promptDeletePaymentMethod(method)"
                            />
                            <label
                                class="saved-method-label"
                                for="{{ method.type }}-{{ method.id }}"
                                >Saved
                                {{ method.type | paymentMethodLabel }}</label
                            >
                            <input
                                class="saved-method-input"
                                type="text"
                                pInputText
                                disabled
                                id="{{ method.type }}-{{ method.id }}"
                                [value]="
                                    method.identifyingNumber
                                        | masked: method.type
                                "
                            />
                        </div>
                    }
                </div>
            }
            @if (newPaymentMethodFormShown === null) {
                <div class="add-method-btns">
                    @for (
                        paymentMethodType of newPaymentMethodOptions;
                        track $index
                    ) {
                        <p-button
                            class="add-method-btn"
                            label="Add a new {{
                                paymentMethodType | paymentMethodLabel
                            }}"
                            icon="pi pi-plus"
                            (onClick)="
                                newPaymentMethodFormShown = paymentMethodType
                            "
                        />
                    }
                </div>
            } @else {
                <form
                    class="new-payment-method-form"
                    [formGroup]="editYourDataForm.controls.newPaymentMethod"
                    (ngSubmit)="savePaymentMethod()"
                >
                    <p-button
                        class="new-payment-method-btn"
                        label="Undo"
                        icon="pi pi-arrow-left"
                        (onClick)="newPaymentMethodFormShown = null"
                        outlined="true"
                    />
                    <span
                        >Add a new
                        {{
                            newPaymentMethodFormShown | paymentMethodLabel
                        }}</span
                    >
                    <dd24-payment-method-form
                        [form]="editYourDataForm.controls.newPaymentMethod"
                        [type]="newPaymentMethodFormShown"
                        [formStyle]="{ padding: 0, background: 'none' }"
                    />

                    <p-button
                        class="new-payment-method-btn"
                        label="Save"
                        icon="pi pi-check"
                        type="submit"
                        [loading]="displayLoading"
                        [style]="{ paddingLeft: '2rem', paddingRight: '2rem' }"
                    />
                </form>
            }
        </div>
    </section>
    <section id="yd-security-privacy" class="your-data-section">
        <h1 class="your-data-header">Security & Privacy</h1>
        <p-button
            label="Go to Security & Privacy"
            [routerLink]="['..', 'security-privacy']"
        />
    </section>
</dd24-edit-user-data-form>
