@use "layouts";

.not-found-page {
    @include layouts.flex(column, center, center, 1ch);
    height: 100%;
    width: 100%;
}

.not-found-icon {
    font-size: 7rem;
    color: var(--border-color-transparent);
    font-weight: 900;
}

.not-found-message {
    font-size: var(--font-size-large);
    color: var(--text-color-3);
    font-weight: var(--font-weight-bold);
}
