@import "grid";
@import "overlay";
@import "flex";

.authentication-page {
    height: 100vh;
    background-color: var(--background-color);

    @include overlay;

    @include grid(
        $template: "banner main" 1fr / 52% 48%,
        $align-content: stretch,
        $justify-content: stretch
    );

    .banner {
        grid-area: banner;
        background-color: var(--side-color);
        position: relative;
        @include flex(column, center, center);
        border-right: 2px solid var(--outline-color);

        .page-back-button {
            $size: 6rem;
            @include flex(row, center, center);
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            border: none;
            color: var(--text-accent-color);
            height: $size;
            width: $size;
            overflow: hidden;
            font-size: $size;
        }

        .logo {
            width: 70%;
        }
    }

    main {
        @include flex(column, center, center);
    }
}
