@use "layouts";
@use "viewports";
@use "box";

.authentication-page {
    height: 100vh;
    background-color: var(--background-color);
    width: 100%;

    @include layouts.grid(
        $template: "banner main" 1fr / 52% 48%,
        $align-content: stretch,
        $justify-content: stretch,
        $align-items: stretch,
        $justify-items: stretch
    );

    @include viewports.mobile {
        grid-template: "main" 1fr / 1fr;
        height: 100%;
    }

    .banner {
        grid-area: banner;
        background-color: var(--side-color);
        position: relative;
        @include layouts.flex(column, center, center);
        border-right: 2px solid var(--border-color-side);

        @include viewports.mobile {
            display: none;
        }

        .page-back-button {
            --size: 4rem;

            @include layouts.flex(row, center, center);
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            border: none;
            color: var(--text-accent-color-2);
            overflow: hidden;
            padding: calc(var(--size) / 4);

            i {
                height: var(--size);
                width: var(--size);
                font-size: var(--size);
            }

            @include viewports.mobile {
                position: static;
                --size: 2rem;
            }
        }

        .logo {
            width: 70%;
        }
    }

    main {
        grid-area: main;
        @include layouts.flex(column, start, center, 1rem);
        @include box.padding-vertical(2rem);
        overflow: scroll;
        .logo {
            align-self: center;
            display: block;
            width: 75%;
        }
        .spacer {
            flex: 1;
        }
        @include viewports.mobile {
            align-items: stretch;
            overflow: auto;
            background-color: var(--component-color);
        }
    }
}
