<div class="authentication-page">
    <div class="banner">
        <button class="page-back-button" (click)="goBack()">
            <i class="pi pi-arrow-left" id="arrow-back-button-icon"></i>
        </button>
        @if ((windowService.isMobile$ | async) === false) {
            <dd24-logo class="logo"></dd24-logo>
        }
    </div>
    <main>
        @if (windowService.isMobile$ | async) {
            <div class="logo">
                <dd24-logo></dd24-logo>
            </div>
        }
        <ng-content id="authentication-form"></ng-content>
    </main>
</div>
