@use "layouts";
@use "viewports";

.sidebar-content {
    @include layouts.flex(column, start, stretch, 2rem);
}

:host ::ng-deep {
    @include viewports.mobile {
        .p-sidebar {
            border: none;
        }

        .p-sidebar-header {
            padding: 10px 4%;
        }

        .p-sidebar-close {
            margin: 0;
            width: fit-content;
            height: fit-content;
        }

        .p-sidebar-close-icon {
            i {
                font-size: var(--mobile-icon-size);
            }
        }

        .p-sidebar-content {
            @include layouts.flex(column, center, stretch);
        }
    }
}
