<p-sidebar
    [(visible)]="windowService.isSidebarVisible"
    [fullScreen]="(windowService.isMobile$ | async) ?? false"
>
    <ng-template pTemplate="closeicon">
        <i
            [class]="
                (windowService.isMobile$ | async)
                    ? 'pi pi-arrow-left'
                    : 'pi pi-times'
            "
        ></i>
    </ng-template>
    <div class="sidebar-content">
        <dd24-logo (clickEvent)="hideSidebar()"></dd24-logo>
        <p-panelMenu [model]="(items$ | async) ?? []"></p-panelMenu>
    </div>
</p-sidebar>
