@use "layouts";
@use "viewports";

.sidebar-content {
    @include layouts.flex(column, start, stretch, 2rem);
    height: 100%;
}

.close-icon {
    color: var(--outline-color);
}

.spacer {
    flex: 1;
}

.cookie-consent {
    color: var(--link-color);
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

:host ::ng-deep {
    @include viewports.mobile {
        .p-sidebar {
            border: none;
        }

        .p-sidebar-header {
            padding: 3px calc(4% - var(--mobile-icon-padding));
        }

        .p-sidebar-close {
            margin: 0;
            width: fit-content;
            height: fit-content;
        }

        .p-sidebar-close-icon {
            padding: var(--mobile-icon-padding);
            .close-icon {
                font-size: var(--mobile-icon-size);
                color: var(--mobile-icon-color);
            }
        }

        .p-sidebar-content {
            @include layouts.flex(column, center, stretch);
        }
    }
}
