<p-sidebar
    [(visible)]="windowService.isSidebarVisible"
    [fullScreen]="(windowService.isMobile$ | async) ?? false"
>
    <ng-template pTemplate="closeicon">
        <i
            [class]="
                (windowService.isMobile$ | async)
                    ? 'pi pi-arrow-left close-icon'
                    : 'pi pi-times close-icon'
            "
        ></i>
    </ng-template>
    <div class="sidebar-content">
        <dd24-logo (clickEvent)="hideSidebar()"></dd24-logo>
        <p-panelMenu [model]="(items$ | async) ?? []"></p-panelMenu>
        <div class="spacer"></div>
        <a
            class="cookie-consent"
            (click)="showCookiePolicy($event)"
            (keyup.enter)="showCookiePolicy($event)"
            tabindex="0"
            >Cookie policy</a
        >
    </div>
</p-sidebar>
