<dd24-authentication-page>
    <div class="form-card">
        <h1>Log in to DietiDeals24</h1>
        <a href="https://example.com" class="registration-link">
            you don't have an account?
        </a>
        <form class="google-login">
            <button type="submit">
                <img src="assets/google.svg" alt="google-logo" />
                CONTINUE WITH GOOGLE
            </button>
        </form>

        <div class="separator">
            <span class="separator-line"></span>
            <span class="separator-or">or</span>
        </div>

        <form class="login-form" [formGroup]="loginForm">
            <input
                type="email"
                placeholder="Your Email"
                class="form-field"
                formControlName="email"
            />

            @if(!loginForm.controls.email.valid &&
            loginForm.controls.email.touched){
            <span class="form-error">dsdg</span>
            }
            <input
                type="password"
                placeholder="Your Password"
                class="form-field"
                formControlName="password"
            />
            @if(!loginForm.controls.password.valid &&
            loginForm.controls.password.touched){
            <span class="form-error">dsdg</span>
            }
            <a href="https://example.com"> forgot your password? </a>
            <button
                type="submit"
                (click)="dd24Login()"
                [disabled]="!loginForm.valid"
            >
                Login
            </button>
        </form>
    </div>
</dd24-authentication-page>
