<dd24-authentication-page>
    <div class="form-card">
        <h1>Log into DietiDeals24</h1>
        <a routerLink="/register" class="registration-link">
            you don't have an account?
        </a>
        <form class="google-login">
            <p-button
                class="google-login-btn p-fluid"
                type="submit"
                severity="secondary"
            >
                <img src="assets/google.svg" alt="google-logo" />
                CONTINUE WITH GOOGLE
            </p-button>
        </form>

        <div class="separator">
            <span class="separator-line"></span>
            <span class="separator-or">or</span>
        </div>

        <form
            class="login-form"
            [formGroup]="loginForm"
            (ngSubmit)="dd24Login()"
        >
            <section class="inputs">
                <!-- <dd24-input
                    label="Email address"
                    name="email"
                    type="email"
                    placeholder="Your Email"
                    class="form-field"
                    formControlName="email"
                    [formError$]="formError$"
                    (focusEvent)="clearError()"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'an email is required'
                        },
                        {
                            validation: 'email',
                            message: 'please enter a valid email'
                        }
                    ]"
                >
                    <dd24-text-input></dd24-text-input>
                </dd24-input>

                <dd24-input
                    label="Password"
                    name="password"
                    type="password"
                    placeholder="Your Password"
                    class="form-field"
                    formControlName="password"
                    [formError$]="formError$"
                    (focusEvent)="clearError()"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'a password is required'
                        },
                        {
                            validation: ['pattern', 'minlength', 'maxlength'],
                            message:
                                'A password must be at least 8 characters long, and contain at least one lowercase letter, one uppercase letter, and one special character.'
                        }
                    ]"
                >
                    <dd24-text-input></dd24-text-input>
                </dd24-input> -->
                <div class="input email-input">
                    <label for="email">Email</label>
                    <input
                        class="p-fluid"
                        type="email"
                        pInputText
                        formControlName="email"
                        name="email"
                    />
                </div>
                <div class="input password-input">
                    <label for="password">Password</label>
                    <p-password
                        class="p-fluid"
                        type="password"
                        formControlName="password"
                        name="password"
                        [feedback]="false"
                        toggleMask="true"
                    />
                </div>
            </section>
            <a routerLink="/forgot-password"> forgot your password? </a>
            @if (error) {
                <span class="error">{{ error }}</span>
            }
            <p-button
                label="Login"
                type="submit"
                class="login-submit"
            ></p-button>
        </form>
    </div>
</dd24-authentication-page>
