@import "flex";
@import "grid";
@import "padding-horizontal";
@import "padding-vertical";
@import "mobile";

.form-card {
    border: var(--border);
    border-radius: var(--border-radius-large);
    @include flex(column, flex-start, center, 0.2rem);
    @include padding-vertical(1.2rem);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-normal);
    width: 25ch;

    @include mobile {
        border: none;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    > :not(.separator) {
        @include padding-horizontal(1rem);
    }

    h1 {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
        margin: 0;
    }

    a {
        font-size: var(--font-size-small);
    }

    .google-login {
        margin: 1rem 0;
        width: 100%;
        @include padding-horizontal(3rem);
        button {
            @include flex(row, center, center, 1ch);
            width: 100%;
            padding: 0.2rem 2rem;
            border: var(--border);
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-bold);
            background-color: #ffffff;
            border-radius: var(--border-radius-small);
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: darken(#ffffff, 8%);
            }
        }
    }

    .separator {
        width: 100%;
        font-size: var(--font-size-medium);
        @include grid(
            $template: "." 1fr / 1fr,
            $justify-content: center,
            $align-content: center,
            $justify-items: center,
            $align-items: center
        );

        .separator-or {
            @include padding-horizontal(0.5ch);
            color: var(--text-color-2);
            font-weight: var(--font-weight-bold);
            text-align: center;
            grid-row: 1;
            grid-column: 1;
            background-color: var(--component-color);
        }

        .separator-line {
            grid-row: 1;
            grid-column: 1;
            border-top: var(--border);
            justify-self: stretch;
            height: 1px;
        }
    }

    .login-form {
        @include flex(column, flex-start, stretch);
        @include padding-horizontal(3rem);
        font-size: var(--font-size-medium);
        width: 100%;

        .inputs {
            @include flex(column, flex-start, stretch, 0.5rem);
        }

        a,
        .error {
            align-self: center;
            margin-bottom: 1rem;
            word-wrap: break-word;
        }
    }
}
