<nav class="mobile-nav" [class.minimal]="windowService.UIhidden$ | async">
    @if (windowService.UIhidden$ | async) {
        <button (click)="location.back()">
            <i class="pi pi-arrow-left"></i>
        </button>
    } @else {
        <button (click)="windowService.isSidebarVisible = true">
            <i class="pi pi-bars"></i>
        </button>
        @if ((title$ | async) !== "DietiDeals24") {
            <h1 class="title" [class.long]="longTitle">{{ title$ | async }}</h1>
        } @else {
            <dd24-logo class="logo"></dd24-logo>
            <div class="spacer"></div>
        }
        <button routerLink="/help" routerLinkActive="link-active">
            <i class="link-icon pi pi-question-circle"></i>
        </button>
    }
</nav>
