@use "layouts";

.mobile-nav {
    @include layouts.flex(row, start, center, 1.5rem);
    padding: 0.5rem 1rem;
    background-color: var(--component-color);
    border-bottom: var(--border);
    width: 100%;
    max-width: 100%;

    i {
        font-size: 2rem;
        color: var(--basic-affordances-color);
    }

    .title {
        font-size: var(--font-size-large);
        flex: 1;
        line-height: calc(var(--font-size-large) * 0.8);

        &.long {
            font-size: var(--font-size-medium);
        }
    }

    .logo {
        height: 2rem;
        width: fit-content;
        display: block;
    }

    .spacer {
        flex: 1;
    }
}
