@use "layouts";

.mobile-nav {
    @include layouts.grid(
        1fr / auto 1fr auto,
        $align-content: center,
        $align-items: center,
        $gap: 1.5rem
    );
    grid-auto-flow: column;
    padding: 3px calc(4% - var(--mobile-icon-padding));
    background-color: var(--component-color);
    border-bottom: var(--border);
    width: 100dvw;
    max-width: 100%;

    i {
        color: var(--basic-affordances-color);
    }

    .title-wrapper {
        overflow: hidden;
    }

    .title {
        font-size: var(--font-size-large);
        line-height: normal;
        max-width: 100%;

        &.title-long {
            font-size: var(--font-size-medium);
        }
    }

    .logo {
        height: var(--mobile-icon-size);
        width: fit-content;
        display: block;
    }

    .spacer {
        flex: 1;
    }

    .link-icon,
    .hamb-menu,
    .nav-icon {
        color: var(--mobile-tab-icon-color);
    }
}

.mobile-header-btn {
    padding: var(--mobile-icon-padding);
    border-radius: 5000px;
}

.link-active {
    .link-icon {
        font-weight: 900;
    }
}
