@use "viewports";

@layer reset {
    @import "normalize-scss/sass/normalize";
    @include normalize();
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    button {
        background: none;
        border: none;
    }
}

:root {
    --background-color: var(--surface-ground);
    --component-color: var(--surface-card);
    --text-color-1: var(--text-color);
    --text-color-2: var(--text-color-secondary);
    --text-color-3: var(--text-color-tertiary);
    --text-suggestion-color: var(--text-color-suggestion);
    --text-accent-color: var(--primary-color-text);
    --text-accent-color-2: var(--secondary-color-text);
    --basic-affordances-color: var(--affordances-color);
    --outline-color: var(--text-color-1);
    --border-color: var(--surface-border);
    --accent-color-1: var(--primary-color);
    --accent-color-2: var(--secondary-color);
    --side-color: var(--color-side);
    --side-border-color: var(--border-color-side);
    --links-color: var(--link-color);
    --inputs-background: var(--inputs-bg);

    --border: 1px solid var(--border-color);

    --border-radius-small: calc(var(--border-radius) * 0.75);
    --border-radius-medium: var(--border-radius);
    --border-radius-large: calc(var(--border-radius) * 2);

    --font-size-small: calc(var(--font-size) * 0.75);
    --font-size-medium: var(--font-size);
    --font-size-large: calc(var(--font-size) * 1.6);

    --font-weight-light: 300;
    --font-weight-regular: 500;
    --font-weight-bold: 700;

    --line-height-small: 1.25rem;
    --line-height-medium: 1.5rem;
    --line-height-large: 2rem;

    --card-height: 15rem;

    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-medium);
    color: var(--text-color-1);
    background-color: var(--background-color);

    @include viewports.mobile {
        --font-size-small: calc(0.75 * var(--mobile-font-size));
        --font-size-medium: var(--mobile-font-size);
        --font-size-large: calc(1.6 * var(--mobile-font-size));
        --card-height: 10rem;
    }
}

.danger {
    color: var(--danger-color);
}

.error {
    color: var(--error-color);
}

i {
    line-height: 0;
}

.link {
    color: var(--links-color);
}

.custom-link {
    color: var(--text-color-1);
    text-decoration: none;
    font-style: normal;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.text-medium {
    font-size: var(--font-size-medium);
    line-height: var(--font-size-medium);
}

.text-large {
    font-size: var(--font-size-large);
    line-height: var(--font-size-large);
}

.text-regular {
    font-weight: var(--font-weight-regular);
}

.text-bold {
    font-weight: var(--font-weight-bold);
}

.p-dialog {
    border-radius: var(--border-radius-large);
    .p-dialog-header {
        border-top-left-radius: var(--border-radius-large);
        border-top-right-radius: var(--border-radius-large);
    }
    .p-dialog-content {
        border-bottom-left-radius: var(--border-radius-large);
        border-bottom-right-radius: var(--border-radius-large);
    }
}

.p-divider::before {
    border-color: var(--border-color);
}

.p-divider-content {
    background-color: var(--component-color);
}
