@use "viewports";
@use "layouts";
@use "box";

@layer reset {
    @import "normalize-scss/sass/normalize";
    @include normalize();
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    button {
        background: none;
        border: none;
    }
}

:root {
    --background-color: var(--surface-ground);
    --component-color: var(--surface-card);
    --text-color-1: var(--text-color);
    --text-color-2: var(--text-color-secondary);
    --text-color-3: var(--text-color-tertiary);
    --text-suggestion-color: var(--text-color-suggestion);
    --text-accent-color: var(--primary-color-text);
    --text-accent-color-2: var(--secondary-color-text);
    --text-side-color: var(--color-side-text);
    --basic-affordances-color: var(--affordances-color);
    --outline-color: var(--surface-outline);
    --border-color: var(--surface-border);
    --border-color-transparent: var(--surface-border-transparent);
    --accent-color-1: var(--primary-color);
    --accent-color-1-transparent: var(--primary-color-transparent);
    --accent-color-2: var(--secondary-color);
    --side-color: var(--color-side);
    --side-border-color: var(--border-color-side);
    --links-color: var(--link-color);
    --inputs-background: var(--inputs-bg);

    --border: 1px solid var(--border-color);

    --border-radius-small: calc(var(--border-radius) * 0.75);
    --border-radius-medium: var(--border-radius);
    --border-radius-large: calc(var(--border-radius) * 2);

    --font-size-small: calc(var(--font-size) * 0.75);
    --font-size-medium: var(--font-size);
    --font-size-large: calc(var(--font-size) * 1.6);

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --font-weight-bolder: 700;

    --line-height-small: 1.25rem;
    --line-height-medium: 1.5rem;
    --line-height-large: 2rem;

    --card-height: 15rem;
    --page-items-gap: 1.5rem;

    --mobile-overlay-shadow-top: 0 -0.2rem 0.8rem var(--border-color);

    --font: var(--font-family);
    --monospace-font: monospace;

    --mobile-icon-size: clamp(16px, 2rem, 32px);

    --active-icon-shadow: 0px 0.3px 0px var(--basic-affordances-color),
        0px -0.3px 0px var(--basic-affordances-color),
        -0.3px -0.3px 0px var(--basic-affordances-color),
        -0.3px 0.3px 0px var(--basic-affordances-color),
        0.3px 0.3px 0px var(--basic-affordances-color),
        0.3px -0.3px 0px var(--basic-affordances-color);

    font-family: var(--font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-medium);
    color: var(--text-color-1);

    @include viewports.mobile {
        --font-size-small: calc(1 * var(--mobile-font-size));
        --font-size-medium: var(--mobile-font-size);
        --font-size-large: calc(1.3 * var(--mobile-font-size));
        --card-height: 10rem;
    }
}

html,
body {
    min-height: 100svh;
    @media (prefers-color-scheme: dark) {
        background-color: black;
        background-color: var(--background-color);
    }
    background-color: var(--background-color);
}

.dd24-main-page {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: 100%;
    width: 100%;
    padding: var(--page-items-gap) 15%;
    max-width: 100dvw;
    overflow-x: hidden;

    @include viewports.mobile {
        padding: 1em 2%;
    }
}

.dd24-main-page-alt {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: 100%;
    width: 100%;
    max-width: 100dvw;
    overflow-x: hidden;
    padding-top: var(--page-items-gap);
    padding-bottom: var(--page-items-gap);
}

.dd24-auth-form {
    border: var(--border);
    border-radius: var(--border-radius-large);
    @include layouts.flex(column, flex-start, center, 0.2rem);
    padding: 1.2rem 0;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    width: 25ch;
    background-color: var(--component-color);

    @include viewports.mobile {
        border: none;
        border-radius: 0;
        width: 100%;
    }

    h1 {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bolder);
        margin: 0;
    }

    a {
        font-size: var(--font-size-small);
    }

    > :not(.divider) {
        @include box.padding-horizontal(2rem);
    }
}

@include viewports.mobile {
    .medium-icon {
        font-size: var(--mobile-icon-size);
    }
}

.danger {
    color: var(--danger-color);
}

.error {
    color: var(--error-color);
}

.wk-nowrap {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    -webkit-line-clamp: 1;
}

.wk-lc-1 {
    -webkit-line-clamp: 1;
}

.wk-lc-2 {
    -webkit-line-clamp: 2;
}

.wk-lc-3 {
    -webkit-line-clamp: 3;
}

.wk-lc-4 {
    -webkit-line-clamp: 4;
}

i {
    line-height: normal;
    text-align: center;
}

::placeholder {
    opacity: 1;
}

.link {
    color: var(--links-color);
}

.custom-link {
    color: var(--text-color-1);
    text-decoration: none;
    font-style: normal;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.text-medium {
    font-size: var(--font-size-medium);
    line-height: var(--font-size-medium);
}

.text-large {
    font-size: var(--font-size-large);
    line-height: var(--font-size-large);
}

.text-regular {
    font-weight: var(--font-weight-regular);
}

.text-bold {
    font-weight: var(--font-weight-bolder);
}

.p-dialog:not(.p-confirm-dialog) {
    border-radius: var(--border-radius-large);
    .p-dialog-header {
        border-top-left-radius: var(--border-radius-large);
        border-top-right-radius: var(--border-radius-large);
    }
    .p-dialog-content {
        border-bottom-left-radius: var(--border-radius-large);
        border-bottom-right-radius: var(--border-radius-large);
    }
}

.p-confirm-dialog-message {
    margin: 0;
}

.p-divider::before {
    border-color: var(--border-color);
}

.p-divider-content {
    background-color: var(--component-color);
}

.custom-dialog {
    .p-dialog {
        max-width: 50%;

        @include viewports.mobile {
            max-width: 100%;
            width: 100%;
        }
    }
    .p-dialog-header {
        @include layouts.grid(
            ". title close" 1fr / 1fr auto 1fr,
            $justify-items: center
        );
    }
    .p-dialog-title {
        grid-area: title;
        font-size: var(--font-size-large);
    }
    .p-dialog-header-icons {
        grid-area: close;
        justify-self: end;
        button {
            padding: 0;
        }
    }
}

.ng-dirty.ng-invalid .p-inputotp-input {
    border: 1px solid var(--error-color);
    outline: none;
}

.p-badge {
    font-size: 0.75rem;
    font-weight: var(--font-weight-bolder);
    min-width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 1.25rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.p-sidebar-left {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.p-overlaypanel-no-padding .p-overlaypanel-content {
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
}

.p-overlaypanel-no-padding::before,
.p-overlaypanel-no-padding::after {
    content: none;
}

.p-progress-spinner-circle {
    animation: p-progress-spinner-dash 1.5s ease-in-out infinite;
    stroke: var(--border-color);
}

@include viewports.mobile {
    .p-toast {
        position: fixed;
        top: 4rem;
        right: 5px;
        width: calc(100% - 10px);
    }
    .p-toast-message {
        margin-left: 1.5rem;
    }
}

.p-toast-message-content {
    height: min-content;
}

.p-toast-detail {
    margin: 0;
}

.p-toast-message-icon,
.p-toast-icon-close {
    height: 1.5rem;
    width: 1.5rem;
    @include layouts.center;
}

.p-button-secondary {
    --p-focus-ring-color: rgba(0, 0, 0, 0.3);
}

.p-autocomplete-item,
.p-dropdown-item {
    white-space: wrap;
    line-height: normal;
}

.dd24-panelmenu {
    .p-panelmenu-panel {
        border: none;
        margin: 0;
        padding: 0.4rem 0;
    }

    .p-panelmenu-header,
    .p-panelmenu-header-action,
    .p-panelmenu-header-content {
        box-shadow: none;
        outline: none;
        border: none;
    }

    .p-panelmenu-header-action,
    .p-menuitem-link {
        background: none;
        padding: 0;
    }

    .p-panelmenu-header-content,
    .p-panelmenu-content,
    .p-menuitem-content {
        border: none;
        background: none;
        padding: 0;
    }

    .p-menuitem {
        margin-left: calc(16px + 0.5rem);
    }

    &:not(.dd24-menu-small) {
        .p-menuitem-text {
            font-size: var(--font-size-medium);
            line-height: var(--line-height-medium);
        }

        .p-panelmenu-header-content .p-menuitem-text {
            font-size: var(--font-size-large);
        }

        .p-submenu-icon {
            height: var(--font-size-large);
            width: var(--font-size-large);
        }

        .p-panelmenu-panel {
            padding: 1rem 0;
        }

        .p-menuitem {
            margin-left: calc(var(--font-size-large) + 0.5rem);
            margin-right: calc(var(--font-size-large) + 0.5rem);
        }
    }
}

.p-inputgroup-addon,
.p-inputtext {
    background: var(--inputs-background);
}
