@use "viewports";
@use "layouts";
@use "box";

@layer reset {
    @import "normalize-scss/sass/normalize";
    @include normalize();
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    button {
        background: none;
        border: none;
    }
}

:root {
    --background-color: var(--surface-ground);
    --component-color: var(--surface-card);
    --text-color-1: var(--text-color);
    --text-color-2: var(--text-color-secondary);
    --text-color-3: var(--text-color-tertiary);
    --text-suggestion-color: var(--text-color-suggestion);
    --text-accent-color: var(--primary-color-text);
    --text-accent-color-2: var(--secondary-color-text);
    --basic-affordances-color: var(--affordances-color);
    --outline-color: var(--surface-outline);
    --border-color: var(--surface-border);
    --border-color-transparent: var(--surface-border-transparent);
    --accent-color-1: var(--primary-color);
    --accent-color-1-transparent: var(--primary-color-transparent);
    --accent-color-2: var(--secondary-color);
    --side-color: var(--color-side);
    --side-border-color: var(--border-color-side);
    --links-color: var(--link-color);
    --inputs-background: var(--inputs-bg);

    --border: 1px solid var(--border-color);

    --border-radius-small: calc(var(--border-radius) * 0.75);
    --border-radius-medium: var(--border-radius);
    --border-radius-large: calc(var(--border-radius) * 2);

    --font-size-small: calc(var(--font-size) * 0.75);
    --font-size-medium: var(--font-size);
    --font-size-large: calc(var(--font-size) * 1.6);

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --font-weight-bolder: 700;

    --line-height-small: 1.25rem;
    --line-height-medium: 1.5rem;
    --line-height-large: 2rem;

    --card-height: 15rem;
    --page-items-gap: 1.5rem;

    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-medium);
    color: var(--text-color-1);
    background-color: var(--background-color);

    @include viewports.mobile {
        --font-size-small: calc(0.75 * var(--mobile-font-size));
        --font-size-medium: var(--mobile-font-size);
        --font-size-large: calc(1.6 * var(--mobile-font-size));
        --card-height: 10rem;
    }
}

.dd24-main-page {
    @include layouts.flex(column, start, stretch, var(--page-items-gap));
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: 100%;
    width: 100%;
    padding: var(--page-items-gap) 15%;

    @include viewports.mobile {
        padding: 1em 2%;
    }
}

.dd24-main-page-alt {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: 100%;
    width: 100%;
    padding-top: var(--page-items-gap);
    padding-bottom: var(--page-items-gap);
}

.dd24-auth-form {
    border: var(--border);
    border-radius: var(--border-radius-large);
    @include layouts.flex(column, flex-start, center, 0.2rem);
    padding: 1.2rem 0;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    width: 25ch;
    background-color: var(--component-color);

    @include viewports.mobile {
        border: none;
        border-radius: 0;
        width: 100%;
    }

    h1 {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bolder);
        margin: 0;
    }

    a {
        font-size: var(--font-size-small);
    }

    > :not(.divider) {
        @include box.padding-horizontal(2rem);
    }
}

.danger {
    color: var(--danger-color);
}

.error {
    color: var(--error-color);
}

i {
    line-height: 0;
}

.link {
    color: var(--links-color);
}

.custom-link {
    color: var(--text-color-1);
    text-decoration: none;
    font-style: normal;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.text-medium {
    font-size: var(--font-size-medium);
    line-height: var(--font-size-medium);
}

.text-large {
    font-size: var(--font-size-large);
    line-height: var(--font-size-large);
}

.text-regular {
    font-weight: var(--font-weight-regular);
}

.text-bold {
    font-weight: var(--font-weight-bolder);
}

.p-dialog {
    border-radius: var(--border-radius-large);
    .p-dialog-header {
        border-top-left-radius: var(--border-radius-large);
        border-top-right-radius: var(--border-radius-large);
    }
    .p-dialog-content {
        border-bottom-left-radius: var(--border-radius-large);
        border-bottom-right-radius: var(--border-radius-large);
    }
}

.p-divider::before {
    border-color: var(--border-color);
}

.p-divider-content {
    background-color: var(--component-color);
}

.custom-dialog {
    .p-dialog {
        max-width: 50%;

        @include viewports.mobile {
            max-width: 100%;
            width: 100%;
        }
    }
    .p-dialog-header {
        @include layouts.grid(
            ". title close" 1fr / 1fr auto 1fr,
            $justify-items: center
        );
    }
    .p-dialog-title {
        grid-area: title;
        font-size: var(--font-size-large);
    }
    .p-dialog-header-icons {
        grid-area: close;
        justify-self: end;
        button {
            padding: 0;
        }
    }
}

.ng-touched.ng-invalid .p-inputotp-input {
    border: 1px solid var(--error-color);
    outline: none;
}

.p-badge {
    font-size: 0.75rem;
    font-weight: var(--font-weight-bolder);
    min-width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 1.25rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.p-overlaypanel-no-padding .p-overlaypanel-content {
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
}

.p-overlaypanel-no-padding::before,
.p-overlaypanel-no-padding::after {
    content: none;
}

.p-progress-spinner-circle {
    animation: p-progress-spinner-dash 1.5s ease-in-out infinite;
    stroke: var(--border-color);
}

.p-toast-message {
    @include viewports.mobile {
        margin-top: 2rem;
        margin-left: 1.5rem;
    }
}

.p-toast-message-content {
    height: min-content;
}

.p-toast-detail {
    margin: 0;
}

.p-toast-message-icon,
.p-toast-icon-close {
    height: 1.5rem;
    width: 1.5rem;
    @include layouts.center;
}

.p-button-secondary {
    --p-focus-ring-color: rgba(0, 0, 0, 0.3);
}

.p-autocomplete-item,
.p-dropdown-item {
    white-space: wrap;
    line-height: normal;
}
