<div class="form-card dd24-auth-form">
    <h1>Verify your email address</h1>

    <form
        class="verification-form"
        [formGroup]="verificationForm"
        (ngSubmit)="onSubmit()"
        (keypress)="onKeyPressed($event)"
        tabindex="0"
    >
        <p>
            We have sent an email to the selected address containing a code for
            verification.
        </p>
        <div class="input code-input">
            <dd24-input
                controlName="code"
                [errorMessages]="[
                    {
                        validation: 'required',
                        message: 'a code is required'
                    },
                    {
                        validation: ['minlength', 'maxlength'],
                        message: 'the code must be 5 digits long'
                    }
                ]"
            >
                <p-inputOtp
                    formControlName="code"
                    [integerOnly]="true"
                    [length]="5"
                ></p-inputOtp>
            </dd24-input>
        </div>
        <div class="address-box-container">
            <p>The address we sent the email to is:</p>
            <span class="address-box">
                {{
                    showEmail
                        ? verificationForm.get("email")?.value ?? ""
                        : (verificationForm.get("email")?.value ?? ""
                          | maskedEmail)
                }}
                <button
                    class="email-mask-toggle"
                    (click)="toggleEmailVisibility()"
                >
                    <i
                        [class]="showEmail ? 'pi pi-eye-slash' : 'pi pi-eye'"
                    ></i>
                </button>
            </span>
        </div>
        @if (error) {
            <span class="error">{{ error }}</span>
        }
        <p-button class="submit-btn" label="verify" type="submit"></p-button>
    </form>
</div>
