@use "layouts";
@use "box";

.form-card {
    color: var(--text-color-1);

    .verification-form {
        @include layouts.flex(column, start, stretch);
        @include box.padding-horizontal(2.5rem);
        margin: 1rem 0;
        width: 100%;
        gap: 1rem;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-normal);

        .input {
            align-self: center;
        }

        .address-box-container {
            @include layouts.flex(column, start, center);

            .address-box {
                @include layouts.flex(row, start, center, 1ch);
                color: var(--text-color-2);
            }

            .email-mask-toggle {
                @include layouts.center;
                color: var(--basic-affordances-color);
            }
        }
    }
}

:host ::ng-deep {
    .p-inputotp-input {
        padding: 0.8rem 0.75rem;
    }
}
