<div class="form-card">
    <h1>Sign up to DietiDeals24</h1>

    <a routerLink="../login" class="login-link link">
        already have an account?
    </a>

    <form class="google-registration">
        <p-button
            class="google-registration-btn p-fluid"
            type="submit"
            severity="secondary"
        >
            <img src="assets/google.svg" alt="google-logo" />
            CONTINUE WITH GOOGLE
        </p-button>
    </form>

    <p-divider class="divider" align="center">or</p-divider>

    <dd24-stepper [steps]="steps" [(activeStep)]="activeStep"></dd24-stepper>

    <form class="registration-form" [formGroup]="registrationForm">
        @if (activeStep === 0) {
            <form class="inner-form" formGroupName="anagraphics">
                <div class="input">
                    <label for="name">Name*</label>
                    <dd24-input
                        controlName="name"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'a name is required'
                            }
                        ]"
                    >
                        <input
                            class="p-fluid"
                            type="text"
                            pInputText
                            formControlName="name"
                            name="name"
                            placeholder="Your name"
                        />
                    </dd24-input>
                </div>

                <div class="input">
                    <label for="surname">Surname*</label>
                    <dd24-input
                        controlName="surname"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'a surname is required'
                            }
                        ]"
                    >
                        <input
                            class="p-fluid"
                            type="text"
                            pInputText
                            formControlName="surname"
                            name="surname"
                            placeholder="Your surname"
                        />
                    </dd24-input>
                </div>
                <div class="input">
                    <label for="birthday">Birthday*</label>
                    <dd24-input
                        controlName="birthday"
                        [errorMessages]="[
                            {
                                validation: 'required',
                                message: 'a birthday is required'
                            }
                        ]"
                    >
                        <p-calendar
                            class="p-fluid"
                            formControlName="birthday"
                            name="birthday"
                            [showIcon]="true"
                            iconDisplay="input"
                            placeholder="dd/mm/yyyy"
                            dateFormat="dd/mm/yy"
                        />
                    </dd24-input>
                </div>
                <div class="input">
                    <label for="country">Country</label>
                    <dd24-input
                        controlName="country"
                        [errorMessages]="[
                            {
                                customValidation: 'noMatchingCountry',
                                message:
                                    'You must select a valid country or none at all'
                            }
                        ]"
                    >
                        <p-autoComplete
                            class="p-fluid"
                            formControlName="country"
                            name="country"
                            placeholder="The country you live in"
                            emptyMessage="No countries found"
                            [suggestions]="filteredCountries"
                            (completeMethod)="completeCountries($event)"
                            [virtualScroll]="true"
                            [virtualScrollItemSize]="35"
                        ></p-autoComplete>
                    </dd24-input>
                </div>
                <div class="input">
                    <label for="country">City</label>
                    <dd24-input
                        controlName="city"
                        [errorMessages]="[
                            {
                                customValidation: 'noMatchingCity',
                                message:
                                    'You must select a valid city or none at all'
                            },
                            {
                                customValidation: 'noCountrySelected',
                                message:
                                    'You must select a country before selecting a city'
                            }
                        ]"
                    >
                        <p-autoComplete
                            class="p-fluid"
                            formControlName="city"
                            name="city"
                            placeholder="The city you live in"
                            emptyMessage="No cities found"
                            [suggestions]="filteredCities"
                            (completeMethod)="completeCities($event)"
                            [virtualScroll]="true"
                            [virtualScrollItemSize]="35"
                            (onFocus)="getCities()"
                        ></p-autoComplete>
                    </dd24-input>
                </div>
            </form>
        }
        @if (activeStep === 1) {
            World
        }
        @if (activeStep === 2) {
            !
        }
        <p-button class="next-btn" label="Next" (onClick)="next()"></p-button>
    </form>
</div>
