@use "layouts";
@use "viewports";
@use "box";
@use "templates";

.form-card {
    @include templates.auth-form;

    .google-login {
        margin: 1rem 0;
        width: 100%;
        @include box.padding-horizontal(3rem);
    }

    .divider {
        width: 100%;
    }

    .login-form {
        @include layouts.flex(column, flex-start, stretch);
        @include box.padding-horizontal(3rem);
        font-size: var(--font-size-medium);
        width: 100%;

        .inputs {
            @include layouts.flex(column, flex-start, stretch, 1em);

            .input {
                width: 100%;
                @include layouts.flex(column, flex-start, stretch);
            }
        }

        a,
        .error {
            align-self: center;
            margin-bottom: 1rem;
            word-wrap: break-word;
        }

        .login-submit {
            width: 100%;
        }
    }
}

:host ::ng-deep {
    .p-divider-content {
        font-weight: var(--font-weight-bold);
        color: var(--text-color-3);
    }

    .google-login-btn button {
        @include layouts.flex(row, center, center, 1ch);
    }
}
