<div class="form-card dd24-auth-form">
    <h1>Log into DietiDeals24</h1>
    <a routerLink="../register" class="registration-link link">
        you don't have an account?
    </a>
    <div class="google-login">
        <asl-google-signin-button
            class="google-signin-button"
            type="standard"
            size="large"
            text="continue_with"
            [width]="300"
            locale="en"
        />
    </div>

    <p-divider class="divider" align="center">or</p-divider>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="dd24Login()">
        <section class="inputs">
            <div class="input email-input">
                <label for="email">Email</label>
                <dd24-input
                    controlName="email"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'an email is required'
                        },
                        {
                            validation: 'email',
                            message: 'please enter a valid email'
                        }
                    ]"
                >
                    <input
                        class="p-fluid"
                        type="email"
                        pInputText
                        formControlName="email"
                        name="email"
                        placeholder="Your email"
                        id="email"
                    />
                </dd24-input>
            </div>
            <div class="input password-input">
                <label for="password">Password</label>
                <dd24-input
                    controlName="password"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message: 'a password is required'
                        },
                        {
                            validation: ['pattern', 'minlength', 'maxlength'],
                            message:
                                'a password must be at least 8 characters long, and contain at least one lowercase letter, one uppercase letter, and one special character.'
                        }
                    ]"
                >
                    <p-password
                        class="p-fluid"
                        type="password"
                        formControlName="password"
                        name="password"
                        [feedback]="false"
                        toggleMask="true"
                        placeholder="Your password"
                        inputId="password"
                    />
                </dd24-input>
            </div>
        </section>
        <a routerLink="../forgot-password" class="link forgot-password">
            forgot your password?
        </a>
        <p-button
            label="Login"
            type="submit"
            class="login-submit"
            [loading]="submissionLoading"
        ></p-button>
    </form>
</div>
