<span class="auction-type"
    >{{ ruleset + " AUCTION" | uppercase }}
    <span
        class="auction-type-link"
        [routerLink]="[
            '/',
            {
                outlets: {
                    overlay: null,
                    primary: ['help']
                }
            }
        ]"
        [fragment]="ruleset + '-auction'"
        (click)="stopPropagation($event)"
        tabindex="0"
        (keypress)="stopPropagation($event)"
        ><i class="pi pi-info-circle"></i></span
></span>
