@use "layouts";

.auction-type {
    @include layouts.flex(row, start, center, 0.5ch);
    font-size: var(--font-size-large);
    color: var(--accent-color-2);
    font-weight: var(--font-weight-bolder);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.auction-type-link {
    text-decoration: none;
    cursor: pointer;
    i {
        font-size: var(--font-size-large);
        color: var(--accent-color-2);
        font-weight: var(--font-weight-bolder);
    }
}
